<div class="theme-color-1" style="overflow: auto;">





    <app-header [themeLogo]="themeLogo"></app-header>

    <div class="slide-1 home-slider slick-initialized slick-slider"><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1349px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 1349px;"><div><div style="width: 100%; display: inline-block;">
        <div class="home text-start p-left bg-size blur-up lazyloaded" style="background-image: url(&quot;../assets/images/home-banner/14.jpg&quot;); background-size: cover; background-position: center center; display: block;">
            <img src="../assets/images/home-banner/14.jpg" alt="" class="bg-img blur-up lazyloaded" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="slider-contain">
                            <div>
                                <h4>10% discount</h4>
                                <h1>light up your home</h1><a href="#" class="btn btn-solid" tabindex="0">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div></div></div></div></div>


    <section class="section-b-space layout7-product">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12 p-0">
                    <div class="row m-0">
                        <div class="col-sm-6 col-6 p-0">
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <div class="front">
                                        <a href="product-page(no-sidebar).html"><img src="../assets/images/furniture/1.jpg" class="img-fluid blur-up lazyloaded" alt=""></a>
                                    </div>
                                    <div class="cart-info cart-wrap">
                                        <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="details-product">
                                    <a href="product-page(no-sidebar).html">
                                        <h6>Wildwood Table Lamp</h6>
                                    </a>
                                    <h4>$100.00 <del>$103.50</del></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-6 p-0">
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <div class="front">
                                        <a href="product-page(no-sidebar).html"><img src="../assets/images/furniture/2.jpg" class="img-fluid blur-up lazyloaded" alt=""></a>
                                    </div>
                                    <div class="cart-info cart-wrap">
                                        <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="details-product">
                                    <a href="product-page(no-sidebar).html">
                                        <h6>Art Nouveau Lamp</h6>
                                    </a>
                                    <h4>$120.00</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 p-0">
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <div class="front">
                                        <a href="product-page(no-sidebar).html"><img src="../assets/images/furniture/3.jpg" class="img-fluid blur-up lazyloaded" alt=""></a>
                                    </div>
                                    <div class="cart-info cart-wrap">
                                        <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="details-product">
                                    <a href="product-page(no-sidebar).html">
                                        <h6>Glass Lamp</h6>
                                    </a>
                                    <h4>$50.00</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 p-0">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="#"><img src="../assets/images/furniture/4.jpg" class="img-fluid blur-up lazyloaded" alt=""></a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="details-product">
                            <a href="product-page(no-sidebar).html">
                                <h6>Fabric Hanging Light</h6>
                            </a>
                            <h4>$75.00</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 p-0">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="#"><img src="../assets/images/furniture/5.jpg" class="img-fluid blur-up lazyloaded" alt=""></a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="details-product">
                            <a href="product-page(no-sidebar).html">
                                <h6>Driftwood Table Lamp</h6>
                            </a>
                            <h4>$200.00</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 p-0">
                    <div class="row m-0">
                        <div class="col-sm-6 col-6 p-0">
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <div class="front">
                                        <a href="product-page(no-sidebar).html"><img src="../assets/images/furniture/6.jpg" class="img-fluid blur-up lazyloaded" alt=""></a>
                                    </div>
                                    <div class="cart-info cart-wrap">
                                        <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="details-product">
                                    <a href="product-page(no-sidebar).html">
                                        <h6>Dreams Modern Chandelier</h6>
                                    </a>
                                    <h4>$120.30</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-6 p-0">
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <div class="front">
                                        <a href="product-page(no-sidebar).html"><img src="../assets/images/furniture/7.jpg" class="img-fluid blur-up lazyloaded" alt=""></a>
                                    </div>
                                    <div class="cart-info cart-wrap">
                                        <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="details-product">
                                    <a href="product-page(no-sidebar).html">
                                        <h6>Warmer Modern Table Lamp</h6>
                                    </a>
                                    <h4>$60.00</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-sm-6 col-6 p-0">
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <div class="front">
                                        <a href="product-page(no-sidebar).html"><img src="../assets/images/furniture/8.jpg" class="img-fluid blur-up lazyloaded" alt=""></a>
                                    </div>
                                    <div class="cart-info cart-wrap">
                                        <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="details-product">
                                    <a href="product-page(no-sidebar).html">
                                        <h6>Murano Glass Table Lamp</h6>
                                    </a>
                                    <h4>$130.00 <del>$132.00</del></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-6 p-0">
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <div class="front">
                                        <a href="product-page(no-sidebar).html"><img src="../assets/images/furniture/9.jpg" class="img-fluid blur-up lazyloaded" alt=""></a>
                                    </div>
                                    <div class="cart-info cart-wrap">
                                        <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="details-product">
                                    <a href="product-page(no-sidebar).html">
                                        <h6>pendant light</h6>
                                    </a>
                                    <h4>$80.00</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <app-footer></app-footer>


</div>