<div class="prd-breadcrumb">
    <div class="brd-shape">
        <div class="brd-img brd-img-1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
            <img src="assets/img/breadcrumb/brd-img-1.png" alt="">
        </div>
        <div class="brd-img brd-img-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
            <img src="assets/img/breadcrumb/brd-img-2.png" alt="">
        </div>
    </div>
    <div class="container">
        <div class="brd-content">
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in" class="aos-init aos-animate">
                <span class="sub-title">bettors ranking</span>
            </div>
            <h2 class="title aos-init aos-animate" data-aos="fade-up" data-aos-delay="350" data-aos-duration="500" data-aos-easing="ease-in">Check Out Our Bettor Ranking</h2>
            <div class="page-direction">
                <ul>
                    <li>
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                        <span class="text">Home</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-light fa-caret-right fa-xl"></i></span>
                        <span class="text">bettors ranking</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="authority bettor-ranking">
    <div class="global-shape style-3">
        <img src="assets/img/shapes/shape-1.png" alt="" data-aos="fade-left" data-aos-duration="500" data-aos-offset="200" data-aos-easing="ease-in" data-aos-delay="400" class="aos-init aos-animate">
    </div>
    <div class="container">
        <div class="section-title">
            <h3 class="sub-title">bettors ranking</h3>
            <h2 class="title">Bettors Ranking By Their Implementation</h2>
        </div>
    </div>
    <div class="ranking-control">
        <ul class="nav nav-pills" id="rank-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="rank-all-tab" data-bs-toggle="pill" data-bs-target="#rank-all" type="button" role="tab" aria-controls="rank-all" aria-selected="true">all</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="rank-win-tab" data-bs-toggle="pill" data-bs-target="#rank-win" type="button" role="tab" aria-controls="rank-win" aria-selected="false">top win</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="rank-lose-tab" data-bs-toggle="pill" data-bs-target="#rank-lose" type="button" role="tab" aria-controls="rank-lose" aria-selected="false">top lose</button>
            </li>
        </ul>
    </div>
    <div class="container ran-cont">
        <div class="tab-content" id="rank-tabContent">
            <div class="tab-pane fade show active" id="rank-all" role="tabpanel" aria-labelledby="rank-all-tab">
                <div class="all-members">
                    <div class="row g-lg-0 g-5">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-1.png" alt="">
                                </div>
                                <div class="part-info">
                                    <span class="member-name">Kai Clayton</span>
                                    <span class="member-designation"><span class="winning-number">+9,095.08 </span> <span class="prc">| 99.5%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-info">
                                    <span class="member-name">Hayden Rees</span>
                                    <span class="member-designation"><span class="winning-number">+7,003.11 </span> <span class="prc">| 87.0%</span></span>
                                </div>
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-3.png" alt="">
                                </div>
                                <div class="part-info">
                                    <span class="member-name">Ben Bentley</span>
                                    <span class="member-designation"><span class="winning-number">+3,195.08 </span> <span class="prc">| 73.1%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-info">
                                    <span class="member-name">Spencer Morton</span>
                                    <span class="member-designation"><span class="winning-number">+412.10 </span> <span class="prc">|  68.5%</span></span>
                                </div>
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-4.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-5.png" alt="">
                                </div>
                                <div class="part-info">
                                    <span class="member-name">Ellis Norton</span>
                                    <span class="member-designation"><span class="winning-number">+244.21 </span> <span class="prc">| 65.0%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-info">
                                    <span class="member-name">Bradley Edwards</span>
                                    <span class="member-designation"><span class="losing-number">-1304.22 </span> <span class="prc">| 13.1%</span></span>
                                </div>
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-6.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-7.png" alt="">
                                </div>
                                <div class="part-info">
                                    <span class="member-name">Natasha Mellor</span>
                                    <span class="member-designation"><span class="losing-number">-511.95 </span> <span class="prc">| 20.9%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-info">
                                    <span class="member-name">Scarlett Peters</span>
                                    <span class="member-designation"><span class="losing-number">-97.03 </span> <span class="prc">| 33.3%</span></span>
                                </div>
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-8.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="rank-win" role="tabpanel" aria-labelledby="rank-win-tab">
                <div class="all-members">
                    <div class="row g-lg-0 g-5">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-5.png" alt="">
                                </div>
                                <div class="part-info">
                                    <span class="member-name">Ellis Norton</span>
                                    <span class="member-designation"><span class="winning-number">+244.21 </span> <span class="prc">| 65.0%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-info">
                                    <span class="member-name">Bradley Edwards</span>
                                    <span class="member-designation"><span class="losing-number">-1304.22 </span> <span class="prc">| 13.1%</span></span>
                                </div>
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-6.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-7.png" alt="">
                                </div>
                                <div class="part-info">
                                    <span class="member-name">Natasha Mellor</span>
                                    <span class="member-designation"><span class="losing-number">-511.95 </span> <span class="prc">| 20.9%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-info">
                                    <span class="member-name">Scarlett Peters</span>
                                    <span class="member-designation"><span class="losing-number">-97.03 </span> <span class="prc">| 33.3%</span></span>
                                </div>
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-8.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-1.png" alt="">
                                </div>
                                <div class="part-info">
                                    <span class="member-name">Kai Clayton</span>
                                    <span class="member-designation"><span class="winning-number">+9,095.08 </span> <span class="prc">| 99.5%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-info">
                                    <span class="member-name">Hayden Rees</span>
                                    <span class="member-designation"><span class="winning-number">+7,003.11 </span> <span class="prc">| 87.0%</span></span>
                                </div>
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-3.png" alt="">
                                </div>
                                <div class="part-info">
                                    <span class="member-name">Ben Bentley</span>
                                    <span class="member-designation"><span class="winning-number">+3,195.08 </span> <span class="prc">| 73.1%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-info">
                                    <span class="member-name">Spencer Morton</span>
                                    <span class="member-designation"><span class="winning-number">+412.10 </span> <span class="prc">|  68.5%</span></span>
                                </div>
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="rank-lose" role="tabpanel" aria-labelledby="rank-lose-tab">
                <div class="all-members">
                    <div class="row g-lg-0 g-5">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-3.png" alt="">
                                </div>
                                <div class="part-info">
                                    <span class="member-name">Ben Bentley</span>
                                    <span class="member-designation"><span class="winning-number">+3,195.08 </span> <span class="prc">| 73.1%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-info">
                                    <span class="member-name">Spencer Morton</span>
                                    <span class="member-designation"><span class="winning-number">+412.10 </span> <span class="prc">|  68.5%</span></span>
                                </div>
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-4.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-1.png" alt="">
                                </div>
                                <div class="part-info">
                                    <span class="member-name">Kai Clayton</span>
                                    <span class="member-designation"><span class="winning-number">+9,095.08 </span> <span class="prc">| 99.5%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-info">
                                    <span class="member-name">Hayden Rees</span>
                                    <span class="member-designation"><span class="winning-number">+7,003.11 </span> <span class="prc">| 87.0%</span></span>
                                </div>
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-7.png" alt="">
                                </div>
                                <div class="part-info">
                                    <span class="member-name">Natasha Mellor</span>
                                    <span class="member-designation"><span class="losing-number">-511.95 </span> <span class="prc">| 20.9%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-info">
                                    <span class="member-name">Scarlett Peters</span>
                                    <span class="member-designation"><span class="losing-number">-97.03 </span> <span class="prc">| 33.3%</span></span>
                                </div>
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-8.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-5.png" alt="">
                                </div>
                                <div class="part-info">
                                    <span class="member-name">Ellis Norton</span>
                                    <span class="member-designation"><span class="winning-number">+244.21 </span> <span class="prc">| 65.0%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-authority-member">
                                <div class="part-info">
                                    <span class="member-name">Bradley Edwards</span>
                                    <span class="member-designation"><span class="losing-number">-1304.22 </span> <span class="prc">| 13.1%</span></span>
                                </div>
                                <div class="part-pic">
                                    <img src="assets/img/authority/rank-pic-6.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sports-body aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
            <div class="playing-sports-all no-tabs-here">
                <div class="single-tournament">
                    <div class="tournament-title"></div>
                    <div class="all-tournament-match">
                        <div class="single-t-match">
                            <div class="flag-img">
                                <img src="assets/img/activity/flag-1.png" alt="">
                            </div>
                            <div class="event">
                                <div class="part-team">
                                    <div class="s-team">
                                        <img src="assets/img/playing-bet/team-icon/team-5.png" alt="" class="team-icon">
                                        <span class="team-name">S.S.La</span>
                                    </div>
                                    <div class="s-team">
                                        <img src="assets/img/playing-bet/team-icon/team-6.png" alt="" class="team-icon">
                                        <span class="team-name">BAY</span>
                                    </div>
                                </div>
                                <span class="event-name">2020–21 UEFA Champions League</span>
                            </div>
                            <div class="b-slip">
                                <span class="slip-number">BS3432589941</span>
                            </div>
                            <div class="date-n-time">
                                <span class="date">1 dec 2022</span>
                                <span class="time">5:15 am</span>
                            </div>
                            <div class="bet-type">
                                <span class="text">Single bet</span>
                            </div>
                            <div class="bet-amount">
                                <span class="text">$350.22</span>
                            </div>
                            <div class="b-odd">
                                <span class="text">7.20</span>
                            </div>
                            <div class="status">
                                <span class="lost">L</span>
                            </div>
                            <div class="profit">
                                <span class="text lost">$452.0</span>
                            </div>
                        </div>
                        <div class="single-t-match">
                            <div class="flag-img">
                                <img src="assets/img/activity/flag-2.png" alt="">
                            </div>
                            <div class="event">
                                <div class="part-team">
                                    <div class="s-team">
                                        <img src="assets/img/playing-bet/team-icon/team-5.png" alt="" class="team-icon">
                                        <span class="team-name">S.S.La</span>
                                    </div>
                                    <div class="s-team">
                                        <img src="assets/img/playing-bet/team-icon/team-6.png" alt="" class="team-icon">
                                        <span class="team-name">BAY</span>
                                    </div>
                                </div>
                                <span class="event-name">2020–21 UEFA Champions League</span>
                            </div>
                            <div class="b-slip">
                                <span class="slip-number">BS3432589941</span>
                            </div>
                            <div class="date-n-time">
                                <span class="date">1 dec 2022</span>
                                <span class="time">5:15 am</span>
                            </div>
                            <div class="bet-type">
                                <span class="text">Single bet</span>
                            </div>
                            <div class="bet-amount">
                                <span class="text">$350.22</span>
                            </div>
                            <div class="b-odd">
                                <span class="text">7.20</span>
                            </div>
                            <div class="status">
                                <span class="win">W</span>
                            </div>
                            <div class="profit">
                                <span class="text win">$152.0</span>
                            </div>
                        </div>
                        <div class="single-t-match">
                            <div class="flag-img">
                                <img src="assets/img/activity/flag-3.png" alt="">
                            </div>
                            <div class="event">
                                <div class="part-team">
                                    <div class="s-team">
                                        <img src="assets/img/playing-bet/team-icon/team-5.png" alt="" class="team-icon">
                                        <span class="team-name">S.S.La</span>
                                    </div>
                                    <div class="s-team">
                                        <img src="assets/img/playing-bet/team-icon/team-6.png" alt="" class="team-icon">
                                        <span class="team-name">BAY</span>
                                    </div>
                                </div>
                                <span class="event-name">2020–21 UEFA Champions League</span>
                            </div>
                            <div class="b-slip">
                                <span class="slip-number">BS3432589941</span>
                            </div>
                            <div class="date-n-time">
                                <span class="date">1 dec 2022</span>
                                <span class="time">5:15 am</span>
                            </div>
                            <div class="bet-type">
                                <span class="text">Single bet</span>
                            </div>
                            <div class="bet-amount">
                                <span class="text">$350.22</span>
                            </div>
                            <div class="b-odd">
                                <span class="text">7.20</span>
                            </div>
                            <div class="status">
                                <span class="win">W</span>
                            </div>
                            <div class="profit">
                                <span class="text win">$350.0</span>
                            </div>
                        </div>
                        <div class="single-t-match">
                            <div class="flag-img">
                                <img src="assets/img/activity/flag-4.png" alt="">
                            </div>
                            <div class="event">
                                <div class="part-team">
                                    <div class="s-team">
                                        <img src="assets/img/playing-bet/team-icon/team-5.png" alt="" class="team-icon">
                                        <span class="team-name">S.S.La</span>
                                    </div>
                                    <div class="s-team">
                                        <img src="assets/img/playing-bet/team-icon/team-6.png" alt="" class="team-icon">
                                        <span class="team-name">BAY</span>
                                    </div>
                                </div>
                                <span class="event-name">2020–21 UEFA Champions League</span>
                            </div>
                            <div class="b-slip">
                                <span class="slip-number">BS3432589941</span>
                            </div>
                            <div class="date-n-time">
                                <span class="date">1 dec 2022</span>
                                <span class="time">5:15 am</span>
                            </div>
                            <div class="bet-type">
                                <span class="text">Single bet</span>
                            </div>
                            <div class="bet-amount">
                                <span class="text">$350.22</span>
                            </div>
                            <div class="b-odd">
                                <span class="text">7.20</span>
                            </div>
                            <div class="status">
                                <span class="lost">L</span>
                            </div>
                            <div class="profit">
                                <span class="text lost">$452.0</span>
                            </div>
                        </div>
                        <div class="single-t-match">
                            <div class="flag-img">
                                <img src="assets/img/activity/flag-5.png" alt="">
                            </div>
                            <div class="event">
                                <div class="part-team">
                                    <div class="s-team">
                                        <img src="assets/img/playing-bet/team-icon/team-5.png" alt="" class="team-icon">
                                        <span class="team-name">S.S.La</span>
                                    </div>
                                    <div class="s-team">
                                        <img src="assets/img/playing-bet/team-icon/team-6.png" alt="" class="team-icon">
                                        <span class="team-name">BAY</span>
                                    </div>
                                </div>
                                <span class="event-name">2020–21 UEFA Champions League</span>
                            </div>
                            <div class="b-slip">
                                <span class="slip-number">BS3432589941</span>
                            </div>
                            <div class="date-n-time">
                                <span class="date">1 dec 2022</span>
                                <span class="time">5:15 am</span>
                            </div>
                            <div class="bet-type">
                                <span class="text">Single bet</span>
                            </div>
                            <div class="bet-amount">
                                <span class="text">$350.22</span>
                            </div>
                            <div class="b-odd">
                                <span class="text">7.20</span>
                            </div>
                            <div class="status">
                                <span class="lost">L</span>
                            </div>
                            <div class="profit">
                                <span class="text lost">$452.0</span>
                            </div>
                        </div>
                        <div class="single-t-match">
                            <div class="flag-img">
                                <img src="assets/img/activity/flag-6.png" alt="">
                            </div>
                            <div class="event">
                                <div class="part-team">
                                    <div class="s-team">
                                        <img src="assets/img/playing-bet/team-icon/team-5.png" alt="" class="team-icon">
                                        <span class="team-name">S.S.La</span>
                                    </div>
                                    <div class="s-team">
                                        <img src="assets/img/playing-bet/team-icon/team-6.png" alt="" class="team-icon">
                                        <span class="team-name">BAY</span>
                                    </div>
                                </div>
                                <span class="event-name">2020–21 UEFA Champions League</span>
                            </div>
                            <div class="b-slip">
                                <span class="slip-number">BS3432589941</span>
                            </div>
                            <div class="date-n-time">
                                <span class="date">1 dec 2022</span>
                                <span class="time">5:15 am</span>
                            </div>
                            <div class="bet-type">
                                <span class="text">Single bet</span>
                            </div>
                            <div class="bet-amount">
                                <span class="text">$350.22</span>
                            </div>
                            <div class="b-odd">
                                <span class="text">7.20</span>
                            </div>
                            <div class="status">
                                <span class="lost">L</span>
                            </div>
                            <div class="profit">
                                <span class="text lost">$452.0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>