<app-header [themeLogo]="themeLogo"></app-header>




<section class="p-0 height-100 xs-responsive bg-white">
    <div class="home-slider">
        <div>
            <div class="home bg-size blur-up lazyloaded" id="img-bg"
                style="background-image: url(&quot;../assets/images/home-banner/61.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                <img src="../assets/images/home-banner/61.jpg" alt="" class="bg-img blur-up lazyloaded"
                    style="display: none;">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4 class="text-white-50">end of season sale</h4>
                                    <h1 class="text-white">upto 50% off</h1>
                                    <a href="#" class="btn btn-solid">explore now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="banner-goggles banner-padding bg-white">
    <div class="container-fluid">
        <div class="row partition3">
            <div class="col-md-6 ratio_40">
                <div class="collection-banner p-right text-center overlay-banner">
                    <div class="img-part bg-size blur-up lazyloaded"
                        style="background-image: url(&quot;../assets/images/fashion/banner/49.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                        <img src="../assets/images/fashion/banner/49.jpg" class="img-fluid blur-up lazyload bg-img"
                            alt="" style="display: none;">
                    </div>
                    <div class="contain-banner banner-3">
                        <div>
                            <h4 class="text-white">sweaters &amp; sweatshirts</h4>
                            <h2 class="mb-2 text-white text-capitalize">under $100.00</h2>
                            <a href="#" class="btn btn-solid btn-sm">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ratio3_2 h-auto">
                <div class="collection-banner p-center text-center h-100 overlay-banner">
                    <div class="img-part h-100 bg-size blur-up lazyloaded"
                        style="background-image: url(&quot;../assets/images/fashion/banner/50.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                        <img src="../assets/images/fashion/banner/50.jpg" class="img-fluid blur-up lazyload bg-img"
                            alt="" style="display: none;">
                    </div>
                    <div class="contain-banner banner-3">
                        <div>
                            <h2 class="mb-2 text-white text-capitalize ">best offers</h2>
                            <a href="#" class="btn btn-solid btn-sm">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ratio3_2 h-auto">
                <div class="collection-banner p-center text-center h-100 overlay-banner">
                    <div class="img-part h-100 bg-size blur-up lazyloaded"
                        style="background-image: url(&quot;../assets/images/fashion/banner/51.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                        <img src="../assets/images/fashion/banner/51.jpg" class="img-fluid blur-up lazyload bg-img"
                            alt="" style="display: none;">
                    </div>
                    <div class="contain-banner banner-3">
                        <div>
                            <h2 class="mb-2 text-white text-capitalize">life style</h2>
                            <a href="#" class="btn btn-solid btn-sm">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-b-space pt-0 ratio_asos bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title1 section-t-space">
                    <h4>special offer</h4>
                    <h2 class="title-inner1">top collection</h2>
                </div>
                <div class="col-lg-6 offset-lg-3">
                    <div class="product-para">
                        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="no-slider row m-product infinite-product">
                    <div class="product-box" style="display: block;">
                        <div class="img-wrapper">
                            <!-- <div class="timer product-box-timer d-none d-sm-flex" id="demo">EXPIRED</div> -->
                            <div class="front">
                                <a href="product-page(no-sidebar).html" class="bg-size blur-up lazyloaded"
                                    style="background-image: url(&quot;../assets/images/fashion/pro/34.jpg&quot;); background-size: cover; background-position: center center; display: block;"><img
                                        src="../assets/images/fashion/pro/34.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt="" ></a>
                            </div>
                            <div class="cart-box cart-box-bottom">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                    data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
                                        class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                    title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="detail-inline">
                                <a href="product-page(no-sidebar).html">
                                    <h6>Red Jacket</h6>
                                </a>
                                <h4>$16.00</h4>
                            </div>
                            <ul class="color-variant pt-0">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                            <ul class="color-variant quantity-variant box-l">
                                <li class="bg-light">S</li>
                                <li class="bg-light">M</li>
                                <li class="bg-light">L</li>
                                <li class="bg-light">Xl</li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box" style="display: block;">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html" class="bg-size blur-up lazyloaded"
                                    style="background-image: url(&quot;../assets/images/fashion/pro/35.jpg&quot;); background-size: cover; background-position: center center; display: block;"><img
                                        src="../assets/images/fashion/pro/35.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt="" ></a>
                            </div>
                            <div class="cart-box cart-box-bottom">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                    data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
                                        class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                    title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="detail-inline">
                                <a href="product-page(no-sidebar).html">
                                    <h6>Green Jacket</h6>
                                </a>
                                <h4>$25.00</h4>
                            </div>
                            <ul class="color-variant pt-0">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                            <ul class="color-variant quantity-variant box-l">
                                <li class="bg-light">32</li>
                                <li class="bg-light">34</li>
                                <li class="bg-light">36</li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box" style="display: block;">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html" class="bg-size blur-up lazyloaded"
                                    style="background-image: url(&quot;../assets/images/fashion/pro/36.jpg&quot;); background-size: cover; background-position: center center; display: block;"><img
                                        src="../assets/images/fashion/pro/36.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt="" ></a>
                            </div>
                            <div class="cart-box cart-box-bottom">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                    data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
                                        class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                    title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="detail-inline">
                                <a href="product-page(no-sidebar).html">
                                    <h6>Black Poly Crepe Dress</h6>
                                </a>
                                <h4>$22.00</h4>
                            </div>
                            <ul class="color-variant image-swatch-demo pt-0">
                                <li>
                                    <div class="bg-size blur-up lazyloaded"
                                        style="background-image: url(&quot;../assets/images/fashion/pro/m-001.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                        <img src="../assets/images/fashion/pro/m-001.jpg" alt=""
                                            class="img-fluid blur-up lazyload bg-img" ></div>
                                </li>
                                <li>
                                    <div class="bg-size blur-up lazyloaded"
                                        style="background-image: url(&quot;../assets/images/fashion/pro/m-002.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                        <img src="../assets/images/fashion/pro/m-002.jpg" alt=""
                                            class="img-fluid blur-up lazyload bg-img" ></div>
                                </li>
                                <li>
                                    <div class="bg-size blur-up lazyloaded"
                                        style="background-image: url(&quot;../assets/images/fashion/pro/m-003.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                        <img src="../assets/images/fashion/pro/m-003.jpg" alt=""
                                            class="img-fluid blur-up lazyload bg-img" ></div>
                                </li>
                            </ul>
                            <ul class="color-variant quantity-variant box-l">
                                <li class="bg-light">32</li>
                                <li class="bg-light">34</li>
                                <li class="bg-light">36</li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box" style="display: block;">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html" class="bg-size blur-up lazyloaded"
                                    style="background-image: url(&quot;../assets/images/fashion/pro/37.jpg&quot;); background-size: cover; background-position: center center; display: block;"><img
                                        src="../assets/images/fashion/pro/37.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt="" ></a>
                            </div>
                            <div class="cart-box cart-box-bottom">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                    data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
                                        class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                    title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="detail-inline">
                                <a href="product-page(no-sidebar).html">
                                    <h6>Casual Winter Jacket</h6>
                                </a>
                                <h4>$500.00</h4>
                            </div>
                            <ul class="color-variant pt-0">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box" style="display: block;">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html" class="bg-size blur-up lazyloaded"
                                    style="background-image: url(&quot;../assets/images/fashion/pro/38.jpg&quot;); background-size: cover; background-position: center center; display: block;"><img
                                        src="../assets/images/fashion/pro/38.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt="" ></a>
                            </div>
                            <div class="cart-box cart-box-bottom">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                    data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
                                        class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                    title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="detail-inline">
                                <a href="product-page(no-sidebar).html">
                                    <h6>Rounded white T-shirt</h6>
                                </a>
                                <h4>$15.00</h4>
                            </div>
                            <ul class="color-variant pt-0">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box" style="display: block;">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html" class="bg-size blur-up lazyloaded"
                                    style="background-image: url(&quot;../assets/images/fashion/pro/39.jpg&quot;); background-size: cover; background-position: center center; display: block;"><img
                                        src="../assets/images/fashion/pro/39.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt="" ></a>
                            </div>
                            <div class="cart-box cart-box-bottom">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                    data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
                                        class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                    title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="detail-inline">
                                <a href="product-page(no-sidebar).html">
                                    <h6>Rounded white T-shirt</h6>
                                </a>
                                <h4>$15.00</h4>
                            </div>
                            <ul class="color-variant pt-0">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                            <ul class="color-variant quantity-variant box-l">
                                <li class="bg-light">32</li>
                                <li class="bg-light">34</li>
                                <li class="bg-light">36</li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box" style="display: block;">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html" class="bg-size blur-up lazyloaded"
                                    style="background-image: url(&quot;../assets/images/fashion/pro/40.jpg&quot;); background-size: cover; background-position: center center; display: block;"><img
                                        src="../assets/images/fashion/pro/40.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt="" ></a>
                            </div>
                            <div class="cart-box cart-box-bottom">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                    data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
                                        class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                    title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="detail-inline">
                                <a href="product-page(no-sidebar).html">
                                    <h6>Black Yellow Jacket</h6>
                                </a>
                                <h4>$20.00</h4>
                            </div>
                            <ul class="color-variant pt-0">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                            <ul class="color-variant quantity-variant box-l">
                                <li class="bg-light">XS</li>
                                <li class="bg-light">L</li>
                                <li class="bg-light">XXL</li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box" style="display: block;">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html" class="bg-size blur-up lazyloaded"
                                    style="background-image: url(&quot;../assets/images/fashion/pro/41.jpg&quot;); background-size: cover; background-position: center center; display: block;"><img
                                        src="../assets/images/fashion/pro/41.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt="" ></a>
                            </div>
                            <div class="cart-box cart-box-bottom">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                    data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
                                        class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                    title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="detail-inline">
                                <a href="product-page(no-sidebar).html">
                                    <h6>Red Blue Cotton Shirt</h6>
                                </a>
                                <h4>$500.00</h4>
                            </div>
                            <ul class="color-variant pt-0">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                            <ul class="color-variant quantity-variant box-l">
                                <li class="bg-light">30</li>
                                <li class="bg-light">32</li>
                                <li class="bg-light">34</li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html" class="bg-size blur-up lazyload"
                                    style="background-image: url(&quot;../assets/images/fashion/pro/42.jpg&quot;); background-size: cover; background-position: center center; display: block;"><img
                                        src="../assets/images/fashion/pro/42.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt="" ></a>
                            </div>
                            <div class="cart-box cart-box-bottom">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                    data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
                                        class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                    title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="detail-inline">
                                <a href="product-page(no-sidebar).html">
                                    <h6>Blue Denim Shirt</h6>
                                </a>
                                <h4>$28.00</h4>
                            </div>
                            <ul class="color-variant pt-0">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                            <ul class="color-variant quantity-variant box-l">
                                <li class="bg-light">32</li>
                                <li class="bg-light">34</li>
                                <li class="bg-light">36</li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html" class="bg-size blur-up lazyload"
                                    style="background-image: url(&quot;../assets/images/fashion/pro/43.jpg&quot;); background-size: cover; background-position: center center; display: block;"><img
                                        src="../assets/images/fashion/pro/43.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt="" ></a>
                            </div>
                            <div class="cart-box cart-box-bottom">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                    data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
                                        class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                    title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="detail-inline">
                                <a href="product-page(no-sidebar).html">
                                    <h6>Blue Denim Shirt</h6>
                                </a>
                                <h4>$30.00</h4>
                            </div>
                            <ul class="color-variant pt-0">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html" class="bg-size blur-up lazyload"
                                    style="background-image: url(&quot;../assets/images/fashion/pro/44.jpg&quot;); background-size: cover; background-position: center center; display: block;"><img
                                        src="../assets/images/fashion/pro/44.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt="" ></a>
                            </div>
                            <div class="cart-box cart-box-bottom">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                    data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
                                        class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                    title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="detail-inline">
                                <a href="product-page(no-sidebar).html">
                                    <h6>Full Slavees T-Shirt</h6>
                                </a>
                                <h4>$16.00</h4>
                            </div>
                            <ul class="color-variant pt-0">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html" class="bg-size blur-up lazyload"
                                    style="background-image: url(&quot;../assets/images/fashion/pro/45.jpg&quot;); background-size: cover; background-position: center center; display: block;"><img
                                        src="../assets/images/fashion/pro/45.jpg"
                                        class="img-fluid blur-up lazyload bg-img" alt="" ></a>
                            </div>
                            <div class="cart-box cart-box-bottom">
                                <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                                        class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                    title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                    data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
                                        class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                    title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="detail-inline">
                                <a href="product-page(no-sidebar).html">
                                    <h6>Pink Dress</h6>
                                </a>
                                <h4>$30.00</h4>
                            </div>
                            <ul class="color-variant pt-0">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="load-more-button text-center"><a href="javascript:void(0)"
                        class="load-product btn btn-outline">load
                        more</a></div>
            </div>
        </div>
    </div>
</section>


<section class="p-0 product-parallax">
    <div class="full-banner custom-space bg-size blur-up lazyloaded"
        style="background-image: url(/assets/images/parallax/10.jpg); background-size: cover; background-position: center center; display: block;">
        <img src="../assets/images/parallax/30.jpg" alt="" class="bg-img blur-up lazyload" style="display: none;">
        <div class="ratio_square">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 ms-auto">
                        <div class="theme-card card-border">
                            <div class="offer-slider">
                                <div>
                                    <div class="media">
                                        <a style="padding-left: 4%;" href="product-page(no-sidebar).html"><img alt=""
                                                class="img-fluid blur-up lazyloaded"
                                                src="../assets/images/fashion/pro/46.jpg"></a>
                                        <div class="media-body align-self-center">
                                            <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i></div>
                                            <a href="product-page(no-sidebar).html">
                                                <h6>Black T-Shirt</h6>
                                            </a>
                                            <h4>$18.00</h4>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a style="padding-left: 4%;" href="product-page(no-sidebar).html"><img alt=""
                                                class="img-fluid blur-up lazyloaded"
                                                src="../assets/images/fashion/pro/47.jpg"></a>
                                        <div class="media-body align-self-center">
                                            <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i></div>
                                            <a href="product-page(no-sidebar).html">
                                                <h6>Orange Jacket</h6>
                                            </a>
                                            <h4>$35.00</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-products></app-products>



<section class="pb-0 ratio2_1">
    <div class="container">
        <div class="row partition2">
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner p-right text-center">
                        <div class="img-part bg-size blur-up lazyloaded"
                            style="background-image: url(&quot;../assets/images/fashion/5.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                            <img src="../assets/images/fashion/5.jpg" class="img-fluid blur-up lazyload bg-img" alt=""
                                style="display: none;">
                        </div>
                        <div class="contain-banner">
                            <div>
                                <h4 class="text-white">save 30%</h4>
                                <h2>new</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner p-right text-center">
                        <div class="img-part bg-size blur-up lazyloaded"
                            style="background-image: url(&quot;../assets/images/fashion/6.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                            <img src="../assets/images/fashion/6.jpg" class="img-fluid blur-up lazyload bg-img" alt=""
                                style="display: none;">
                        </div>
                        <div class="contain-banner">
                            <div>
                                <h4>save 60%</h4>
                                <h2 class="text-white">men</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<app-brand></app-brand>

<app-footer></app-footer>