.h-x {
  height: 37px;
  width: 37px;
}
.avatar-title {
  align-items: center !important;
  background-color: #299cdb;
  display: flex !important;
  font-weight: 500 !important;
  height: 100% !important;
  justify-content: center !important;
  width: 100% !important;
}
