<div class="error">
    <div class="global-shape style-3">
        <img src="assets/img/shapes/shape-1.png" alt="" data-aos="fade-left" data-aos-duration="500"
            data-aos-offset="200" data-aos-easing="ease-in" data-aos-delay="400" class="aos-init aos-animate">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-10">
                <div class="part-img aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                    data-aos-duration="500" data-aos-easing="ease-in">
                    <img src="assets/img/error/error-image.png" alt="">
                </div>
                <div class="part-text">
                    <div class="section-title aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                        data-aos-duration="500" data-aos-easing="ease-in">
                        <h3 class="sub-title">Error 404</h3>
                        <h2 class="title">The page you’re looking
                            for is now beyond our reach.</h2>
                    </div>
                    <p data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in"
                        class="aos-init aos-animate">Let’s get you back in home at <span
                            class="back-time">00:00:05</span> or browse instead <img src="assets/img/error/vector.png"
                            alt=""></p>
                    <div class="error-page-menu aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                        data-aos-duration="500" data-aos-easing="ease-in">
                        <ul>
                            <li>
                                <a routerLink="/" class="single-menu">homepage</a>
                            </li>
                            <li>
                                <a routerLink="/about-us" class="single-menu">About Us</a>
                            </li>
                            <li>
                                <a href="playing-bet.html" class="single-menu">All Bets</a>
                            </li>
                            <li>
                                <a href="blog-posts.html" class="single-menu">Blog</a>
                            </li>
                            <li>
                                <a routerLink="/contact" class="single-menu">contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>