<app-breadcrumbs title="{{'MODULES.CRM.CUSTOMERS.LEADS' | translate}}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<ng-container *ngIf="!(navigating$ | async)">

  <div class="row">
    <div class="col-lg-12">
      <div class="card" id="leadsList">
        <div class="card-header border-0">
          <div class="row g-4 align-items-center">
            <div class="col-sm-3">
              <div class="search-box">
                <form [formGroup]="searchForm">
                  <input type="text" name="searchTerm" formControlName="searchString" class="form-control" placeholder="{{ 'COMMON.SEARCH_HERE' | translate }}">
                  <i class="ri-search-line search-icon"></i>
                </form>
              </div>
            </div>
            <div class="col-sm-auto ms-auto">
              <div class="hstack gap-2">
                <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal" (click)="openCompanyModal(content, null)">
                  <i class="ri-add-line align-bottom me-1"></i>
                  {{ 'MODULES.CRM.CUSTOMERS.ADD_LEAD' | translate }}
                </button>
                <button (click)="openImportModal(importModal)" type="button" class="btn btn-secondary">
                  <i class="ri-file-upload-line align-bottom"></i>
                  {{ 'COMMON.IMPORT' | translate }}
                </button>
                <button (click)="downloadExcel()" type="button" class="btn btn-primary">
                  <i class="ri-file-download-line align-bottom"></i>
                  {{ 'COMMON.EXPORT' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive table-card">
            <table class="table align-middle table-nowrap">
              <thead>
                <tr class="bg-light text-muted">
                  <th>{{ 'MODULES.CRM.CUSTOMERS.NAME' | translate }}</th>
                  <th>{{ 'MODULES.CRM.CUSTOMERS.WEBSITE' | translate }}</th>
                  <th>{{ 'MODULES.CRM.CUSTOMERS.LEADS_SCORE' | translate }}</th>
                  <th>{{ 'MODULES.CRM.CUSTOMERS.PHONE' | translate }}</th>
                  <th>{{ 'MODULES.CRM.CUSTOMERS.LOCATION' | translate }}</th>
                  <th>{{ 'COMMON.TAGS' | translate }}</th>
                  <th>{{ 'COMMON.CREATE_DATE' | translate }}</th>
                  <th>{{ 'COMMON.ACTION' | translate }}</th>
                </tr>
              </thead>
              <tbody *ngIf="((loadingLeads$ | async) === false || null || undefined) && (leads$ | async).length">
                <tr *ngFor="let data of leads$ | async" id="l_{{data.id}}">
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="flex-shrink-0">
                        <div *ngIf="!data?.media?.pictures?.length" class="avatar-xxs rounded-circle bg-light">
                          <span class="avatar-title-x text-success">
                            {{data?.name?.charAt(0) ||
                            'N'}}
                          </span>
                        </div>
                        <img *ngIf="data?.media?.pictures?.length" [src]="data?.media?.pictures[0].baseUrl + '/' + data?.media?.pictures[0].path"
                          class="avatar-xxs rounded-circle image_src object-cover">
                      </div>
                      <div (click)="openCompanyModal(content, data)" class="flex-grow-1 fw-medium link-primary cursor-pointer ms-2 name">
                        {{data.name}}</div>
                    </div>
                  </td>
                  <td><ngb-highlight [result]="data.contact?.website"></ngb-highlight>
                  </td>
                  <td><ngb-highlight [result]="data.customer?.score"></ngb-highlight>
                  </td>
                  <td><ngb-highlight [result]="data.contact?.phone?.number"></ngb-highlight>
                  </td>
                  <td><ngb-highlight [result]="data.address?.country?.name"></ngb-highlight>
                  </td>
                  <td class="tags">
                    <div class="d-flex gap-1">
                      <span class="badge badge-soft-primary" *ngFor="let tag of data.tags">{{tag}}</span>
                    </div>
                  </td>
                  <td><ngb-highlight [result]="data.createdAt | date :'longDate'"></ngb-highlight></td>
                  <td>
                    <ul class="list-inline hstack gap-2 mb-0">
                      <li *ngIf="data?.phone?.number" class="list-inline-item edit" placement="top">
                        <a href="tel:+{{data?.phone?.countryCode}}{{data?.phone?.number}}" class="text-primary d-inline-block">
                          <i class="ri-phone-line fs-16"></i>
                        </a>
                      </li>
                      <li *ngIf="data?.phone?.number" class="list-inline-item edit" placement="top">
                        <a target="_blank" href="https://wa.me/+{{selectedProfile?.phone?.countryCode}}{{selectedProfile?.phone?.number}}" href="javascript:void(0);" class="text-info d-inline-block">
                          <i class="ri-question-answer-line fs-16"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="edit-item-btn" data-bs-toggle="modal" (click)="openCompanyModal(content, data)"><i class="ri-pencil-fill align-bottom text-primary"></i></a>
                      </li>
                      <!-- <li class="list-inline-item">
                      <a class="remove-item-btn" data-bs-toggle="modal" (click)="openDeleteLead(deleteModel,data)">
                        <i class="ri-delete-bin-fill align-bottom text-danger"></i>
                      </a>
                    </li> -->
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="((loadingLeads$ | async) === false || null || undefined) && (leads$ | async).length" class="px-3">
            <div class="row justify-content-md-between align-items-md-center gy-2">
              <div class="col col-sm-6">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                  {{ 'COMMON.SHOWING' | translate }}
                  {{pagination?.startIndex + 1}}–{{pagination?.endIndex ===
                  pagination?.length ? pagination?.endIndex : pagination?.endIndex + 1}}
                  {{ 'COMMON.OF' | translate }}
                  {{pagination?.length}} {{ 'COMMON.ENTRIES' | translate }}
                </div>
              </div>
              <div class="col col-sm-6">
                <div class="text-sm-right float-end listjs-pagination">
                  <ngb-pagination [maxSize]="5" [collectionSize]="pagination?.length" [(page)]="page" (pageChange)="onPageChange($event)" [pageSize]="pagination?.size">
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </div>
          <div id="noresult" class="py-4 mt-4 text-center" *ngIf="(loadingLeads$ | async) || (!(loadingLeads$ | async) && !(leads$ | async).length)">
            <div *ngIf="loadingLeads$ | async">
              <lord-icon trigger="loop" style="width:72px;height:72px" [colors]="'primary:' + primaryColor + ',secondary:' + secondaryColor" src="https://cdn.lordicon.com/msoeawqm.json">
              </lord-icon>
              <h5 class="mt-4">{{ 'COMMON.LOADING' | translate }}</h5>
            </div>
            <div *ngIf="!(loadingLeads$ | async) && !(leads$ | async).length">
              <lord-icon trigger="loop" style="width:72px;height:72px" [colors]="'primary:' + primaryColor + ',secondary:' + secondaryColor" src="https://cdn.lordicon.com/msoeawqm.json">
              </lord-icon>
              <h5 class="mt-4" >
                {{ 'COMMON.NO_RESULT_FOUND' | translate }}</h5>
            </div>
          </div>
          <ng-template #content role="document" let-modal>
            <div class="modal-header bg-light p-3">
              <h5 class="modal-title" id="exampleModalLabel">{{selectedLead ?
                ('MODULES.CRM.CUSTOMERS.EDIT_LEAD_COMPANY' | translate) : ('MODULES.CRM.CUSTOMERS.ADD_LEAD_COMPANY' | translate)}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <form [formGroup]="leadsForm">
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-12 mb-3">
                    <div class="text-center">
                      <div (click)="upload()" class="position-relative d-inline-block">
                        <div class="position-absolute bottom-0 end-0">
                          <label for="company-logo-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ 'COMMON.SELECT_IMAGE' | translate }}">
                            <div class="avatar-xs cursor-pointer">
                              <div class="avatar-title bg-light border rounded-circle text-muted">
                                <i class="ri-image-fill"></i>
                              </div>
                            </div>
                          </label>
                        </div>
                        <div class="avatar-lg p-1">
                          <div class="avatar-title bg-light rounded-circle">
                            <img *ngIf="pictures.value[0]?.baseUrl === ''" src="assets/images/users/multi-user.jpg" id="companylogo-img" class="avatar-md rounded-circle object-cover" />
                            <img *ngIf="pictures.value[0]?.baseUrl !== ''" [src]="pictures.value[0].baseUrl + '/' + pictures.value[0].path" id="companylogo-img"
                              class="avatar-md rounded-circle object-cover" />
                          </div>
                        </div>
                      </div>
                      <h5 class="fs-13 mt-3">{{ 'MODULES.CRM.CUSTOMERS.COMPANY_LOGO' | translate }}</h5>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="firstnameInput" class="form-label">{{ 'MODULES.CRM.CUSTOMERS.NAME' | translate }}*</label>
                      <input [ngClass]="{ 'is-invalid': leadsForm.get('name')?.touched && leadsForm.get('name').hasError('required') }" formControlName="name" type="text" class="form-control"
                        id="firstnameInput" placeholder="{{ 'MODULES.CRM.CUSTOMERS.ENTER_COMPANY_NAME' | translate }}">
                      <div class="invalid-feedback" *ngIf="leadsForm.get('name')?.touched && leadsForm.get('name').hasError('required')">
                        {{ 'COMMON.REQUIRED' | translate }}
                      </div>
                    </div>
                  </div>
                  <ng-container formGroupName="customer">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="lastnameInput" class="form-label">{{ 'MODULES.CRM.CUSTOMERS.SCORE' | translate }}</label>
                        <input formControlName="score" type="text" class="form-control" id="lastnameInput" placeholder="{{ 'MODULES.CRM.CUSTOMERS.ENTER_SCORE' | translate }}">
                      </div>
                    </div>
                  </ng-container>
                  <ng-container formGroupName="legal">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="lastnameInput" class="form-label">{{ 'COMMON.REG_NUMBER' | translate }}*</label>
                        <input [ngClass]="{ 'is-invalid': leadsForm.get('legal.register')?.touched && leadsForm.get('legal.register').hasError('required') }" formControlName="register" type="text"
                          class="form-control" id="lastnameInput" placeholder="{{ 'COMMON.ENTER_REG_NUMBER' | translate }}">
                        <div class="invalid-feedback" *ngIf="leadsForm.get('legal.register')?.touched && leadsForm.get('legal.register').hasError('required')">
                          {{ 'COMMON.REQUIRED' | translate }}
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="lastnameInput" class="form-label">{{ 'COMMON.VAT' | translate }}*</label>
                        <input formControlName="vat" required type="text" class="form-control" id="lastnameInput" placeholder="{{ 'COMMON.ENTER_VAT' | translate }}"
                          [ngClass]="{ 'is-invalid': leadsForm.get('legal.vat')?.touched && leadsForm.get('legal.vat').hasError('required') }">
                        <div class="invalid-feedback" *ngIf="leadsForm.get('legal.vat')?.touched && leadsForm.get('legal.vat').hasError('required')">
                          {{ 'COMMON.REQUIRED' | translate }}
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="lastnameInput" class="form-label">{{ 'COMMON.LICENCE' | translate }}</label>
                        <input formControlName="licence" type="text" class="form-control" id="lastnameInput" placeholder="{{ 'COMMON.ENTER_LICENCE' | translate }}">
                      </div>
                    </div>
                  </ng-container>
                  <ng-container formGroupName="contact">
                    <div class="col-lg-6">
                      <ng-container formGroupName="phone">
                        <div class="mb-3">
                          <label for="phonenumberInput" class="form-label">{{ 'COMMON.PHONE_NUMBER' | translate }}</label>
                          <input formControlName="number" type="text" class="form-control" id="phonenumberInput" placeholder="{{ 'COMMON.ENTER_PHONE_NUMBER' | translate }}">
                        </div>
                      </ng-container>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="emailInput" class="form-label">{{ 'COMMON.EMAIL_ADDRESS' | translate }}</label>
                        <input formControlName="email" type="email" class="form-control" id="emailInput" placeholder="{{ 'COMMON.ENTER_EMAIL' | translate }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="websiteInput1" class="form-label">{{ 'COMMON.WEBSITE' | translate }}</label>
                        <input formControlName="website" type="text" class="form-control" id="websiteInput1" placeholder="{{ 'COMMON.ENTER_WEBSITE' | translate }}" />
                      </div>
                    </div>
                  </ng-container>
                  <ng-container formGroupName="address">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="designationInput" class="form-label">{{ 'COMMON.ADDRESS' | translate }}</label>
                        <input formControlName="address" type="text" class="form-control" id="designationInput" placeholder="{{ 'COMMON.ENTER_ADDRESS' | translate }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="cityInput" class="form-label">{{ 'COMMON.CITY' | translate }}</label>
                        <input formControlName="city" type="text" class="form-control" id="cityInput" placeholder="{{ 'COMMON.ENTER_CITY' | translate }}" />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="countryInput" class="form-label">{{ 'COMMON.COUNTRY' | translate }}</label>
                        <select class="form-select form-control-line" [formControlName]="'country'">
                          <option value="" disabled selected>{{ 'COMMON.SELECT_AN_OPTION' | translate }}</option>
                          <option *ngFor="let country of countries" [value]="country.id">
                            {{ country.name.split('_').join(' ') | titlecase }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="zipcodeInput" class="form-label">{{ 'COMMON.ZIP_CODE' | translate }}</label>
                        <input formControlName="postCode" type="text" class="form-control" id="zipcodeInput" placeholder="{{ 'COMMON.ENTER_ZIPCODE' | translate }}">
                      </div>
                    </div>
                  </ng-container>
                  <div class="col-lg-6">
                    <label class="form-label" for="product-tags-input">{{ 'COMMON.TAGS' | translate }}</label>
                    <ng-select [items]="[]" class="no-arrow-select" [addTag]="true" [isOpen]="false" [multiple]="true" [selectOnTab]="true" formControlName="tags" placeholder="{{ 'COMMON.PRESS_ENTER_TO_ADD' | translate }}">
                    </ng-select>
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="lastnameInput" class="form-label">{{ 'COMMON.EXTERNAL_ID' | translate }}</label>
                      <input formControlName="externalId" type="text" class="form-control" id="lastnameInput" placeholder="{{ 'COMMON.ENTER_EXTERNAL_ID' | translate }}">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="mb-3 pb-2">
                      <label for="exampleFormControlTextarea" class="form-label">{{ 'COMMON.DESCRIPTION' | translate }}</label>
                      <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea" placeholder="{{ 'COMMON.ENTER_DESCRIPTION' | translate }}" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                  <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modal.close('Close click')">{{ 'COMMON.CANCEL' | translate }}</button>
                  <button type="button" (click)="saveLeadCompnay()" [disabled]="isLeadButtonDisabled || leadsForm.invalid" class="btn btn-success" id="add-btn">{{ selectedLead ?
                    ('MODULES.CRM.CUSTOMERS.EDIT_LEAD_COMPANY' | translate) : ('MODULES.CRM.CUSTOMERS.ADD_LEAD_COMPANY' | translate) }}</button>
                </div>
              </div>
            </form>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <ng-template #deleteModel let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="mt-2 text-center">
          <lord-icon _ngcontent-klx-c236="" src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width: 100px; height: 100px;"></lord-icon>
          <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
            <h4>{{ 'COMMON.ARE_YOU_SURE' | translate }}</h4>
            <p class="text-muted mx-4 mb-0">{{ 'COMMON.DELETE_WARNING' | translate }}</p>
          </div>
        </div>
        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
          <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal" (click)="modal.close('Close click')" id="deleteRecord-close"><i
              class="ri-close-line me-1 align-middle"></i>
            {{ 'COMMON.CANCEL' | translate }}</button>
          <button type="button" class="btn w-sm btn-danger " id="delete-product" (click)="deleteLeadCompany()">
            {{ 'COMMON.YES_DELETE_IT' | translate }}</button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #importModal role="document" let-modal>
    <div class="modal-header bg-soft-info p-3">
      <h5 class="modal-title" id="exampleModalLabel">{{ 'COMMON.UPLOAD_EXCEL' | translate }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>
        {{ 'MODULES.CRM.CUSTOMERS.A_PARAGRAPH' | translate }}
      </p>
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modal.close('Close click')">{{ 'COMMON.CANCEL' | translate }}</button>
        <button type="button" (click)="!loadingImport ? uploadExcel() : null" class="btn btn-primary btn-load">
          <span *ngIf="!loadingImport">{{ 'MODULES.CRM.CUSTOMERS.IMPORT_EXCEL' | translate }}</span>
          <span *ngIf="loadingImport" class="d-flex align-items-center">
            <span class="spinner-border flex-shrink-0" role="status">
              <span class="visually-hidden">{{ 'COMMON.LOADING' | translate }}</span> </span>
            <span class="flex-grow-1 ms-2">{{ 'COMMON.LOADING' | translate }}</span> </span>
        </button>
      </div>
    </div>
  </ng-template>

</ng-container>
<div *ngIf="navigating$ | async" class="vh-100 py-4 text-center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
  <div>
    <lord-icon trigger="loop" style="width:72px;height:72px" [colors]="'primary:' + primaryColor + ',secondary:' + secondaryColor" src="https://cdn.lordicon.com/msoeawqm.json">
    </lord-icon>
  </div>
  <div class="mt-4">
    <h5>{{ 'COMMON.LOADING' | translate }}</h5>
  </div>
</div>
