.nft-box {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 15px;
}
.nft-box .nft-img {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.nft-box {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 15px;
}

.nft-box .nft-content .bottom-content .price img {
    width: 18px;
}