.mrg {
  margin-left: 4rem;
  padding-bottom: 20px;
}
.mrg-t {
  margin-top: 20px;
}
.mrg-g {
  margin-top:40px;
}
.mrg-b {
  margin-bottom: 18px;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  align-items: flex-start;
}
.example-radio-button {
  margin: 5px;
}
