::ng-deep:root{
    --theme-deafult: #f7859a;
}
::ng-deep .color-img{
    filter: invert(19%) sepia(97%) saturate(2210%) hue-rotate(320deg) brightness(100%) contrast(122%);
}
.theme-settings {
    position: fixed;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
.theme-settings ul li {
  width: 40px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(154,154,154,0.54);
  box-shadow: 0px 0px 5px 0px rgba(154,154,154,0.54);
  margin-bottom: 15px;
  margin-left: auto;
  cursor: pointer;
  font-weight: 600;
}
@media (max-width: 1199px){ 
  .dark .sm-horizontal .mobile-back {
      border-color: #404040;
      color: #e7eaec;
  }
  .dark .sm-horizontal {
      background-color: #2b2b2b;
      border-color: #404040;
  }
  }