.w-4 {
  width: 1rem;
}
.mxh-13 {
  max-height: 13rem;
}

::ng-deep .accordion-body {
  max-height: 9rem;
  overflow-y: auto;
}

.h-7 {
  max-height: 10rem;
  overflow-y: auto;
}
.w-28 {
  width: 28rem !important;
}
.bg-red {
  background-color: red;
}
.bg-red-200 {
  background-color: rgba(254,202,202)!important;
}
.bg-red-600 {
  background-color: rgba(220,38,38)!important;
}
.w-1 {
  width: 0.25rem;
}
.h-4 {
  height: 1rem;
}
.h-x {
  height: 33.333333%;
}
.bg-orange-400 {
  background-color: #FB923C;
}
