<ng-container *ngIf="!(navigating$ | async)">
  <div class="position-relative mx-n4 mt-n4">
    <div class="profile-wid-bg profile-setting-img">
      <img src="assets/images/profile-bg.jpg" class="profile-wid-img" alt="">
      <div class="overlay-content">
        <div class="text-end p-3">
          <div class="p-0 ms-auto rounded-circle profile-photo-edit">
            <input id="profile-foreground-img-file-input" type="file" class="profile-foreground-img-file-input">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-3">
      <div class="card mt-n5">
        <div class="card-body p-4">
          <div *ngIf="plugin$ | async as plugin" class="text-center">
            <div class="profile-user position-relative d-inline-block mx-auto mb-4">
              <div class="avatar-lg mb-3">
                <div class="avatar-title bg-soft-success fs-24 text-success">
                  <i [ngClass]="plugin?.icon"></i>
                </div>
              </div>
            </div>
            <h5 class="fs-16 mb-1">{{plugin?.name}}</h5>
            <p class="text-muted mb-0">{{plugin?.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-9">
      <div class="card mt-xxl-n5">
        <div class="card-header">
          <ul (navChange)="onTabChange($event.nextId)" ngbNav #customNav="ngbNav" [activeId]="1"
            class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
            <li [ngbNavItem]="1" class="nav-item">
              <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                <i class="far fa-envelope"></i>{{'MODULES.SYSTEM.MODULES' | translate }}
              </a>
              <ng-template ngbNavContent>
                <div class="col-lg-12">
                  <form [formGroup]="widgetForm">
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <div for="firstnameInput">{{'MODULES.SYSTEM.ENABLE' | translate }}</div>
                      </div>
                      <div class="flex-shrink-0 d-flex fs-18 gap-1">
                        <div class="form-check form-switch">
                          <input [checked]="widget?.active" (change)="onChange($event?.target?.checked,'active')"
                            class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <div for="firstnameInput">{{'HEADER.PROFILE.PROFILE' | translate }}</div>
                      </div>
                      <div class="flex-shrink-0 d-flex fs-18 gap-1">
                        <div class="form-check form-switch">
                          <input [checked]="widget?.content?.profile"
                            (change)="onChange($event?.target?.checked,'profile')" class="form-check-input"
                            type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <div for="firstnameInput">{{'MODULES.SYSTEM.NOTIFICATION' | translate }}</div>
                      </div>
                      <div class="flex-shrink-0 d-flex fs-18 gap-1">
                        <div class="form-check form-switch">
                          <input [checked]="widget?.content?.notification"
                            (change)="onChange($event?.target?.checked,'notification')" class="form-check-input"
                            type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <div for="firstnameInput">{{'MENUITEMS.TITLE.WALLET' | translate }}</div>
                      </div>
                      <div class="flex-shrink-0 d-flex fs-18 gap-1">
                        <div class="form-check form-switch">
                          <input [checked]="widget?.content?.wallet"
                            (change)="onChange($event?.target?.checked,'wallet')" class="form-check-input"
                            type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <div for="firstnameInput">{{'MENUITEMS.TITLE.CHALLENGE' | translate }}</div>
                      </div>
                      <div class="flex-shrink-0 d-flex fs-18 gap-1">
                        <div class="form-check form-switch">
                          <input [checked]="widget?.content?.challenge"
                            (change)="onChange($event?.target?.checked,'challenge')" class="form-check-input"
                            type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <div for="firstnameInput">{{'MODULES.SYSTEM.CHAT' | translate }}</div>
                      </div>
                      <div class="flex-shrink-0 d-flex fs-18 gap-1">
                        <div class="form-check form-switch">
                          <input [checked]="widget?.content?.chat" (change)="onChange($event?.target?.checked,'chat')"
                            class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <div for="firstnameInput">{{'MODULES.INDEX.CAMPAIGNS' | translate }}</div>
                      </div>
                      <div class="flex-shrink-0 d-flex fs-18 gap-1">
                        <div class="form-check form-switch">
                          <input [checked]="widget?.content?.campaigns"
                            (change)="onChange($event?.target?.checked,'campaigns')" class="form-check-input"
                            type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <div for="firstnameInput">{{'MENUITEMS.TITLE.BUTTONS' | translate }}</div>
                      </div>
                      <div class="flex-shrink-0 d-flex fs-18 gap-1">
                        <div class="form-check form-switch">
                          <input [checked]="widget?.content?.buttons"
                            (change)="onChange($event?.target?.checked,'buttons')" class="form-check-input"
                            type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <div for="firstnameInput">{{'MENUITEMS.TS.LEADEBOARD' | translate }}</div>
                      </div>
                      <div class="flex-shrink-0 d-flex fs-18 gap-1">
                        <div class="form-check form-switch">
                          <input [checked]="widget?.content?.leaderboard"
                            (change)="onChange($event?.target?.checked,'leaderboard')" class="form-check-input"
                            type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <div for="firstnameInput">{{'MENUITEMS.TITLE.BADGES' | translate }}</div>
                      </div>
                      <div class="flex-shrink-0 d-flex fs-18 gap-1">
                        <div class="form-check form-switch">
                          <input [checked]="widget?.content?.badges"
                            (change)="onChange($event?.target?.checked, 'badges')" class="form-check-input"
                            type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <div for="firstnameInput">{{'MENUITEMS.TITLE.MARKETPLACE' | translate }}</div>
                      </div>
                      <div class="flex-shrink-0 d-flex fs-18 gap-1">
                        <div class="form-check form-switch">
                          <input [checked]="widget?.content?.marketplace"
                            (change)="onChange($event?.target?.checked, 'marketplace')" class="form-check-input"
                            type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                      </div>
                    </div>

                    <ng-container formGroupName="content">
                      <div class="mb-3">
                        <label for="choices-privacy-status-input" class="form-label">{{'MODULES.WEBSITE.PAGES' |
                          translate }}</label>
                        <ng-select placeholder="{{'PLACEHOLDER.SELECT_PROJECTS' | translate }}" formControlName="pages"
                          [items]="pages" [multiple]="true">
                          <ng-template ng-label-tmp let-item="item" let-clear="clear">
                            <div class="ng-value-label">
                              {{
                              (item === 'ABOUT' ? 'MENUITEMS.TITLE.ABOUT' :
                              item === 'CONTACT' ? 'MENUITEMS.TITLE.CONTACT' :
                              item === 'PRIVACY' ? 'MENUITEMS.TITLE.PRIVACY' :
                              item === 'TERMS' ? 'MENUITEMS.TITLE.TERMS' :
                              item === 'RETURN_EXCHANGE' ? 'MENUITEMS.TITLE.Return RETURN_EXCHANGE' :
                              item === 'SHIPPING' ? 'MENUITEMS.TITLE.SHIPPING' :
                              item === 'COPYRIGHT' ? 'MENUITEMS.TITLE.COPYRIGHT' :
                              item === 'FAQ' ? 'MENUITEMS.TITLE.FAQ' :
                              item === 'PROJECT' ? 'MENUITEMS.TITLE.PROJECT' :
                              item === 'CAREER' ? 'MENUITEMS.TITLE.CAREER' :
                              item === 'PROJECTS' ? 'MENUITEMS.TS.Projects' :
                              item === 'BLOG' ? 'MENUITEMS.TITLE.BLOG' : '') | translate
                              }}
                            </div>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item">
                            {{
                            (item === 'ABOUT' ? 'MENUITEMS.TITLE.ABOUT' :
                            item === 'CONTACT' ? 'MENUITEMS.TITLE.CONTACT' :
                            item === 'PRIVACY' ? 'MENUITEMS.TITLE.PRIVACY' :
                            item === 'TERMS' ? 'MENUITEMS.TITLE.TERMS' :
                            item === 'RETURN_EXCHANGE' ? 'MENUITEMS.TITLE.Return RETURN_EXCHANGE' :
                            item === 'SHIPPING' ? 'MENUITEMS.TITLE.SHIPPING' :
                            item === 'COPYRIGHT' ? 'MENUITEMS.TITLE.COPYRIGHT' :
                            item === 'FAQ' ? 'MENUITEMS.TITLE.FAQ' :
                            item === 'PROJECT' ? 'MENUITEMS.TITLE.PROJECT' :
                            item === 'CAREER' ? 'MENUITEMS.TITLE.CAREER' :
                            item === 'PROJECTS' ? 'MENUITEMS.TS.Projects' :
                            item === 'BLOG' ? 'MENUITEMS.TITLE.BLOG' : '') | translate
                            }}
                          </ng-template>
                        </ng-select>
                      </div>
                    </ng-container>
                  </form>
                  <div class="col-lg-12 mt-5">
                    <div class="d-flex justify-content-end mt-3">
                      <button (click)="save()" [disabled]="isButtonDisabled || widgetForm.invalid" type="button"
                        class="btn btn-success">{{'COMMON.SAVE' | translate }}</button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2" class="nav-item">
              <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                <i class="far fa-envelope"></i>{{'MODULES.SYSTEM.PICTURE' | translate }}
              </a>
              <ng-template ngbNavContent>
                <form [formGroup]="widgetForm">
                  <div class="mb-3">
                    <label class="form-label">{{'MODULES.SYSTEM.WIDGET_PICTURE' | translate }}</label>
                    <div class="form-check">
                      <input [checked]="selectedType === 'picture'" [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="selectedType" value="picture" id="shippingMethod02" type="radio"
                        class="form-check-input">
                      <label class="form-check-label" for="shippingMethod02">
                        <span class="fs-14 mb-1 text-wrap d-block">{{'MODULES.SYSTEM.PICTURE' | translate }}</span>
                      </label>
                    </div>
                    <div class="form-check">
                      <input [checked]="selectedType === 'icon'" [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="selectedType" value="icon" id="shippingMethod02" type="radio"
                        class="form-check-input">
                      <label class="form-check-label" for="shippingMethod02">
                        <span class="fs-14 mb-1 text-wrap d-block">
                          {{'COMMON.ICON' | translate}}</span>
                      </label>
                    </div>
                  </div>
                  <div *ngIf="selectedType === 'icon'" class="mb-3">
                    <label>{{'COMMON.ICON' | translate }}</label>
                    <input placeholder="{{'PLACEHOLDER.ENTER_ICON' | translate }}" class="form-control"
                      formControlName="icon" name="title">
                  </div>
                  <div
                    *ngIf="(selectedType === 'picture') || (widget?.icon && widget?.icon !== '' && selectedType === 'icon')"
                    class="profile-user position-relative d-inline-block mx-auto mb-4">
                    <div (click)="selectedType === 'picture' ? upload() : null" class="avatar-lg mb-3">
                      <img *ngIf="widget?.picture?.baseUrl && selectedType === 'picture'"
                        class="cover product-picture w-100 avatar-lg"
                        [src]="widget?.picture?.baseUrl + '/' + widget?.picture?.path">

                      <div *ngIf="!widget?.picture?.baseUrl && selectedType === 'picture'"
                        class="avatar-title bg-light fs-24">
                        <span *ngIf="selectedType === 'picture' && !widget?.picture?.baseUrl"
                          class="fs-5 fw-bold">{{'COMMON.UPLOAD' | translate }}</span>
                      </div>
                      <div *ngIf="selectedType === 'icon'" class="avatar-title bg-light fs-24">
                        <i [ngClass]="widget?.icon"></i>
                      </div>
                    </div>
                  </div>
                </form>
              </ng-template>
            </li>
            <li [ngbNavItem]="3" class="nav-item">
              <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                <i class="far fa-envelope"></i>{{'MODULES.SYSTEM.LOGIN' | translate}}
              </a>
              <ng-template ngbNavContent>
                <form [formGroup]="widgetForm">
                  <div formGroupName="login" class="mb-3 col-lg-6">
                    <label for="email_id-field" class="form-label">{{'MODULES.SYSTEM.LOGIN_URL' | translate}}</label>
                    <input type="text" id="email_id-field" class="form-control" placeholder="Url"
                      formControlName="url" />
                  </div>
                </form>
                <div class="col-lg-12 mt-5">
                  <div class="d-flex justify-content-end mt-3">
                    <button (click)="saveLogin()" [disabled]="isLoginButtonDisabled" type="button"
                      class="btn btn-success">{{'COMMON.SAVE' | translate }}</button>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="4" class="nav-item">
              <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                <i class="far fa-envelope"></i>{{'COMMON.BRANDING' | translate}}
              </a>
              <ng-template ngbNavContent>
                <form [formGroup]="widgetForm">
                  <div class="mb-3 col-lg-6">
                    <label for="colorPicker" class="form-label">{{'MODULES.HR.MAIN.COLOR' | translate
                      }}</label>
                    <input type="color" class="form-control form-control-color w-100" id="colorPicker"
                      [formControlName]="'theme'">
                  </div>
                </form>
                <div class="col-lg-12 mt-5">
                  <div class="d-flex justify-content-end mt-3">
                    <button (click)="saveTheme()" [disabled]="isThemeButtonDisabled" type="button"
                      class="btn btn-success">{{'COMMON.SAVE' | translate }}</button>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="5" class="nav-item">
              <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                <i class="far fa-envelope"></i>
                {{'MODULES.SYSTEM.MULTI_LANGUAGE' | translate }}
              </a>
              <ng-template ngbNavContent>
                <div class="col-lg-12">
                  <div class="align-items-baseline d-flex justify-content-between mb-3">
                    <div class="align-items-center d-flex gap-3 mb-3">
                      <div>
                        <div for="firstnameInput">{{ 'COMMON.ACTIVE' | translate }}</div>
                      </div>
                      <div class="flex-shrink-0 d-flex fs-18 gap-1">
                        <div class="form-check form-switch">
                          <input [checked]="widget?.multilanguage?.active === true"
                            (change)="onChangeStatus($event?.target?.checked)" class="form-check-input" type="checkbox"
                            role="switch" id="flexSwitchCheckDefault">
                        </div>
                      </div>
                    </div>
                    <button (click)="openLanguageModal(languageModal)"
                      class="btn btn-info add-btn">{{'MODULES.SYSTEM.ADD_LANGUAGE' | translate }} </button>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive table-card mb-2">
                      <table class="table align-middle table-nowrap">
                        <thead>
                          <tr class="bg-light text-muted text-uppercase">
                            <th scope="col">{{'COMMON.NAME' | translate }}</th>
                            <th scope="col">{{'COMMON.CODE' | translate }}</th>
                            <th class="text-center">{{'COMMON.ACTIONS' | translate }}</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="widget?.multilanguage?.languages?.length">
                          <tr *ngFor="let language of widget?.multilanguage?.languages; let i = index"
                            id="c_{{language?.id}}">
                            <td>{{language?.language?.name}}</td>
                            <td>{{ language?.language?.code | truncate:10 }}</td>
                            <td>
                              <div class="align-items-center d-flex gap-2 justify-content-center">
                                <div class="flex-shrink-0 d-flex fs-18 gap-1">
                                  <div class="form-check form-switch">
                                    <input
                                      [disabled]="language?.default === false && !onCheckStatus(widget?.multilanguage?.languages)"
                                      [checked]="language?.default === true"
                                      (change)="onChangeField($event?.target?.checked, i)" class="form-check-input"
                                      type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                                <div>
                                  <a class="remove-item-btn" data-bs-toggle="modal"
                                    (click)="openDeleteModal(deleteModal, language)">
                                    <i class="ri-delete-bin-fill align-bottom text-danger fs-15"></i>
                                  </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div id="noresult" class="py-4 mt-4 text-center" *ngIf="!widget?.multilanguage?.languages?.length">
                      <lord-icon trigger="loop" style="width:72px;height:72px"
                        [colors]="'primary:' + primaryColor + ',secondary:' + secondaryColor"
                        src="https://cdn.lordicon.com/vlycxjwx.json">
                      </lord-icon>
                      <h5 class="mt-4">{{
                        'COMMON.NO_RESULT' | translate }}</h5>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="6" class="nav-item">
              <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                <i class="far fa-envelope"></i>
                {{'SHARED.CONTENT' | translate}}
              </a>
              <ng-template ngbNavContent>
                <form [formGroup]="staticForm">
                  <div class="d-flex gap-1 flex-shrink-0 mb-3">
                    <div class="btn-group shadow" role="group" aria-label="Basic example">
                      <button (click)="onChangeStaticApp('web')" type="button" [ngClass]="{
                          'btn-primary': selectedStaticApp === 'web',
                          'btn-outline-primary': selectedStaticApp === 'mobile'
                          }" class="btn btn-sm shadow-none">{{'SHARED.WIDGET_WEB' | translate}}</button>
                      <button (click)="onChangeStaticApp('mobile')" type="button" [ngClass]="{
                        'btn-primary': selectedStaticApp === 'mobile',
                        'btn-outline-primary': selectedStaticApp === 'web'
                        }" class="btn btn-sm shadow-none">{{'SHARED.WIDGET_MOBILE' | translate}}</button>
                    </div>
                  </div>
                  <div *ngIf="widget?.multilanguage?.active === true && widget?.multilanguage?.languages?.length"
                    class="card" id="ticketsList">
                    <div class="card-header border-0">
                      <div formGroupName="translation" class="row">
                        <h5 class="card-title col-lg-4 flex-grow-1">{{'COMMON.LANGUAGE' | translate }}</h5>
                        <ng-select bindLabel="name" formControlName="language" (change)="onChangeLanguage($event)"
                          class="col-lg-8" [closeOnSelect]="true" [multiple]="false" [items]="contentLanguages"
                          placeholder="{{'PLACEHOLDER.SELECT_LANGUAGE' | translate }}" [searchable]="false"
                          [clearable]="false">
                          <ng-template ng-label-tmp let-item="item" let-clear="clear">
                            <div class="d-flex gap-1">
                              <span *ngIf="item?.name !== 'Default'">{{item?.iconFlag}}</span>
                              <span>{{item?.name}}</span>
                            </div>
                          </ng-template>
                          <ng-template ng-option-tmp let-item$="item$" let-item="item">
                            <div class="d-flex gap-1">
                              <span *ngIf="item?.name !== 'Default'">{{item?.iconFlag}}</span>
                              <span>{{item?.name}}</span>
                            </div>
                          </ng-template>
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-xxl-8 mb-3 col-sm-12">
                      <div class="search-box">
                        <form [formGroup]="searchForm">
                          <input type="text" name="searchTerm" formControlName="searchString"
                            class="form-control search bg-light border-light" placeholder="Search for content">
                          <i class="ri-search-line search-icon"></i>
                        </form>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card" id="ticketsList">
                      <div class="card-header border-0">
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            <h5 class="card-title mb-0">{{'MODULES.WEBSITE.STATIC_CONTENT' | translate }}</h5>
                          </div>
                          <div>
                            <button (click)="refreshStaticTranslation()" type="button" class="btn btn-outline-info m-2">
                              <i class="ri-refresh-line"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="table-card gridjs-border-none">
                          <div class="table-responsive">
                            <table class="table align-middle custom-datatable" id="datatableexample">
                              <thead>
                                <tr class="bg-light text-uppercase text-muted">
                                  <th>{{'MODULES.INVENTORY.CONTENT' | translate }}</th>
                                  <th class="d-flex justify-content-center">{{'COMMON.ACTIONS' | translate }}</th>
                                </tr>
                              </thead>
                              <tbody
                                *ngIf="((loadingStaticTranslations$ | async) === false || null || undefined) && (staticTranslations$ | async)?.length">
                                <tr *ngFor="let static of staticTranslations$ | async;let i = index;"
                                  id="p_{{static?.id}}">
                                  <td>
                                    <ng-container *ngFor="let trs of static?.translation">
                                      <ng-container *ngIf="trs?.language?.id === selectedContentLanguage?.id">
                                        {{ trs?.content | truncate:200 }}
                                      </ng-container>
                                    </ng-container>
                                  </td>
                                  <td>
                                    <ul class="d-flex justify-content-center list-inline hstack gap-2 mb-0">
                                      <li class="list-inline-item edit" matTooltip="Edit" placement="top">
                                        <a (click)="openStaticModal(staticModal, static)" href="javascript:void(0);"
                                          data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                          <i class="ri-pencil-fill fs-16"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item edit" matTooltip="Reset" placement="top">
                                        <a (click)="resetTranslation(static.reference)" href="javascript:void(0);"
                                          data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                          <i class="ri-refresh-line fs-16"></i>
                                        </a>
                                      </li>
                                    </ul>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div id="noresult" class="py-4 mt-4 text-center"
                          *ngIf="(loadingStaticTranslations$ | async) || (!(loadingStaticTranslations$ | async) && !(staticTranslations$ | async)?.length)">
                          <div *ngIf="loadingStaticTranslations$ | async">
                            <lord-icon trigger="loop" style="width:72px;height:72px"
                              [colors]="'primary:' + primaryColor + ',secondary:' + secondaryColor"
                              src="https://cdn.lordicon.com/msoeawqm.json">
                            </lord-icon>
                            <h5 class="mt-4">{{'COMMON.LOADING' | translate }}</h5>
                          </div>
                          <div *ngIf="!(loadingStaticTranslations$ | async) && !(staticTranslations$ | async)?.length">
                            <lord-icon trigger="loop" style="width:72px;height:72px"
                              [colors]="'primary:' + primaryColor + ',secondary:' + secondaryColor"
                              src="https://cdn.lordicon.com/vlycxjwx.json">
                            </lord-icon>
                            <h5 class="mt-4">{{ 'COMMON.NO_RESULT' | translate }}</h5>
                          </div>
                        </div>
                        <div
                          *ngIf="((loadingStaticTranslations$ | async) === false || null || undefined) && (staticTranslations$ | async)?.length"
                          class="px-3">
                          <div class="row justify-content-md-between align-items-md-center gy-2">
                            <div class="col col-sm-6">
                              <div class="dataTables_info mb-2" id="tickets-table_info" role="status"
                                aria-live="polite">{{'COMMON.SHOWING' | translate }} {{pagination?.startIndex +
                                1}}–{{pagination?.endIndex ===
                                pagination?.length ? pagination?.endIndex : pagination?.endIndex + 1}} {{'COMMON.OF' |
                                translate }}
                                {{pagination?.length}} {{'COMMON.ENTRIES' | translate }}
                              </div>
                            </div>
                            <div class="col col-sm-6">
                              <div class="text-sm-right float-end listjs-pagination">
                                <ngb-pagination [maxSize]="5" [collectionSize]="pagination?.length"
                                  [(page)]="staticPage" (pageChange)="onPageChange($event)"
                                  [pageSize]="pagination?.size">
                                </ngb-pagination>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="7" class="nav-item">
              <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                <i class="far fa-envelope"></i>
                {{'MODULES.SYSTEM.VISUALS' | translate}}
              </a>
              <ng-template ngbNavContent>
                <div class="d-flex gap-1 flex-shrink-0 mb-3">
                  <div class="btn-group shadow" role="group" aria-label="Basic example">
                    <button (click)="onChangeVisualsApp('web')" type="button" [ngClass]="{
                        'btn-primary': selectedVisualsApp === 'web',
                        'btn-outline-primary': selectedVisualsApp === 'mobile'
                        }" class="btn btn-sm shadow-none">{{'SHARED.WIDGET_WEB' | translate}}</button>
                    <button (click)="onChangeVisualsApp('mobile')" type="button" [ngClass]="{
                      'btn-primary': selectedVisualsApp === 'mobile',
                      'btn-outline-primary': selectedVisualsApp === 'web'
                      }" class="btn btn-sm shadow-none">{{'SHARED.WIDGET_MOBILE' | translate}}</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card" id="ticketsList">
                      <div class="card-header border-0">
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            <h5 class="card-title mb-0">{{'MODULES.SYSTEM.VISUALS' | translate }}</h5>
                          </div>
                          <div>
                            <button (click)="refreshWidgetVisuals()" type="button" class="btn btn-outline-info m-2">
                              <i class="ri-refresh-line"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div
                          *ngIf="((loadingVisualsTranslations$ | async) === false || null || undefined) && (widgetVisuals$ | async)?.length"
                          class="mt-2 d-flex flex-wrap">
                          <div class="img-wrap image-area" *ngFor="let data of widgetVisuals$ | async">
                            <button (click)="resetWidgetVisual(data)" type="button"
                              class="btn btn-outline-info btn-sm wrap-img m-2">
                              <i class="ri-refresh-line"></i>
                            </button>
                            <img class="cover h-30 product-picture w-30"
                              [src]="data?.picture?.baseUrl + '/' + data?.picture?.path">
                            <button (click)="downloadImage(data?.picture)" type="button"
                              class="down-button btn btn-outline-success btn-icon waves-effect mb-1 waves-light btn-sm">
                              <i class="ri-download-line"></i>
                            </button>
                            <button (click)="uplaodWidgetVisual(data?.id)" type="button"
                              class="delete-button btn btn-outline-secondary btn-icon waves-effect mb-1 waves-light btn-sm">
                              <i class="ri-pencil-fill"></i>
                            </button>
                          </div>
                        </div>
                        <div id="noresult" class="py-4 mt-4 text-center"
                          *ngIf="(loadingVisualsTranslations$ | async) || (!(loadingVisualsTranslations$ | async) && !(widgetVisuals$ | async)?.length)">
                          <div *ngIf="loadingVisualsTranslations$ | async">
                            <lord-icon trigger="loop" style="width:72px;height:72px"
                              [colors]="'primary:' + primaryColor + ',secondary:' + secondaryColor"
                              src="https://cdn.lordicon.com/msoeawqm.json">
                            </lord-icon>
                            <h5 class="mt-4">{{'COMMON.LOADING' | translate }}</h5>
                          </div>
                          <div *ngIf="!(loadingVisualsTranslations$ | async) && !(widgetVisuals$ | async)?.length">
                            <lord-icon trigger="loop" style="width:72px;height:72px"
                              [colors]="'primary:' + primaryColor + ',secondary:' + secondaryColor"
                              src="https://cdn.lordicon.com/vlycxjwx.json">
                            </lord-icon>
                            <h5 class="mt-4">{{ 'COMMON.NO_RESULT' | translate }}</h5>
                          </div>
                        </div>
                        <div
                          *ngIf="((loadingVisualsTranslations$ | async) === false || null || undefined) && (widgetVisuals$ | async)?.length"
                          class="px-3 mt-3">
                          <div class="row justify-content-md-between align-items-md-center gy-2">
                            <div class="col col-sm-6">
                              <div class="dataTables_info mb-2" id="tickets-table_info" role="status"
                                aria-live="polite">{{'COMMON.SHOWING' | translate }} {{visualsPagination?.startIndex +
                                1}}–{{visualsPagination?.endIndex ===
                                visualsPagination?.length ? visualsPagination?.endIndex : visualsPagination?.endIndex +
                                1}} {{'COMMON.OF' |
                                translate }}
                                {{visualsPagination?.length}} {{'COMMON.ENTRIES' | translate }}
                              </div>
                            </div>
                            <div class="col col-sm-6">
                              <div class="text-sm-right float-end listjs-pagination">
                                <ngb-pagination [maxSize]="5" [collectionSize]="visualsPagination?.length"
                                  [(page)]="page" (pageChange)="onVisualsPageChange($event)"
                                  [pageSize]="visualsPagination?.size">
                                </ngb-pagination>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="8" class="nav-item">
              <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                <i class="far fa-envelope"></i>
                {{'MENUITEMS.CUSTOMERENGAGEMENT.CAMPAIGN.TEST' | translate}}
              </a>
              <ng-template ngbNavContent>
                <form [formGroup]="widgetForm">
                  <ng-container formGroupName="test">
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <div for="firstnameInput">{{'MODULES.SYSTEM.ENABLE' | translate }}</div>
                      </div>
                      <div class="flex-shrink-0 d-flex fs-18 gap-1">
                        <div class="form-check form-switch">
                          <input [checked]="widget?.test?.active" (change)="onChangeTest($event.target.checked)"
                            class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                      </div>
                    </div>
                    <div class="mb-3 col-lg-6">
                      <label for="email_id-field" class="form-label">{{'MODULES.SYSTEM.IP_ADDRESSES' |
                        translate}}</label>
                      <div class="d-flex">
                        <ng-select required [items]="[]" placeholder="{{'COMMON.PRESS_ENTER_TO_ADD' | translate}}"
                          class="no-arrow-select col-lg-12" [addTag]="validateAndAddIp" [isOpen]="false"
                          [multiple]="true" [selectOnTab]="true" formControlName="ips">
                        </ng-select>
                        <div class="flex-shrink-0 d-flex gap-1 btn-sm ms-3 h-100">
                          <button class="btn btn-primary add-btn" (click)="getIpAddress()">
                            <i class="ri-add-line align-bottom me-1"></i>
                            {{'COMMON.MY_IP' | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </form>
                <div class="col-lg-12 mt-5">
                  <div class="d-flex justify-content-end mt-3">
                    <button (click)="saveTest()" [disabled]="isTestButtonDisabled" type="button"
                      class="btn btn-success">{{'COMMON.SAVE' | translate }}</button>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="9" class="nav-item">
              <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                <i class="far fa-envelope"></i>
                {{'MENUITEMS.CUSTOMERENGAGEMENT.CAMPAIGN.POSITION' | translate}}
              </a>
              <ng-template ngbNavContent>
                <form [formGroup]="widgetForm">
                  <ng-container formGroupName="position">
                    <div class="row">
                      <div class="col-lg-6">
                        <label for="choices-privacy-status-input" class="form-label">{{'COMMON.ALIGNMENT' |
                          translate }}</label>
                        <ng-select placeholder="{{'COMMON.ALIGNMENT' | translate }}"
                          formControlName="alignment" [items]="positions" [multiple]="false">
                          <ng-template ng-label-tmp let-item="item" let-clear="clear">
                            <div class="ng-value-label">
                              {{
                              (
                              item === 'LEFT' ? 'COMMON.LEFT' : 'COMMON.RIGHT'
                              ) | translate
                              }}
                            </div>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item">
                            {{
                            (
                            item === 'LEFT' ? 'COMMON.LEFT' : 'COMMON.RIGHT'
                            ) | translate
                            }}
                          </ng-template>
                        </ng-select>
                      </div>
                      <div class="col-lg-6">
                        <label for="choices-privacy-status-input" class="form-label">{{'COMMON.POSITIONING' |
                          translate }}</label>
                        <input type="number" class="form-control" placeholder="{{'COMMON.POSITIONING' | translate }}"
                          formControlName="positioning"/>
                      </div>
                    </div>
                  </ng-container>
                </form>
                <div class="col-lg-12 mt-5">
                  <div class="d-flex justify-content-end mt-3">
                    <button (click)="savePosition()" [disabled]="isPositionButtonDisabled" type="button"
                      class="btn btn-success">{{'COMMON.SAVE' | translate }}</button>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
        <div class="card-body p-4">
          <div class="tab-content">
            <div [ngbNavOutlet]="customNav"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <ng-template #languageModal role="document" let-modal>
    <div class="modal-header bg-soft-info p-3">
      <h5 class="modal-title" id="exampleModalLabel">{{'MODULES.SYSTEM.ADD_LANGUAGE' | translate}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="widgetForm">
        <ng-container [formGroupName]="'multilanguage'">
          <div [formArrayName]="'languages'" class="row align-items-center">
            <ng-container [formGroupName]="i"
              *ngFor="let key of widgetForm.get(['multilanguage', 'languages'])['controls']; let i = index">
              <div class="mb-3">
                <label for="choices-status-input" class="form-label">{{'COMMON.LANGUAGE' | translate}}</label>
                <div class="d-flex">
                  <ng-select [searchable]="false" class="col-10" [virtualScroll]="true"
                    (scrollToEnd)="loadMoreLanguages()" placeholder="Enter your language" [items]="languages$ | async"
                    [multiple]="false" required formControlName="language">
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                      {{item?.name?.split('_').join(' ') | titlecase}}
                      <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                      {{item?.name?.split('_').join(' ') | titlecase}}
                    </ng-template>
                  </ng-select>
                  <button (click)="removeLanguageField(i)" class="btn btn-danger btn-sm ms-3">
                    <i class="fs-16 ft ri-delete-bin-2-line"></i>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
          <a (click)="addLanguageField()" class="btn btn-soft-info btn-sm mt-2 mt-sm-0 shadow-none"><i
              class="ri-add-line align-middle me-1"></i>
            {{'MODULES.SYSTEM.ADD_LANGUAGE' | translate}}</a>
        </ng-container>
      </form>
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"
          (click)="modal.close('Close click')">{{'COMMON.CLOSE' | translate }}</button>
        <button type="button" [disabled]="widgetForm.invalid || isButtonDisabled" (click)="saveLanguage()"
          class="btn btn-success" id="add-btn">{{'MODULES.SYSTEM.ADD_LANGUAGE' | translate}}</button>
      </div>
    </div>
  </ng-template>

  <ng-template #staticModal role="document" let-modal>
    <div class="modal-header bg-soft-info p-3">
      <h5 class="modal-title" id="exampleModalLabel"> {{ selectedStaticTranslation ? 'COMMON.EDIT_STATIC_CONTENT' :
        'COMMON.ADD_STATIC_CONTENT' | translate }} </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="staticForm">
      <div class="modal-body">
        <div class="row g-3">
          <div *ngIf="!selectedStaticTranslation" class="mb-3">
            <label for="email_id-field" class="form-label">{{'MODULES.INVENTORY.REFERENCE' | translate }}</label>
            <input type="text" class="form-control" placeholder="{{'PLACEHOLDER.REFERENCE' | translate }}"
              formControlName="reference"
              [ngClass]="{ 'is-invalid': staticForm.get('reference')?.touched && isReferenceExist }" />
            <div class="invalid-feedback" *ngIf="staticForm.get('reference')?.touched && isReferenceExist">
              {{'MODULES.WEBSITE.REFERENCE_ALREADY_EXISTS' | translate }}
            </div>
          </div>
          <div formGroupName="translation" class="mb-3">
            <label for="email_id-field" class="form-label">{{'MODULES.INVENTORY.CONTENT' | translate }}</label>
            <input type="text" class="form-control" placeholder="{{'PLACEHOLDER.CONTENT' | translate }}"
              formControlName="content" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="hstack gap-2 justify-content-end">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal"
            (click)="modal.close('Close click')">{{'COMMON.CLOSE' | translate }}</button>
          <button type="button" [disabled]="isStaticButtonDisabled || staticForm.invalid || isReferenceExist"
            (click)="saveStatic()" class="btn btn-success" id="add-btn">{{'COMMON.SAVE' | translate }}</button>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #deleteModal let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"
          (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="mt-2 text-center">
          <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
            colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
          <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
            <h4>{{'MENUITEMS.CUSTOMERENGAGEMENT.CAMPAIGN.YOU_ARE_ABOUT_TO_DELETE_A_LANGUAGE'| translate }} ?</h4>
            <p class="text-muted mx-4 mb-0">
              {{'MENUITEMS.CUSTOMERENGAGEMENT.CAMPAIGN.DELETING_YOUR_LANGUAGE_DATA_BASE_REMOVE' | translate }}
            </p>
          </div>
        </div>
        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
          <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal"
            (click)="modal.close('Close click')" id="deleteRecord-close"><i
              class="ri-close-line me-1 align-middle"></i>{{'COMMON.CLOSE' | translate }}</button>
          <button type="button" class="btn w-sm btn-danger " id="delete-product" (click)="deleteLanguage()"
            (click)="modal.close('Close click')">{{'COMMON.YES_DELETE_IT' | translate }}</button>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
<div *ngIf="navigating$ | async" class="vh-100 py-4 text-center" fxLayout="column" fxLayoutAlign="center center"
  fxLayoutGap="1rem">
  <div>
    <lord-icon trigger="loop" style="width:72px;height:72px"
      [colors]="'primary:' + primaryColor + ',secondary:' + secondaryColor"
      src="https://cdn.lordicon.com/msoeawqm.json">
    </lord-icon>
  </div>
  <div class="mt-4">
    <h5>{{'COMMON.LOADING' | translate }}</h5>
  </div>
</div>
