/* ::ng-deep header .main-navbar .nav-menu > li > a {
    color: #898989;
}
 */
:host::ng-deep .setting{
    @media(width < 600px){
        display: none!important;
    }
}
:host::ng-deep header.header-tools .top-header .container {
    background-color: transparent;
}
.top-header .header-contact li {
    color: #898989;}
    .top-header .header-dropdown li a {
       
        color: #898989;
    }
    .top-header .header-dropdown li {
   
        color: #898989;;

    }
    .top-header .header-dropdown li a i {
        color: #898989;
       
    }


.scrollable-div {
  width: 100%;

  


  z-index: 1;
}

.fixed-div {
  position: fixed;
  top: 0;
  
  z-index: 2;
}
.scrollable-div{
    @media (max-width:577px) {
        height: 40px;
        
    }
}

::ng-deep header .main-navbar .nav-menu > li > a {
    display: block;
    padding-right: 61px;
    color: #222;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 44px;
    padding-bottom: 31px;
    padding-left: 0;
    letter-spacing: 0.07em;
    position: relative;
}


@media(min-width:1200px){
.main-menu .menu-left {
  
        left: -7%;
        position: relative;
    }


}
header.left-header.left-header-sm .sidenav {
    top: 105px;
    z-index: 1;
    width: 240px;
    left: 0;
    @media(max-width:1200px){
        display: none;
    }
}
.header-style-7 {
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 5;
}
 .pixelstrap.sm-vertical a img {
    height: 36px;
    width: 36px;
}
.pixelstrap.sm-vertical a {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 18px 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pixelstrap a, .pixelstrap a:hover, .pixelstrap a:active {
    padding-right: 45px;
    color: #222;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 42px;
    padding-bottom: 42px;
    letter-spacing: 0.07em;
}