<section class="p-0">
    <div class="center-home-slider sm-size home-slider layout-7 slick-initialized slick-slider">
        <div class="slick-list draggable" >
            <owl-carousel-o [options]="MainSliderCarousel" class="slick-track" style="opacity: 1; width: 6894px;">
                
                <ng-template carouselSlide class="slick-slide ">
                    <div>
                        <div style="width: 100%; display: inline-block;">
                            <div class="home p-right text-center bg-size blur-up lazyloaded"
                                style="background-image: url(&quot;../assets/images/home-banner/59.jpg,&quot;); background-size: cover; background-position: center center; display: block;">
                                <img src="../assets/images/home-banner/59.jpg" alt="" class="bg-img blur-up lazyloaded"
                                    >
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="slider-contain">
                                                <div>
                                                    <h4 class="" >end of
                                                        season sale</h4>
                                                    <h1 class="" 
                                                        >20th -
                                                        25th Dec</h1>
                                                    <a href="#" class="btn btn-solid" 
                                                        data-delay-in="0.5" tabindex="-1"
                                                        >explore now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="slick-slide ">
                    <div>
                        <div style="width: 100%; display: inline-block;">
                            <div class="home p-right text-center bg-size blur-up lazyloaded"
                                style="background-image: url(&quot;../assets/images/home-banner/59.jpg,&quot;); background-size: cover; background-position: center center; display: block;">
                                <img src="../assets/images/home-banner/59.jpg" alt="" class="bg-img blur-up lazyloaded"
                                    >
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="slider-contain">
                                                <div>
                                                    <h4 class="" >end of
                                                        season sale</h4>
                                                    <h1 class="" 
                                                        >20th -
                                                        25th Dec</h1>
                                                    <a href="#" class="btn btn-solid" 
                                                        data-delay-in="0.5" tabindex="-1"
                                                        >explore now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="slick-slide ">
                    <div>
                        <div style="width: 100%; display: inline-block;">
                            <div class="home p-right text-center bg-size blur-up lazyloaded"
                                style="background-image: url(&quot;../assets/images/home-banner/59.jpg,&quot;); background-size: cover; background-position: center center; display: block;">
                                <img src="../assets/images/home-banner/59.jpg" alt="" class="bg-img blur-up lazyloaded"
                                    >
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="slider-contain">
                                                <div>
                                                    <h4 class="" >end of
                                                        season sale</h4>
                                                    <h1 class="" 
                                                        >20th -
                                                        25th Dec</h1>
                                                    <a href="#" class="btn btn-solid" 
                                                        data-delay-in="0.5" tabindex="-1"
                                                        >explore now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="slick-slide ">
                    <div>
                        <div style="width: 100%; display: inline-block;">
                            <div class="home p-right text-center bg-size blur-up lazyloaded"
                                style="background-image: url(&quot;../assets/images/home-banner/59.jpg,&quot;); background-size: cover; background-position: center center; display: block;">
                                <img src="../assets/images/home-banner/59.jpg" alt="" class="bg-img blur-up lazyloaded"
                                    >
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="slider-contain">
                                                <div>
                                                    <h4 class="" >end of
                                                        season sale</h4>
                                                    <h1 class="" 
                                                        >20th -
                                                        25th Dec</h1>
                                                    <a href="#" class="btn btn-solid" 
                                                        data-delay-in="0.5" tabindex="-1"
                                                        >explore now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
          
            </owl-carousel-o>
        </div>
    </div>
</section>