<div class="theme-color-1" style="overflow: auto;">





    <app-header [themeLogo]="themeLogo"></app-header>

    <app-main-slider></app-main-slider>

    <section class="bg_cls section-b-space">
        <div class="search-section absolute-banner">
            <div class="container">
                <div class="absolute-bg">
                    <h4 class="">find your cycle</h4>
                    <form class="row align-items-center">
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-0">
                                <select class="form-control">
                                    <option>Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-0">
                                <select class="form-control">
                                    <option>Age</option>
                                    <option>5-8 Year</option>
                                    <option>8-14 Year</option>
                                    <option>14+</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-0">
                                <input type="text" class="form-control" placeholder="Height" tabindex="0">
                            </div>
                        </div>
                        <div class="col-md-3 col-12 search-col">
                            <div class="search-btn">
                                <a href="#" class="btn btn-solid d-block" tabindex="0">search</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <app-trending-products></app-trending-products>

    <section class="pb-0  banner-text-white ratio_45">
        <div class="container">
            <div class="row partition2">
                <div class="col-md-6">
                    <a href="#">
                        <div class="collection-banner p-left text-start">
                            <div class="img-part bg-size blur-up lazyloaded"
                                style="background-image: url(&quot;../assets/images/game/banner/1.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                <img src="../assets/images/game/banner/1.jpg" class="img-fluid bg-img blur-up lazyload"
                                    alt="" style="display: none;">
                            </div>
                            <div class="contain-banner">
                                <div>
                                    <h4>for windows</h4>
                                    <h2>save 10%</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="collection-banner p-right text-end">
                            <div class="img-part bg-size blur-up lazyloaded"
                                style="background-image: url(&quot;../assets/images/game/banner/2.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                <img src="../assets/images/game/banner/2.jpg" class="img-fluid bg-img blur-up lazyload"
                                    alt="" style="display: none;">
                            </div>
                            <div class="contain-banner">
                                <div>
                                    <h4>for psp</h4>
                                    <h2>off 15%</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <app-ngbnav></app-ngbnav>



    

    <section class="pb-0 ratio2_1 bg_cls">
        <div class="container-fluid">
            <div class="row partition2">
                <div class="col-md-6">
                    <a href="#">
                        <div class="collection-banner p-right text-end">
                            <div class="img-part bg-size blur-up lazyloaded" style="background-image: url(&quot;../assets/images/bicycle/banner/1.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                <img src="../assets/images/bicycle/banner/1.jpg" class="img-fluid blur-up lazyload bg-img" alt="" >
                            </div>
                            <div class="contain-banner">
                                <div>
                                    <h4>save 30%</h4>
                                    <h2 class="font-smaller">feature</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="collection-banner p-right text-end">
                            <div class="img-part bg-size blur-up lazyloaded" style="background-image: url(&quot;../assets/images/bicycle/banner/2.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                <img src="../assets/images/bicycle/banner/2.jpg" class="img-fluid blur-up lazyload bg-img" alt="" >
                            </div>
                            <div class="contain-banner">
                                <div>
                                    <h4>save 60%</h4>
                                    <h2 class="font-smaller">newest</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="title1  section-t-space">
        <h4>special offer</h4>
        <h2 class="title-inner1">top collection</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="product-para">
                    <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s,</p>
                </div>
            </div>
        </div>
    </div>



    <app-instagram></app-instagram>



    <app-footer></app-footer>


</div>