.absolute-banner .absolute-bg {
    background-color: white;
    position: relative;
    padding: 25px;
    -webkit-box-shadow: 0 0 8px 0 #ddd;
    box-shadow: 0 0 8px 0 #ddd;
}
.search-section .absolute-bg {
    border-radius: 8px;
}