/* .dark-layout{
    background-color: #171622;
} */
.custom-footer{
    background-image: url('/assets/images/parallax/27.jpg');
}
.footer-theme .sub-title li a {
    
    color: #fff;
}
.footer-theme .sub-title h4 {
    color: #fff;

}


p {
    
    color: #fff;}
    .subscribe h4 {
        color: #fff;

    }