.line-through {
  text-decoration: line-through;
}
.delete-icon {
  background-color: white;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
agm-map {
  height: 300px;
}
.h-300 {
  height: 300px;
  width: 300px;
}
