<div class="prd-breadcrumb">
    <div class="brd-shape">
        <div class="brd-img brd-img-1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="200"
            data-aos-duration="500" data-aos-easing="ease-in">
            <img src="assets/img/breadcrumb/brd-img-1.png" alt="">
        </div>
        <div class="brd-img brd-img-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="200"
            data-aos-duration="500" data-aos-easing="ease-in">
            <img src="assets/img/breadcrumb/brd-img-2.png" alt="">
        </div>
    </div>
    <div class="container">
        <div class="brd-content">
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in"
                class="aos-init aos-animate">
                <span class="sub-title">Affiliate Program</span>
            </div>
            <h2 class="title aos-init aos-animate" data-aos="fade-up" data-aos-delay="350" data-aos-duration="500"
                data-aos-easing="ease-in">Earn Money with Affiliate Program</h2>
            <div class="page-direction">
                <ul>
                    <li>
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                        <span class="text">Home</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-light fa-caret-right fa-xl"></i></span>
                        <span class="text">affiliate</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="affiliate">
    <div class="global-shape aos-init" data-aos="fade-left" data-aos-duration="700" data-aos-delay="200">
        <img src="assets/img/shapes/shape-1.png" alt="">
    </div>
    <div class="container">
        <div class="section-title aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500"
            data-aos-easing="ease-in">
            <h3 class="sub-title">Refferal Marketing</h3>
            <h2 class="title">We Provide The Best Refferal Commission</h2>
        </div>
        <div class="row gx-sm-4 gx-2 affiliate-row">
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4 aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">

                <div class="single-level">
                    <div class="second circle" data-progress="0.166">
                        <div appProgressBar [height]="4" [lineColor]="'#D03355'" [start]="0" [stop]="80"
                            [gradientColors]="['#D03355', '#D03355']" [shape]="'circle'" class="progress-stat-bar"
                            style="stroke-width: 4px"></div>
                            <span class="parcentage-text">16.6<i>%</i></span>
                    </div>

                    <span class="text">Level 01</span>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4 aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in">
                <div class="single-level">
                    <div class="second circle" data-progress="0.166">
                        <div appProgressBar [height]="4" [lineColor]="'#D03355'" [start]="0" [stop]="80"
                            [gradientColors]="['#D03355', '#D03355']" [shape]="'circle'" class="progress-stat-bar"
                            style="stroke-width: 4px"></div>
                        <span class="parcentage-text">16.6<i>%</i></span>
                    </div>
                    <span class="text">Level 02</span>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4 aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
                <div class="single-level">
                    <div class="second circle" data-progress="0.25"><div appProgressBar [height]="4" [lineColor]="'#D03355'" [start]="0" [stop]="80"
                        [gradientColors]="['#D03355', '#D03355']" [shape]="'circle'" class="progress-stat-bar"
                        style="stroke-width: 4px"></div>
                        <span class="parcentage-text">25<i>%</i></span>
                    </div>
                    <span class="text">Level 03</span>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4 aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="250" data-aos-duration="500" data-aos-easing="ease-in">
                <div class="single-level">
                    <div class="second circle" data-progress="0.333"><div appProgressBar [height]="4" [lineColor]="'#D03355'" [start]="0" [stop]="80"
                        [gradientColors]="['#D03355', '#D03355']" [shape]="'circle'" class="progress-stat-bar"
                        style="stroke-width: 4px"></div>
                        <span class="parcentage-text">33.3<i>%</i></span>
                    </div>
                    <span class="text">Level 04</span>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4 aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="300" data-aos-duration="500" data-aos-easing="ease-in">
                <div class="single-level">
                    <div class="second circle" data-progress="0.416"><div appProgressBar [height]="4" [lineColor]="'#D03355'" [start]="0" [stop]="80"
                        [gradientColors]="['#D03355', '#D03355']" [shape]="'circle'" class="progress-stat-bar"
                        style="stroke-width: 4px"></div>
                        <span class="parcentage-text">41.6<i>%</i></span>
                    </div>
                    <span class="text">Level 05</span>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4 aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="350" data-aos-duration="500" data-aos-easing="ease-in">
                <div class="single-level">
                    <div class="second circle" data-progress="0.50"><div appProgressBar [height]="4" [lineColor]="'#D03355'" [start]="0" [stop]="80"
                        [gradientColors]="['#D03355', '#D03355']" [shape]="'circle'" class="progress-stat-bar"
                        style="stroke-width: 4px"></div>
                        <span class="parcentage-text">50<i>%</i></span>
                    </div>
                    <span class="text">Level 06</span>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4 aos-init" data-aos="fade-up" data-aos-delay="100"
                data-aos-duration="500" data-aos-easing="ease-in">
                <div class="single-level">
                    <div class="second circle" data-progress="0.583"><div appProgressBar [height]="4" [lineColor]="'#D03355'" [start]="0" [stop]="80"
                        [gradientColors]="['#D03355', '#D03355']" [shape]="'circle'" class="progress-stat-bar"
                        style="stroke-width: 4px"></div>
                        <span class="parcentage-text">58.3<i>%</i></span>
                    </div>
                    <span class="text">Level 07</span>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4 aos-init" data-aos="fade-up" data-aos-delay="150"
                data-aos-duration="500" data-aos-easing="ease-in">
                <div class="single-level">
                    <div class="second circle" data-progress="0.666"><div appProgressBar [height]="4" [lineColor]="'#D03355'" [start]="0" [stop]="80"
                        [gradientColors]="['#D03355', '#D03355']" [shape]="'circle'" class="progress-stat-bar"
                        style="stroke-width: 4px"></div>
                        <span class="parcentage-text">66.6<i>%</i></span>
                    </div>
                    <span class="text">Level 08</span>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4 aos-init" data-aos="fade-up" data-aos-delay="200"
                data-aos-duration="500" data-aos-easing="ease-in">
                <div class="single-level">
                    <div class="second circle" data-progress="0.75"><div appProgressBar [height]="4" [lineColor]="'#D03355'" [start]="0" [stop]="80"
                        [gradientColors]="['#D03355', '#D03355']" [shape]="'circle'" class="progress-stat-bar"
                        style="stroke-width: 4px"></div>
                        <span class="parcentage-text">75<i>%</i></span>
                    </div>
                    <span class="text">Level 09</span>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4 aos-init" data-aos="fade-up" data-aos-delay="250"
                data-aos-duration="500" data-aos-easing="ease-in">
                <div class="single-level">
                    <div class="second circle" data-progress="0.833"><div appProgressBar [height]="4" [lineColor]="'#D03355'" [start]="0" [stop]="80"
                        [gradientColors]="['#D03355', '#D03355']" [shape]="'circle'" class="progress-stat-bar"
                        style="stroke-width: 4px"></div>
                        <span class="parcentage-text">83.3<i>%</i></span>
                    </div>
                    <span class="text">Level 10</span>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4 aos-init" data-aos="fade-up" data-aos-delay="300"
                data-aos-duration="500" data-aos-easing="ease-in">
                <div class="single-level">
                    <div class="second circle" data-progress="0.916"><div appProgressBar [height]="4" [lineColor]="'#D03355'" [start]="0" [stop]="80"
                        [gradientColors]="['#D03355', '#D03355']" [shape]="'circle'" class="progress-stat-bar"
                        style="stroke-width: 4px"></div>
                        <span class="parcentage-text">91.6<i>%</i></span>
                    </div>
                    <span class="text">Level 11</span>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4 aos-init" data-aos="fade-up" data-aos-delay="350"
                data-aos-duration="500" data-aos-easing="ease-in">
                <div class="single-level">
                    <div class="second circle" data-progress="1.0"><div appProgressBar [height]="4" [lineColor]="'#D03355'" [start]="0" [stop]="80"
                        [gradientColors]="['#D03355', '#D03355']" [shape]="'circle'" class="progress-stat-bar"
                        style="stroke-width: 4px"></div>
                        <span class="parcentage-text">100<i>%</i></span>
                    </div>
                    <span class="text">Level 12</span>
                </div>
            </div>
        </div>
    </div>
</div>