<div class="theme-color-1" style="overflow: auto;">





    <app-header [themeLogo]="themeLogo"></app-header>

    <app-main-slider></app-main-slider>


    <section class="banner-padding absolute-banner pb-0 ratio2_1">
        <div class="container absolute-bg">
            <div class="row partition2">
                <div class="col-md-6">
                    <a href="#">
                        <div class="collection-banner p-right text-center">
                            <div class="bg-size blur-up lazyloaded" style="background-image: url(&quot;../assets/images/kids/2.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                <img src="../assets/images/kids/2.jpg" class="img-fluid blur-up lazyload bg-img" alt="" >
                            </div>
                            <div class="contain-banner">
                                <div>
                                    <h4>save 30%</h4>
                                    <h2>outfits</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="collection-banner p-right text-center">
                            <div class="bg-size blur-up lazyloaded" style="background-image: url(&quot;../assets/images/kids/1.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                <img src="../assets/images/kids/1.jpg" class="img-fluid blur-up lazyload bg-img" alt="" >
                            </div>
                            <div class="contain-banner">
                                <div>
                                    <h4>save 60%</h4>
                                    <h2>toys</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>



    <app-products></app-products>

    <section class="p-0">
        <div class="full-banner parallax text-center p-left bg-size blur-up lazyloaded" style="background-image: url(&quot;../assets/images/parallax/10.jpg&quot;); background-size: cover; background-position: center center; display: block;">
            <img src="../assets/images/parallax/10.jpg" alt="" class="bg-img blur-up lazyload" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="banner-contain">
                            <h2>2018</h2>
                            <h3>top trends</h3>
                            <h4>special offer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 


    <app-ngbnav></app-ngbnav>

    <app-new-products></app-new-products>








    <app-instagram></app-instagram>

 <app-brand></app-brand>

    <app-footer></app-footer>


</div>