<div class="error-page d-lg-flex align-items-center">
    <div class="img-holder order-lg-last">
        <img src="assets/images/media/404.svg" alt="" class="w-100 illustration">
        <img src="assets/images/media/404-q.svg" alt="" class="shapes qus">
    </div>
    <div class="text-wrapper order-lg-first">
        <div class="logo"><a routerLink="/"><img src="assets/images/logo/logo_elev.svg" alt=""></a></div>
        <h1 class="font-slab">{{'SORRY' | translate}}, <br>{{'PAGE_NOT_FOUND' | translate}} <br>{{'BE_FOUND' |
            translate}}.</h1>
        <p class="font-rubik">{{'OOPS' | translate}}</p>
        <a routerLink="/" class="back-home font-rubik d-flex align-items-center justify-content-center">
            <span>{{'BACK_TO_HOME' | translate}}</span>
            <img src="assets/images/icon/53.svg" alt="">
        </a>
    </div>
</div>