<app-breadcrumbs title="{{ 'MODULES.CRM.CUSTOMERS.COMPANIES' | translate }}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<ng-container *ngIf="!(navigating$ | async)">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center flex-wrap gap-2">
            <div class="flex-grow-1">
              <button class="btn btn-info add-btn" data-bs-toggle="modal" data-bs-target="#showModal" (click)="openCompanyModal(content, null)">
                <i class="ri-add-fill align-bottom"></i> {{ 'MODULES.CRM.CUSTOMERS.ADD_COMPANY' | translate }}
              </button>
            </div>
            <div class="col-sm-auto hstack gap-2">
              <button (click)="openImportModal(importModal)" type="button" class="btn btn-secondary">
                <i class="ri-file-upload-line align-bottom"></i> {{ 'COMMON.IMPORT' | translate }}
              </button>
              <button (click)="downloadExcel()" type="button" class="btn btn-primary">
                <i class="ri-file-download-line align-bottom"></i> {{ 'COMMON.EXPORT' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xxl-9">
      <div class="card" id="companyList">
        <div class="card-header">
          <div class="row g-2">
            <div class="col-md-3">
              <div class="search-box">
                <form [formGroup]="searchForm">
                  <input type="text" formControlName="searchString" name="searchTerm" class="form-control" placeholder="{{ 'MODULES.CRM.CUSTOMERS.SEARCH_COMPANY' | translate }}">
                  <i class="ri-search-line search-icon"></i>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive table-card mb-2">
            <table class="table align-middle table-nowrap">
              <thead>
                <tr class="bg-light text-muted text-uppercase">
                  <th scope="col">{{ 'MODULES.CRM.CUSTOMERS.COMPANY_NAME' | translate }}</th>
                  <th scope="col">{{ 'MODULES.CRM.CUSTOMERS.EMAIL' | translate }}</th>
                  <th scope="col">{{ 'MODULES.CRM.CUSTOMERS.PHONE' | translate }}</th>
                  <th scope="col">{{ 'MODULES.CRM.CUSTOMERS.WEBSITE' | translate }}</th>
                  <th scope="col">{{ 'MODULES.CRM.CUSTOMERS.LOCATION' | translate }}</th>
                  <th scope="col">{{ 'MODULES.CRM.CUSTOMERS.ACTION' | translate }}</th>
                </tr>
              </thead>
              <tbody *ngIf="((loadingCompanies$ | async) === false || null || undefined) && (companies$ | async).length">
                <tr *ngFor="let data of companies$ | async" id="c_{{data.id}}">
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="flex-shrink-0">
                        <img *ngIf="data.media?.pictures?.length" [src]="data.media?.pictures[0].baseUrl + '/' + data.media?.pictures[0].path" class="avatar-xxs rounded-circle image_src">
                        <div *ngIf="!data?.media?.pictures?.length" class="avatar-xxs rounded-circle bg-light">
                          <span class="avatar-title-x text-success">
                            {{data?.name?.charAt(0) || 'N'}}
                          </span>
                        </div>
                      </div>
                      <div (click)="openCompanyModal(content, data)" class="flex-grow-1 cursor-pointer fw-medium link-primary ms-2 name">
                        {{data?.name}}</div>
                    </div>
                  </td>
                  <td><ngb-highlight [result]="data.contact.email"></ngb-highlight>
                  </td>
                  <td><ngb-highlight [result]="data.contact?.phone?.number"></ngb-highlight>
                  </td>
                  <td><a href="{{data.contact?.website}}" target="_blank" class="star_value link-primary cursor-pointer">{{data?.contact?.website?.length > 20 ?
                      data.contact.website.substr(0,20)+ '...' :
                      data.contact.website}}</a></td>
                  <td><ngb-highlight [result]="data?.address?.country?.name"></ngb-highlight>
                  </td>
                  <td>
                    <ul class="list-inline hstack gap-2 mb-0">
                      <li *ngIf="data.contact?.phone?.number" class="list-inline-item edit" placement="top">
                        <a href="tel:+{{data.contact?.phone?.countryCode}}{{ data.contact?.phone?.number}}" class="text-primary d-inline-block">
                          <i class="ri-phone-line fs-16"></i>
                        </a>
                      </li>
                      <li *ngIf="data.contact?.phone?.number" class="list-inline-item edit" placement="top">
                        <a target="_blank" href="https://wa.me/+{{data.contact?.phone?.countryCode}}{{data.contact?.phone?.number}}" class="text-primary d-inline-block">
                          <i class="ri-question-answer-line fs-16"></i>
                        </a>
                      </li>
                      <li class="list-inline-item" placement="top">
                        <a href="javascript:void(0);" (click)="companyPreview(data)"><i class="ri-eye-fill align-bottom text-primary"></i></a>
                      </li>
                      <li class="list-inline-item" placement="top">
                        <a class="edit-item-btn" data-bs-toggle="modal" (click)="openCompanyModal(content, data)"><i class="ri-pencil-fill align-bottom text-primary"></i></a>
                      </li>
                      <li class="list-inline-item" placement="top">
                        <a class="remove-item-btn" data-bs-toggle="modal" (click)="openDeleteCompany(deleteCompanyModel,data)">
                          <i class="ri-delete-bin-fill align-bottom text-danger"></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="((loadingCompanies$ | async) === false || null || undefined) && (companies$ | async).length" class="px-3">
            <div class="row justify-content-md-between align-items-md-center gy-2">
              <div class="col col-sm-6">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                  {{ 'COMMON.SHOWING' | translate
                  : { startIndex: pagination?.startIndex + 1, endIndex: pagination?.endIndex === pagination?.length ? pagination?.endIndex : pagination?.endIndex + 1, length: pagination?.length } }}
                </div>
              </div>
              <div class="col col-sm-6">
                <div class="text-sm-right float-end listjs-pagination">
                  <ngb-pagination [maxSize]="5" [collectionSize]="pagination?.length" [(page)]="page" (pageChange)="onPageChange($event)" [pageSize]="pagination?.size">
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </div>
          <div id="noresult" class="py-4 mt-4 text-center" *ngIf="(loadingCompanies$ | async) || (!(loadingCompanies$ | async) && !(companies$ | async).length)">
            <div *ngIf="loadingCompanies$ | async">
              <lord-icon trigger="loop" style="width:72px;height:72px" [colors]="'primary:' + primaryColor + ',secondary:' + secondaryColor" src="https://cdn.lordicon.com/msoeawqm.json">
              </lord-icon>
              <h5 class="mt-4">{{ 'COMMON.LOADING' | translate }}</h5>
            </div>
            <div *ngIf="!(loadingCompanies$ | async) && !(companies$ | async).length">
              <lord-icon trigger="loop" style="width:72px;height:72px" [colors]="'primary:' + primaryColor + ',secondary:' + secondaryColor" src="https://cdn.lordicon.com/msoeawqm.json">
              </lord-icon>
              <h5 class="mt-4" >{{ 'COMMON.NO_RESULT' | translate }}</h5>
            </div>
          </div>

          <ng-template #content role="document" let-modal>
            <div class="modal-header bg-soft-info p-3">
              <h5 class="modal-title" id="exampleModalLabel">{{ selectedCompany ?
                ('MODULES.CRM.CUSTOMERS.EDIT_CUSTOMER_COMPANY' | translate) : ('MODULES.CRM.CUSTOMERS.ADD_CUSTOMER_COMPANY' | translate) }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <form [formGroup]="customerForm">
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="text-center">
                      <div (click)="upload()" class="position-relative d-inline-block">
                        <div class="position-absolute bottom-0 end-0">
                          <label for="company-logo-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ 'COMMON.SELECT_OPTION' | translate }}">
                            <div class="avatar-xs cursor-pointer">
                              <div class="avatar-title bg-light border rounded-circle text-muted">
                                <i class="ri-image-fill"></i>
                              </div>
                            </div>
                          </label>
                        </div>
                        <div class="avatar-lg p-1">
                          <div class="avatar-title bg-light rounded-circle">
                            <img *ngIf="pictures.value[0]?.baseUrl === ''" src="assets/images/users/multi-user.jpg" id="companylogo-img" class="avatar-md rounded-circle object-cover" />
                            <img *ngIf="pictures.value[0]?.baseUrl !== ''" [src]="pictures.value[0].baseUrl + '/' + pictures.value[0].path" id="companylogo-img"
                              class="avatar-md rounded-circle object-cover" />
                          </div>
                        </div>
                      </div>
                      <h5 class="fs-13 mt-3">{{ 'MODULES.CRM.CUSTOMERS.COMPANY_LOGO' | translate }}</h5>
                    </div>
                    <div class="row">
                      <div class="mb-3 col-lg-6">
                        <label for="firstnameInput" class="form-label">{{ 'COMMON.NAME' | translate }}</label>
                        <input formControlName="name" type="text" class="form-control" id="firstnameInput" placeholder="{{ 'COMMON.ENTER_TITLE' | translate }}">
                      </div>
                      <div class="mb-3 col-lg-6">
                        <label for="firstnameInput" class="form-label">{{ 'COMMON.EXTERNAL_ID' | translate }}</label>
                        <input formControlName="externalId" type="text" class="form-control" id="firstnameInput" placeholder="{{ 'COMMON.ENTER_TITLE' | translate }}">
                      </div>
                    </div>
                  </div>
                  <ng-container formGroupName="legal">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="lastnameInput" class="form-label">{{ 'COMMON.REG_NUMBER' | translate }}</label>
                        <input formControlName="register" type="text" class="form-control" id="lastnameInput" placeholder="{{ 'COMMON.ENTER_TITLE' | translate }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="lastnameInput" class="form-label">{{ 'COMMON.VAT' | translate }}</label>
                        <input formControlName="vat" type="text" class="form-control" id="lastnameInput" placeholder="{{ 'COMMON.ENTER_TITLE' | translate }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="lastnameInput" class="form-label">{{ 'COMMON.LICENCE' | translate }}</label>
                        <input formControlName="licence" type="text" class="form-control" id="lastnameInput" placeholder="{{ 'COMMON.ENTER_TITLE' | translate }}">
                      </div>
                    </div>
                  </ng-container>
                  <ng-container formGroupName="contact">
                    <div class="col-lg-6">
                      <ng-container formGroupName="phone">
                        <div class="mb-3">
                          <label for="phonenumberInput" class="form-label">{{ 'COMMON.PHONE_NUMBER' | translate }}</label>
                          <input formControlName="number" type="text" class="form-control" id="phonenumberInput" placeholder="{{ 'COMMON.ENTER_TITLE' | translate }}">
                        </div>
                      </ng-container>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="emailInput" class="form-label">{{ 'COMMON.EMAIL_ADDRESS' | translate }}</label>
                        <input formControlName="email" type="email" class="form-control" id="emailInput" placeholder="{{ 'COMMON.ENTER_TITLE' | translate }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="websiteInput1" class="form-label">{{ 'COMMON.WEBSITE' | translate }}</label>
                        <input formControlName="website" type="text" class="form-control" id="websiteInput1" placeholder="{{ 'COMMON.WEBSITE' | translate }}" />
                      </div>
                    </div>
                  </ng-container>
                  <ng-container formGroupName="address">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="designationInput" class="form-label">{{ 'COMMON.ADDRESS' | translate }}</label>
                        <input formControlName="address" type="text" class="form-control" id="designationInput" placeholder="{{ 'COMMON.ADDRESS' | translate }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="cityInput" class="form-label">{{ 'COMMON.CITY' | translate }}</label>
                        <input formControlName="city" type="text" class="form-control" id="cityInput" placeholder="{{ 'COMMON.CITY' | translate }}" />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="countryInput" class="form-label">{{ 'COMMON.COUNTRY' | translate }}</label>
                        <select class="form-select form-control-line" [formControlName]="'country'">
                          <option value="" disabled selected>{{ 'COMMON.SELECT_AN_OPTION' | translate }}</option>
                          <option *ngFor="let country of countries" [value]="country.id">
                            {{ country.name.split('_').join(' ') | titlecase }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="zipcodeInput" class="form-label">{{ 'COMMON.ZIP_CODE' | translate }}</label>
                        <input formControlName="postCode" type="text" class="form-control" id="zipcodeInput" placeholder="{{ 'COMMON.ENTER_TITLE' | translate }}">
                      </div>
                    </div>
                  </ng-container>
                  <div class="col-lg-12">
                    <div class="mb-3 pb-2">
                      <label for="exampleFormControlTextarea" class="form-label">{{ 'COMMON.DESCRIPTION' | translate }}</label>
                      <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea" placeholder="{{ 'COMMON.ENTER_DESCRIPTION' | translate }}" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                  <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modal.close('Close click')">{{ 'COMMON.CLOSE' | translate }}</button>
                  <button type="button" (click)="saveCustomerCompnay()" [disabled]="isCompanyButtonDisabled || customerForm.invalid" class="btn btn-success" id="add-btn">{{ selectedCompany ?
                    ('MODULES.CRM.CUSTOMERS.EDIT_CUSTOMER_COMPANY' | translate) : ('MODULES.CRM.CUSTOMERS.ADD_CUSTOMER_COMPANY' | translate) }}</button>
                </div>
              </div>
            </form>
          </ng-template>

        </div>
      </div>
    </div>
    <div class="col-xxl-3" id="company-view-detail">
      <div class="card">
        <div class="card-body text-center company-details">
          <div class="position-relative d-inline-block">
            <div class="avatar-md">
              <div class="avatar-title bg-light rounded-circle shadow">
                <div class="avatar-xs bg-light rounded-circle p-1 h-x" *ngIf="!selectedProfile?.media?.pictures?.length">
                  <div class="text-success fs-18">
                    {{selectedProfile?.name?.charAt(0) ||
                    'N'}}</div>
                </div>
                <img *ngIf="selectedProfile?.media?.pictures?.length && selectedProfile?.media?.pictures[0]?.baseUrl"
                  [src]="selectedProfile.media.pictures[0].baseUrl + '/' + selectedProfile.media.pictures[0].path" alt="" class="avatar-lg rounded-circle">
              </div>
            </div>
          </div>
          <h5 class="mt-3 mb-1">{{ selectedProfile?.name }}</h5>
          <ul class="list-inline mb-0">
            <li *ngIf="selectedProfile?.contact?.website" class="list-inline-item link-primary avatar-xs">
              <a target="_blank" href="{{selectedProfile?.contact?.website}}" class="avatar-title bg-soft-success text-success fs-15 rounded">
                <i class="ri-global-line"></i>
              </a>
            </li>
            <li *ngIf="selectedProfile?.contact?.email" class="list-inline-item avatar-xs">
              <a href="mailto:{{selectedProfile?.contact?.email}}" class="avatar-title bg-soft-danger text-danger fs-15 rounded">
                <i class="ri-mail-line"></i>
              </a>
            </li>
            <li *ngIf="selectedProfile?.contact?.phone?.number" class="list-inline-item avatar-xs">
              <a target="_blank" href="https://wa.me/+{{selectedProfile.contact?.phone?.countryCode}}{{ selectedProfile.contact?.phone?.number}}"
                class="avatar-title bg-soft-warning text-warning fs-15 rounded">
                <i class="ri-question-answer-line"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h6 *ngIf="selectedProfile?.description || selectedProfile?.contact.website || selectedProfile?.contact?.email" class="text-muted text-uppercase fw-semibold mb-3">{{ 'COMMON.INFORMATION' | translate }}
          </h6>
          <p class="text-muted mb-4">{{selectedProfile?.description}}</p>
          <div class="table-responsive table-card">
            <table class="table table-borderless mb-0">
              <tbody>
                <tr *ngIf="selectedProfile?.contact?.website">
                  <td class="fw-medium" scope="row">{{ 'COMMON.WEBSITE' | translate }}</td>
                  <td>
                    <a href="javascript:void(0);" class="link-primary text-decoration-underline website">
                      {{selectedProfile?.contact.website.length > 20 ? selectedProfile?.contact.website.substr(0,20) +
                      '...'
                      :
                      selectedProfile?.contact.website}}</a>
                  </td>
                </tr>
                <tr *ngIf="selectedProfile?.contact?.email">
                  <td class="fw-medium" scope="row">{{ 'COMMON.CONTACT_EMAIL' | translate }}</td>
                  <td class="email">{{ selectedProfile?.contact?.email }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #deleteCompanyModel let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="deleteRecord-close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="mt-2 text-center">
          <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
          <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
            <h4>{{ 'COMMON.ARE_YOU_SURE_DELETE' | translate }}</h4>
            <p class="text-muted mx-4 mb-0">{{ 'COMMON.DELETE_WARNING' | translate }}</p>
          </div>
        </div>
        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
          <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal" (click)="modal.close('Close click')">
            <i class="ri-close-line me-1 align-middle"></i>{{ 'COMMON.CLOSE' | translate }}
          </button>
          <button type="button" class="btn w-sm btn-danger" id="delete-product" (click)="deleteCustomerCompany()">
            {{ 'COMMON.YES_DELETE_IT' | translate }}
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #importModal role="document" let-modal>
    <div class="modal-header bg-soft-info p-3">
      <h5 class="modal-title" id="exampleModalLabel">{{ 'MODULES.CRM.CUSTOMERS.UPLOAD_EXCEL' | translate }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>
        {{ 'MODULES.CRM.CUSTOMERS.UPLOAD_EXCEL_PARAGRAPH' | translate }}
      </p>
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"
          (click)="modal.close('Close click')">{{ 'COMMON.CLOSE' | translate }}</button>
        <button type="button" (click)="!loadingImport ? uploadExcel() : null" class="btn btn-primary btn-load">
          <span *ngIf="!loadingImport">{{ 'MODULES.CRM.CUSTOMERS.IMPORT_EXCEL' | translate }}</span>
          <span *ngIf="loadingImport" class="d-flex align-items-center">
            <span class="spinner-border flex-shrink-0" role="status">
              <span class="visually-hidden">{{ 'COMMON.LOADING' | translate }}</span>
            </span>
            <span class="flex-grow-1 ms-2">{{ 'COMMON.LOADING' | translate }}</span>
          </span>
        </button>
      </div>
    </div>
  </ng-template>

</ng-container>
<div *ngIf="navigating$ | async" class="vh-100 py-4 text-center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
  <div>
    <lord-icon trigger="loop" style="width:72px;height:72px" [colors]="'primary:' + primaryColor + ',secondary:' + secondaryColor" src="https://cdn.lordicon.com/msoeawqm.json">
    </lord-icon>
  </div>
  <div class="mt-4">
    <h5>{{ 'COMMON.LOADING' | translate }}</h5>
  </div>
</div>
