.h-10 {
  max-height: 10rem;
  overflow-y: auto;
}
.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}
@media (min-width: 576px) {
  .my-element {
    margin-right: 0.5rem;
  }
}
.h-11 {
  height: 11rem;
}
