.full-banner.small-banner {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
}

::ng-deep.theme-color-1 {
    --theme-color: #81ba00!important;
}

.font-fraunces {
    font-family: 'Fraunces', serif;
}