<header class="sticky" [ngClass]="class" [class.fixed]="stick && sticky">
    <div class="mobile-fix-option"></div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="main-menu">
            <div class="menu-left">
              <!-- <app-left-menu></app-left-menu> -->
              <div class="brand-logo">
                <a routerLink="/" id="headerlogo">
                  <img [src]="themeLogo" class="img-fluid" alt="logo">
                </a>
              </div>
            </div>
            <div class="menu-right pull-right">
              <div>
                <app-menu></app-menu>
              </div>
              <div>
                <app-settings></app-settings>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  

  <header class="left-header left-header-sm">
    <div class="metro">
        <div class="main-menu">
            <div class="menu-left">
                <div class="sidenav svg-icon-menu">
                    <nav class="">
                        <div>
                            <div class="sidebar-back text-start d-xl-none d-block"><i class="fa fa-angle-left pe-2" aria-hidden="true"></i> Back</div>
                        </div>
                        <div class="left-sidebar_center">
                            <ul id="sub-menu" class="sm pixelstrap sm-vertical" data-smartmenus-id="17056512439328586">
                                <li> <a href="#" class="has-submenu" id="sm-17056512439328586-1" aria-haspopup="true" aria-controls="sm-17056512439328586-2" aria-expanded="false"><img src="../assets/svg/grocery/vegetable.svg" class="img-fluid me-2 rounded-0 rounded-0" alt="">fruits &amp; vegetable<span class="sub-arrow"></span></a>
                                    <ul class="mega-menu clothing-menu sm-nowrap" id="sm-17056512439328586-2" role="group" aria-hidden="true" aria-labelledby="sm-17056512439328586-1" aria-expanded="false" style="width: auto; display: none; top: auto; left: 0px; margin-left: 240px; margin-top: -179px; min-width: 10em; max-width: 20em;">
                                        <li>
                                            <div class="row m-0">
                                                <div class="col-xl-4">
                                                    <div class="link-section">
                                                        <h5>women's fashion</h5>
                                                        <ul>
                                                            <li><a href="#">dresses</a></li>
                                                            <li><a href="#">skirts</a></li>
                                                            <li><a href="#">westarn wear</a></li>
                                                            <li><a href="#">ethic wear</a></li>
                                                            <li><a href="#">sport wear</a></li>
                                                        </ul>
                                                        <h5>men's fashion</h5>
                                                        <ul>
                                                            <li><a href="#">sports wear</a></li>
                                                            <li><a href="#">western wear</a></li>
                                                            <li><a href="#">ethic wear</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4">
                                                    <div class="link-section">
                                                        <h5>accessories</h5>
                                                        <ul>
                                                            <li><a href="#">fashion jewellery</a></li>
                                                            <li><a href="#">caps and hats</a></li>
                                                            <li><a href="#">precious jewellery</a></li>
                                                            <li><a href="#">necklaces</a></li>
                                                            <li><a href="#">earrings</a></li>
                                                            <li><a href="#">wrist wear</a></li>
                                                            <li><a href="#">ties</a></li>
                                                            <li><a href="#">cufflinks</a></li>
                                                            <li><a href="#">pockets squares</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4">
                                                    <a href="#" class="mega-menu-banner"><img src="../assets/images/mega-menu/fashion.jpg" alt="" class="img-fluid blur-up lazyloaded"></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul><span class="scroll-up" style="top: auto; left: 0px; margin-left: 240px; width: 815px; z-index: 2; margin-top: -179px; visibility: hidden; display: none;"><span class="scroll-up-arrow"></span></span><span class="scroll-down" style="display: none; top: auto; left: 0px; margin-left: 240px; width: 815px; z-index: 2; margin-top: 207px; visibility: hidden;"><span class="scroll-down-arrow"></span></span>
                                </li>
                                <li> <a href="#" class="has-submenu" id="sm-17056512439328586-3" aria-haspopup="true" aria-controls="sm-17056512439328586-4" aria-expanded="false"><img src="../assets/svg/grocery/eggs.svg" class="img-fluid me-2 rounded-0" alt="">eggs, meat, fish<span class="sub-arrow"></span></a>
                                    <ul id="sm-17056512439328586-4" role="group" aria-hidden="true" aria-labelledby="sm-17056512439328586-3" aria-expanded="false" class="sm-nowrap" style="width: auto; display: none; top: auto; left: 0px; margin-left: 240px; margin-top: -101px; min-width: 10em; max-width: 20em;">
                                        <li><a href="#">makeup</a></li>
                                        <li><a href="#">skincare</a></li>
                                        <li><a href="#">premium beaty</a></li>
                                        <li> <a href="#" class="has-submenu" id="sm-17056512439328586-5" aria-haspopup="true" aria-controls="sm-17056512439328586-6" aria-expanded="false">more<span class="sub-arrow"></span></a>
                                            <ul id="sm-17056512439328586-6" role="group" aria-hidden="true" aria-labelledby="sm-17056512439328586-5" aria-expanded="false">
                                                <li><a href="#">fragrances</a></li>
                                                <li><a href="#">luxury beauty</a></li>
                                                <li><a href="#">hair care</a></li>
                                                <li><a href="#">tools &amp; brushes</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a href="#" class="has-submenu" id="sm-17056512439328586-7" aria-haspopup="true" aria-controls="sm-17056512439328586-8" aria-expanded="false"><img src="../assets/svg/grocery/grain.svg" class="img-fluid me-2 rounded-0" alt="">food grains<span class="sub-arrow"></span></a>
                                    <ul id="sm-17056512439328586-8" role="group" aria-hidden="true" aria-labelledby="sm-17056512439328586-7" aria-expanded="false" class="sm-nowrap" style="width: auto; min-width: 10em; display: none; max-width: 20em; top: auto; left: 0px; margin-left: 240px; margin-top: -139px;">
                                        <li><a href="#">shopper bags</a></li>
                                        <li><a href="#">laptop bags</a></li>
                                        <li><a href="#">clutches</a></li>
                                        <li> <a href="#" class="has-submenu" id="sm-17056512439328586-9" aria-haspopup="true" aria-controls="sm-17056512439328586-10" aria-expanded="false">purses<span class="sub-arrow"></span></a>
                                            <ul id="sm-17056512439328586-10" role="group" aria-hidden="true" aria-labelledby="sm-17056512439328586-9" aria-expanded="false">
                                                <li><a href="#">purses</a></li>
                                                <li><a href="#">wallets</a></li>
                                                <li><a href="#">leathers</a></li>
                                                <li><a href="#">satchels</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a href="#" class="has-submenu" id="sm-17056512439328586-11" aria-haspopup="true" aria-controls="sm-17056512439328586-12" aria-expanded="false"><img src="../assets/svg/grocery/bread.svg" class="img-fluid me-2 rounded-0" alt="">bakery &amp; dairy<span class="sub-arrow"></span></a>
                                    <ul id="sm-17056512439328586-12" role="group" aria-hidden="true" aria-labelledby="sm-17056512439328586-11" aria-expanded="false">
                                        <li><a href="#">sport shoes</a></li>
                                        <li><a href="#">formal shoes</a></li>
                                        <li><a href="#">casual shoes</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><img src="../assets/svg/grocery/beverages.svg" class="img-fluid me-2 rounded-0" alt="">beverages</a></li>
                                <li> <a href="#" class="has-submenu" id="sm-17056512439328586-13" aria-haspopup="true" aria-controls="sm-17056512439328586-14" aria-expanded="false"><img src="../assets/svg/grocery/snack.svg" class="img-fluid me-2 rounded-0" alt="">snacks<span class="sub-arrow"></span></a>
                                    <ul id="sm-17056512439328586-14" role="group" aria-hidden="true" aria-labelledby="sm-17056512439328586-13" aria-expanded="false">
                                        <li><a href="#">fashion jewellery</a></li>
                                        <li><a href="#">caps and hats</a></li>
                                        <li><a href="#">precious jewellery</a></li>
                                        <li> <a href="#" class="has-submenu" id="sm-17056512439328586-15" aria-haspopup="true" aria-controls="sm-17056512439328586-16" aria-expanded="false">more..<span class="sub-arrow"></span></a>
                                            <ul id="sm-17056512439328586-16" role="group" aria-hidden="true" aria-labelledby="sm-17056512439328586-15" aria-expanded="false">
                                                <li><a href="#">necklaces</a></li>
                                                <li><a href="#">earrings</a></li>
                                                <li><a href="#">wrist wear</a></li>
                                                <li> <a href="#" class="has-submenu" id="sm-17056512439328586-17" aria-haspopup="true" aria-controls="sm-17056512439328586-18" aria-expanded="false">accessories<span class="sub-arrow"></span></a>
                                                    <ul id="sm-17056512439328586-18" role="group" aria-hidden="true" aria-labelledby="sm-17056512439328586-17" aria-expanded="false">
                                                        <li><a href="#">ties</a></li>
                                                        <li><a href="#">cufflinks</a></li>
                                                        <li><a href="#">pockets squares</a></li>
                                                        <li><a href="#">helmets</a></li>
                                                        <li><a href="#">scarves</a></li>
                                                        <li> <a href="#" class="has-submenu" id="sm-17056512439328586-19" aria-haspopup="true" aria-controls="sm-17056512439328586-20" aria-expanded="false">more...<span class="sub-arrow"></span></a>
                                                            <ul id="sm-17056512439328586-20" role="group" aria-hidden="true" aria-labelledby="sm-17056512439328586-19" aria-expanded="false">
                                                                <li><a href="#">accessory gift sets</a></li>
                                                                <li><a href="#">travel accessories</a></li>
                                                                <li><a href="#">phone cases</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">belts &amp; more</a></li>
                                                <li><a href="#">wearable</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#"><img src="../assets/svg/grocery/skin-care.svg" class="img-fluid me-2 rounded-0" alt="">beauty product</a></li>
                                <li><a href="#"><img src="../assets/svg/grocery/cockles.svg" class="img-fluid me-2 rounded-0" alt="">gourment</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>