<section class="small-section pt-res-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div id="sidebar-height" class="sidenav marketplace-sidebar svg-icon-menu" style="display: none;">
                    <nav class="">
                        <div>
                            <div class="sidebar-back text-start d-xl-none d-block"><i class="fa fa-angle-left pe-2"
                                    aria-hidden="true"></i> Back</div>
                        </div>
                        <ul id="sub-menu" class="sm pixelstrap sm-vertical hover-unset"
                            data-smartmenus-id="17055648605270193">
                            <li> <a href="#" class="has-submenu" id="sm-17055648605270193-1" aria-haspopup="true"
                                    aria-controls="sm-17055648605270193-2" aria-expanded="false"><img
                                        src="../assets/images/icon/vegetables/1.jpg" class="img-fluid me-2"
                                        alt="">fruits &amp; vegetable<span class="sub-arrow"></span></a>
                                <ul class="mega-menu clothing-menu" id="sm-17055648605270193-2" role="group"
                                    aria-hidden="true" aria-labelledby="sm-17055648605270193-1" aria-expanded="false">
                                    <li>
                                        <div class="row m-0">
                                            <div class="col-xl-4">
                                                <div class="link-section">
                                                    <h5>women's fashion</h5>
                                                    <ul>
                                                        <li><a href="#">dresses</a></li>
                                                        <li><a href="#">skirts</a></li>
                                                        <li><a href="#">westarn wear</a></li>
                                                        <li><a href="#">ethic wear</a></li>
                                                        <li><a href="#">sport wear</a></li>
                                                    </ul>
                                                    <h5>men's fashion</h5>
                                                    <ul>
                                                        <li><a href="#">sports wear</a></li>
                                                        <li><a href="#">western wear</a></li>
                                                        <li><a href="#">ethic wear</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <div class="link-section">
                                                    <h5>accessories</h5>
                                                    <ul>
                                                        <li><a href="#">fashion jewellery</a></li>
                                                        <li><a href="#">caps and hats</a></li>
                                                        <li><a href="#">precious jewellery</a></li>
                                                        <li><a href="#">necklaces</a></li>
                                                        <li><a href="#">earrings</a></li>
                                                        <li><a href="#">wrist wear</a></li>
                                                        <li><a href="#">ties</a></li>
                                                        <li><a href="#">cufflinks</a></li>
                                                        <li><a href="#">pockets squares</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <a href="#" class="mega-menu-banner"><img
                                                        src="../assets/images/mega-menu/fashion.jpg" alt=""
                                                        class="img-fluid blur-up lazyload"></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li> <a href="#" class="has-submenu" id="sm-17055648605270193-3" aria-haspopup="true"
                                    aria-controls="sm-17055648605270193-4" aria-expanded="false"><img
                                        src="../assets/images/icon/vegetables/2.jpg" class="img-fluid me-2" alt="">eggs,
                                    meat, fish<span class="sub-arrow"></span></a>
                                <ul id="sm-17055648605270193-4" role="group" aria-hidden="true"
                                    aria-labelledby="sm-17055648605270193-3" aria-expanded="false">
                                    <li><a href="#">makeup</a></li>
                                    <li><a href="#">skincare</a></li>
                                    <li><a href="#">premium beaty</a></li>
                                    <li> <a href="#" class="has-submenu" id="sm-17055648605270193-5"
                                            aria-haspopup="true" aria-controls="sm-17055648605270193-6"
                                            aria-expanded="false">more<span class="sub-arrow"></span></a>
                                        <ul id="sm-17055648605270193-6" role="group" aria-hidden="true"
                                            aria-labelledby="sm-17055648605270193-5" aria-expanded="false">
                                            <li><a href="#">fragrances</a></li>
                                            <li><a href="#">luxury beauty</a></li>
                                            <li><a href="#">hair care</a></li>
                                            <li><a href="#">tools &amp; brushes</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li> <a href="#" class="has-submenu" id="sm-17055648605270193-7" aria-haspopup="true"
                                    aria-controls="sm-17055648605270193-8" aria-expanded="false"><img
                                        src="../assets/images/icon/vegetables/3.jpg" class="img-fluid me-2" alt="">food
                                    grains<span class="sub-arrow"></span></a>
                                <ul id="sm-17055648605270193-8" role="group" aria-hidden="true"
                                    aria-labelledby="sm-17055648605270193-7" aria-expanded="false">
                                    <li><a href="#">shopper bags</a></li>
                                    <li><a href="#">laptop bags</a></li>
                                    <li><a href="#">clutches</a></li>
                                    <li> <a href="#" class="has-submenu" id="sm-17055648605270193-9"
                                            aria-haspopup="true" aria-controls="sm-17055648605270193-10"
                                            aria-expanded="false">purses<span class="sub-arrow"></span></a>
                                        <ul id="sm-17055648605270193-10" role="group" aria-hidden="true"
                                            aria-labelledby="sm-17055648605270193-9" aria-expanded="false">
                                            <li><a href="#">purses</a></li>
                                            <li><a href="#">wallets</a></li>
                                            <li><a href="#">leathers</a></li>
                                            <li><a href="#">satchels</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li> <a href="#" class="has-submenu" id="sm-17055648605270193-11" aria-haspopup="true"
                                    aria-controls="sm-17055648605270193-12" aria-expanded="false"><img
                                        src="../assets/images/icon/vegetables/4.jpg" class="img-fluid me-2"
                                        alt="">bakery &amp; dairy<span class="sub-arrow"></span></a>
                                <ul id="sm-17055648605270193-12" role="group" aria-hidden="true"
                                    aria-labelledby="sm-17055648605270193-11" aria-expanded="false">
                                    <li><a href="#">sport shoes</a></li>
                                    <li><a href="#">formal shoes</a></li>
                                    <li><a href="#">casual shoes</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><img src="../assets/images/icon/vegetables/5.jpg" class="img-fluid me-2"
                                        alt="">beverages</a></li>
                            <li> <a href="#" class="has-submenu" id="sm-17055648605270193-13" aria-haspopup="true"
                                    aria-controls="sm-17055648605270193-14" aria-expanded="false"><img
                                        src="../assets/images/icon/vegetables/6.jpg" class="img-fluid me-2"
                                        alt="">snacks<span class="sub-arrow"></span></a>
                                <ul id="sm-17055648605270193-14" role="group" aria-hidden="true"
                                    aria-labelledby="sm-17055648605270193-13" aria-expanded="false">
                                    <li><a href="#">fashion jewellery</a></li>
                                    <li><a href="#">caps and hats</a></li>
                                    <li><a href="#">precious jewellery</a></li>
                                    <li> <a href="#" class="has-submenu" id="sm-17055648605270193-15"
                                            aria-haspopup="true" aria-controls="sm-17055648605270193-16"
                                            aria-expanded="false">more..<span class="sub-arrow"></span></a>
                                        <ul id="sm-17055648605270193-16" role="group" aria-hidden="true"
                                            aria-labelledby="sm-17055648605270193-15" aria-expanded="false">
                                            <li><a href="#">necklaces</a></li>
                                            <li><a href="#">earrings</a></li>
                                            <li><a href="#">wrist wear</a></li>
                                            <li> <a href="#" class="has-submenu" id="sm-17055648605270193-17"
                                                    aria-haspopup="true" aria-controls="sm-17055648605270193-18"
                                                    aria-expanded="false">accessories<span class="sub-arrow"></span></a>
                                                <ul id="sm-17055648605270193-18" role="group" aria-hidden="true"
                                                    aria-labelledby="sm-17055648605270193-17" aria-expanded="false">
                                                    <li><a href="#">ties</a></li>
                                                    <li><a href="#">cufflinks</a></li>
                                                    <li><a href="#">pockets squares</a></li>
                                                    <li><a href="#">helmets</a></li>
                                                    <li><a href="#">scarves</a></li>
                                                    <li> <a href="#" class="has-submenu" id="sm-17055648605270193-19"
                                                            aria-haspopup="true" aria-controls="sm-17055648605270193-20"
                                                            aria-expanded="false">more...<span
                                                                class="sub-arrow"></span></a>
                                                        <ul id="sm-17055648605270193-20" role="group" aria-hidden="true"
                                                            aria-labelledby="sm-17055648605270193-19"
                                                            aria-expanded="false">
                                                            <li><a href="#">accessory gift sets</a></li>
                                                            <li><a href="#">travel accessories</a></li>
                                                            <li><a href="#">phone cases</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">belts &amp; more</a></li>
                                            <li><a href="#">wearable</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"><img src="../assets/images/icon/vegetables/7.jpg" class="img-fluid me-2"
                                        alt="">beauty product</a></li>
                            <li><a href="#"><img src="../assets/images/icon/vegetables/8.jpg" class="img-fluid me-2"
                                        alt="">gourment</a></li>
                            <li><a href="#"><img src="../assets/images/icon/vegetables/9.jpg" class="img-fluid me-2"
                                        alt="">kitchen, garden</a></li>
                            <li><a href="#"><img src="../assets/images/icon/vegetables/9.jpg" class="img-fluid me-2"
                                        alt="">kitchen, garden</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-9">
                <section class="pt-0 small-slider">
                    <div class="slider-animate home-slider slick-initialized slick-slider">
                        <div class="slick-list draggable">
                            <owl-carousel-o [options]="MainSlider" class="slick-track">
                                <ng-container *ngFor="let slider of mainSlider">
                                    <ng-template carouselSlide>

                                        <div class="slick-slide slick-current slick-active" data-slick-index="0"
                                            aria-hidden="false"
                                            style="width: 831px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                                            <div>
                                                <div style="width: 100%; display: inline-block;">
                                                    <div class="home height-apply bg-size blur-up lazyloaded"
                                                        style="background-image: url(&quot;{{slider.src}}&quot;); background-size: cover; background-position: center center; display: block; height: 603px;">
                                                        <img src="../assets/images/vegetables/banner/1.jpg" alt=""
                                                            class="bg-img blur-up lazyloaded" style="display: none;">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="slider-contain px-padding height-apply"
                                                                        style="height: 603px;">
                                                                        <div>
                                                                            <h4 class="fadeInUp animated"
                                                                                data-animation-in="fadeInUp"
                                                                                style="opacity: 1;">save 30%</h4>
                                                                            <h1 class="fadeInUp animated"
                                                                                data-animation-in="fadeInUp"
                                                                                data-delay-in="0.3"
                                                                                style="opacity: 1; animation-delay: 0.3s;">
                                                                                vegetables</h1><a href="#"
                                                                                class="btn btn-solid fadeInUp animated"
                                                                                data-animation-in="fadeInUp"
                                                                                data-delay-in="0.5" tabindex="0"
                                                                                style="opacity: 1; animation-delay: 0.5s;">shop
                                                                                now</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </ng-template>
                                </ng-container>
                            </owl-carousel-o>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>