<app-header [themeLogo]="themeLogo"></app-header>

<app-main-slider></app-main-slider>

<section class="banner-padding absolute-banner pb-0 ratio2_1">
    <div class="container absolute-bg">
        <div class="row partition2">
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner p-right text-center">
                        <div class="bg-size blur-up lazyloaded"
                            style="background-image: url(&quot;../assets/images/furniture/banner/2.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                            <img src="../assets/images/furniture/banner/2.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="" style="display: none;">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>save 30%</h4>
                                <h2>outfits</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner p-right text-center">
                        <div class="bg-size blur-up lazyloaded"
                            style="background-image: url(&quot;../assets/images/furniture/banner/3.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                            <img src="../assets/images/furniture/banner/3.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="" style="display: none;">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4 class="text-dark">save 60%</h4>
                                <h2 class="text-dark">toys</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner p-right text-center">
                        <div class="bg-size blur-up lazyloaded"
                            style="background-image: url(&quot;../assets/images/furniture/banner/4.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                            <img src="../assets/images/furniture/banner/4.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="" style="display: none;">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4 class="text-dark">save 60%</h4>
                                <h2 class="text-dark">toys</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<app-category></app-category>

<app-products></app-products>

<div class="category-bg ratio3_2">
    <div class="container-fluid p-0">
        <div class="row order-section">
            <div class="col-sm-8 p-0">
                <a href="#" class="image-block">
                    <div id="block" style="width: 100%; height: 48vh; position: relative;" data-vide-bg="../assets/video/video.mp4" data-vide-options="position: 0% 50%"><div style="position: absolute; z-index: -1; inset: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 0% 50%; background-image: none;"><video autoplay="" loop="" muted="" style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 0%; transform: translate(0%, -50%); visibility: visible; opacity: 1; width: 851px; height: auto;"><source src="../assets/video/video.mp4" type="video/mp4"><source src="../assets/video/video.webm" type="video/webm"><source src="../assets/video/video.ogv" type="video/ogg"></video></div></div>
                </a>
            </div>
            <div class="col-sm-4 p-0">
                <div class="contain-block even">
                    <div>
                        <h6>new products</h6>
                        <a href="#">
                            <h2>zipper storage bag</h2>
                        </a><a href="#" class="btn btn-solid category-btn">-80% off</a>
                        <a href="#">
                            <h6><span>shop now</span></h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-0">
                <a href="#" class="image-block bg-size blur-up lazyloaded" style="background-image: url(&quot;../assets/images/furniture/banner/7.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                    <img alt="" src="../assets/images/furniture/banner/7.jpg" class="img-fluid blur-up lazyload bg-img" style="display: none;">
                </a>
            </div>
            <div class="col-sm-4 p-0">
                <div class="contain-block even">
                    <div>
                        <h6>new products</h6>
                        <a href="#">
                            <h2>zipper storage bag</h2>
                        </a><a href="#" class="btn btn-solid category-btn">-80% off</a>
                        <a href="#">
                            <h6><span>shop now</span></h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-0">
                <a href="#" class="image-block bg-size blur-up lazyloaded" style="background-image: url(&quot;../assets/images/furniture/banner/6.jpg&quot;); background-size: cover; background-position: center center; display: block;"><img alt="" src="../assets/images/furniture/banner/6.jpg" class="img-fluid blur-up lazyload bg-img" style="display: none;"></a>
            </div>
        </div>
    </div>
</div>

<app-new-products></app-new-products>

<app-instagram></app-instagram>




<app-footer></app-footer>