<section class="section-b-space ratio3_2">
    <div class="container">
        <div class="row multiple-slider">
            <div class="col-lg-3 col-sm-6">
                <div class="collection-banner h-100 tl-content">
                    <div class="img-part h-100 bg-size"
                        style="background-image: url(&quot;../assets/images/medicine/banner/16.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                        <img src="../assets/images/medicine/banner/16.jpg" class="img-fluid bg-img" alt=""
                            style="display: none;">
                    </div>
                    <div class="contain-banner banner-3">
                        <div>
                            <h4 class="text-theme">save 30%</h4>
                            <h2 class="font-cormorant text-dark">equipment</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="theme-card">
                    <h5 class="title-border pt-cls-slider">feature product</h5>
                    <div class="offer-slider slide-1 slick-initialized slick-slider">
                        <div class="slick-list draggable">

                            <owl-carousel-o [options]="NewProductsCarousel2" class="slick-track"
                            style="opacity: 1; width: 1770px; ">
                            <ng-container *ngFor="let product of NewProductsData; let i = index">
                                <ng-container *ngIf="i *3 +2 < NewProductsData.length">
                                    <ng-template carouselSlide
                                        class="slick-slide slick-current slick-active"
                                        style="width: 261px; ">
                            
                                        <div class="media">
                                            <a href="product-page(no-sidebar).html" tabindex="0"><img
                                                    alt="" class="img-fluid blur-up lazyloaded"
                                                    src="{{NewProductsData[i *3].src}}"></a>
                                            <div class="media-body align-self-center">
                                                <div class="rating"><i class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i></div>
                                                <a href="product-page(no-sidebar).html" tabindex="0">
                                                    <h6>{{NewProductsData[i *3].name}}</h6>
                                                </a>
                                                <h4>${{NewProductsData[i *3].oldPrice}}</h4>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <a href="product-page(no-sidebar).html" tabindex="0"><img
                                                    alt="" class="img-fluid blur-up lazyloaded"
                                                    src="{{NewProductsData[i*3 +1].src}}"></a>
                                            <div class="media-body align-self-center">
                                                <div class="rating"><i class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i></div>
                                                <a href="product-page(no-sidebar).html" tabindex="0">
                                                    <h6>{{NewProductsData[i*3 +1].name}}</h6>
                                                </a>
                                                <h4>${{NewProductsData[i*3 +1].oldPrice}}</h4>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <a href="product-page(no-sidebar).html" tabindex="0"><img
                                                    alt="" class="img-fluid blur-up lazyloaded"
                                                    src="{{NewProductsData[i*3 +2].src}}"></a>
                                            <div class="media-body align-self-center">
                                                <div class="rating"><i class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i></div>
                                                <a href="product-page(no-sidebar).html" tabindex="0">
                                                    <h6>{{NewProductsData[i*3 +2].name}}</h6>
                                                </a>
                                                <h4>${{NewProductsData[i*3 +2].oldPrice}}</h4>
                                            </div>
                                        </div>
                            
                            
                            
                                    </ng-template>
                                </ng-container>
                            </ng-container>
                            
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="collection-banner h-100 tl-content">
                    <div class="img-part h-100 bg-size"
                        style="background-image: url(&quot;../assets/images/medicine/banner/17.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                        <img src="../assets/images/medicine/banner/17.jpg" class="img-fluid bg-img" alt=""
                            style="display: none;">
                    </div>
                    <div class="contain-banner banner-3">
                        <div>
                            <h4 class="text-theme">save 30%</h4>
                            <h2 class="font-cormorant text-dark">equipment</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="theme-card">
                    <h5 class="title-border pt-cls-slider">on sell</h5>
                    <div class="offer-slider slide-1 slick-initialized slick-slider">
                        <div class="slick-list draggable">

                            <owl-carousel-o [options]="NewProductsCarousel2" class="slick-track"
                            style="opacity: 1; width: 1770px; ">
                            <ng-container *ngFor="let product of NewProductsData; let i = index">
                                <ng-container *ngIf="i *3 +2 < NewProductsData.length">
                                    <ng-template carouselSlide
                                        class="slick-slide slick-current slick-active"
                                        style="width: 261px; ">
                            
                                        <div class="media">
                                            <a href="product-page(no-sidebar).html" tabindex="0"><img
                                                    alt="" class="img-fluid blur-up lazyloaded"
                                                    src="{{NewProductsData[i *3].src}}"></a>
                                            <div class="media-body align-self-center">
                                                <div class="rating"><i class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i></div>
                                                <a href="product-page(no-sidebar).html" tabindex="0">
                                                    <h6>{{NewProductsData[i *3].name}}</h6>
                                                </a>
                                                <h4>${{NewProductsData[i *3].oldPrice}}</h4>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <a href="product-page(no-sidebar).html" tabindex="0"><img
                                                    alt="" class="img-fluid blur-up lazyloaded"
                                                    src="{{NewProductsData[i*3 +1].src}}"></a>
                                            <div class="media-body align-self-center">
                                                <div class="rating"><i class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i></div>
                                                <a href="product-page(no-sidebar).html" tabindex="0">
                                                    <h6>{{NewProductsData[i*3 +1].name}}</h6>
                                                </a>
                                                <h4>${{NewProductsData[i*3 +1].oldPrice}}</h4>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <a href="product-page(no-sidebar).html" tabindex="0"><img
                                                    alt="" class="img-fluid blur-up lazyloaded"
                                                    src="{{NewProductsData[i*3 +2].src}}"></a>
                                            <div class="media-body align-self-center">
                                                <div class="rating"><i class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i> <i
                                                        class="fa fa-star"></i></div>
                                                <a href="product-page(no-sidebar).html" tabindex="0">
                                                    <h6>{{NewProductsData[i*3 +2].name}}</h6>
                                                </a>
                                                <h4>${{NewProductsData[i*3 +2].oldPrice}}</h4>
                                            </div>
                                        </div>
                            
                            
                            
                                    </ng-template>
                                </ng-container>
                            </ng-container>
                            
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>