:host::ng-deep.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: linear-gradient(135.89deg, #D03355 -5.11%, #FB7A6B 97.89%);
  border-radius: 50%;
  opacity: 0.5;
  margin: 0 10px;
  transition: all 0.3s ease-in;
}

:host::ng-deep.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1 !important;
}


