.h-8 {
  height: 2rem;
}
.w-8 {
  width: 2rem;
}
.edit-icon .ri-pencil-fill {
  opacity: 0;
  transition: opacity 0.2s;
}

.edit-icon:hover .ri-pencil-fill{
  opacity: 1;
}

.line-through {
  text-decoration: line-through;
}
