<div class="product-collection-area bg-lighter axil-section-gapcommon">
    <div class="container">
        <div class="section-title-border">
            <h2 class="title">Today’s Best Deals 💥</h2>
            <div class="view-btn"><a href="/shop">View All Deals</a></div>
        </div>
        <div class="row">
            <div class="col-xl-7">
                <div class="product-collection product-collection-two">
                    <div class="collection-content">
                        <h3 class="title">Decorative Plant <br> For Home</h3>
                        <div class="price-warp">
                            <span class="price-text">Starting From</span>
                            <span class="price">$35.00</span>
                        </div>
                        <div class="shop-btn">
                            <a href="/shop" class="axil-btn btn-bg-primary btn-size-md"><i class="far fa-shopping-cart"></i> View All Items</a>
                        </div>
                        <div class="plus-btn">
                            <a href="/#" class="plus-icon"><i class="far fa-plus" style="padding-top: 12px; "></i></a>
                        </div>
                    </div>
                    <div class="collection-thumbnail">
                        <img src="assets/images/product/collection_5.jpg" alt="Mega Collection">
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-collection-three">
                            <div class="collection-content">
                                <h6 class="title"><a href="/shop">Ladies Short Sleeve Dress</a></h6>
                                <div class="price-warp">
                                    <span class="price-text">Starting From</span>
                                    <span class="price">$30.00</span>
                                </div>
                            </div>
                            <div class="collection-thumbnail">
                                <img src="assets/images/product/collection_5.png" alt="Product">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-collection-three">
                            <div class="collection-content">
                                <h6 class="title"><a href="/shop">Oil Soap Wood Home Cleaner</a></h6>
                                <div class="price-warp">
                                    <span class="price-text">Starting From</span>
                                    <span class="price">$15.22</span>
                                </div>
                            </div>
                            <div class="collection-thumbnail">
                                <img src="assets/images/product/collection_6.png" alt="Product">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-collection-three">
                            <div class="collection-content">
                                <h6 class="title"><a href="/shop">Large Pendant Light Ceiling </a></h6>
                                <div class="price-warp">
                                    <span class="price-text">Starting From</span>
                                    <span class="price">$11.70</span>
                                </div>
                            </div>
                            <div class="collection-thumbnail">
                                <img src="assets/images/product/collection_7.png" alt="Product">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-collection-three">
                            <div class="collection-content">
                                <h6 class="title"><a href="/shop">Iphone New Model</a></h6>
                                <div class="price-warp">
                                    <span class="price-text">Starting From</span>
                                    <span class="price">$499.00</span>
                                </div>
                            </div>
                            <div class="collection-thumbnail">
                                <img src="assets/images/product/collection_8.png" alt="Product">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Expolre Product Area  -->
<div class="axil-product-area bg-color-white section-gap-80-35">
    <div class="container">
        <div class="section-title-border">
            <h2 class="title">Explore Our Products 💥</h2>
            <div class="view-btn"><a href="/shop">View All Products</a></div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="axil-product product-style-eight">
                    <div class="thumbnail">
                        <a href="/single-product-8">
                            <img data-sal="zoom-out" data-sal-delay="100" data-sal-duration="800" loading="lazy" class="main-img sal-animate" src="assets/images/product/fashion/product-26.png" alt="Product Images">
                        </a>
                        <div class="label-block label-left">
                            <div class="product-badget sale">Sale</div>
                        </div>
                        <div class="product-hover-action">
                            <ul class="cart-action">
                                <li class="select-option">
                                    <a href="/single-product-8">
                                        <i class="far fa-shopping-cart"></i> Add to Cart
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="inner">
                            <div class="color-variant-wrapper">
                                <ul class="color-variant">
                                    <li class="color-extra-01 active"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-02"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-03"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-05"><span><span class="color"></span></span>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="title"><a href="/single-product-8">Kalrez® Spectrum™ 6375</a></h5>
                            <div class="product-rating">
                                <span class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                                <span class="rating-number">6,400</span>
                            </div>
                            <div class="product-price-variant">
                                <span class="price old-price">$30.00</span>
                                <span class="price current-price">$17.84</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="axil-product product-style-eight">
                    <div class="thumbnail">
                        <a href="/single-product-8">
                            <img data-sal="zoom-out" data-sal-delay="150" data-sal-duration="800" loading="lazy" class="main-img sal-animate" src="assets/images/product/fashion/product-27.png" alt="Product Images">
                        </a>
                        <div class="label-block label-left">
                            <div class="product-badget">20% OFF</div>
                        </div>
                        <div class="product-hover-action">
                            <ul class="cart-action">
                                <li class="select-option">
                                    <a href="/single-product-8">
                                        <i class="far fa-shopping-cart"></i> Add to Cart
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="inner">
                            <div class="color-variant-wrapper">
                                <ul class="color-variant">
                                    <li class="color-extra-01 active"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-02"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-03"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-05"><span><span class="color"></span></span>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="title"><a href="/single-product-8">Calvin Klein womens Solid Sheath With Chiffon Bell Sleeves Dress</a></h5>
                            <div class="product-rating">
                                <span class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                                <span class="rating-number">6,400</span>
                            </div>
                            <div class="product-price-variant">
                                <span class="price old-price">$100.00</span>
                                <span class="price current-price">$78.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="axil-product product-style-eight">
                    <div class="thumbnail">
                        <a href="/single-product-8">
                            <img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="800" loading="lazy" class="main-img sal-animate" src="assets/images/product/fashion/product-28.png" alt="Product Images">
                        </a>
                        <div class="label-block label-left">
                            <div class="product-badget">TOP SELLING</div>
                        </div>
                        <div class="product-hover-action">
                            <ul class="cart-action">
                                <li class="select-option">
                                    <a href="/single-product-8">
                                        <i class="far fa-shopping-cart"></i> Add to Cart
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="inner">
                            <div class="color-variant-wrapper">
                                <ul class="color-variant">
                                    <li class="color-extra-01 active"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-02"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-03"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-05"><span><span class="color"></span></span>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="title"><a href="/single-product-8">Gildan Men's Ultra Cotton T-Shirt, Style G2000,</a></h5>
                            <div class="product-rating">
                                <span class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                                <span class="rating-number">6,400</span>
                            </div>
                            <div class="product-price-variant">
                                <span class="price old-price">$20.00</span>
                                <span class="price current-price">$17.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="axil-product product-style-eight">
                    <div class="thumbnail">
                        <a href="/single-product-8">
                            <img data-sal="zoom-out" data-sal-delay="250" data-sal-duration="800" loading="lazy" class="main-img sal-animate" src="assets/images/product/fashion/product-29.png" alt="Product Images">
                        </a>
                        <div class="label-block label-left">
                            <div class="product-badget sold-out">SOLD OUT</div>
                        </div>
                        <div class="product-hover-action">
                            <ul class="cart-action">
                                <li class="select-option">
                                    <a href="/single-product-8">
                                        <i class="far fa-shopping-cart"></i> Add to Cart
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="inner">
                            <div class="color-variant-wrapper">
                                <ul class="color-variant">
                                    <li class="color-extra-01 active"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-02"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-03"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-05"><span><span class="color"></span></span>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="title"><a href="/single-product-8">Essentials Men's Regular-Fit Short-Sleeve Crewneck T-Shirt</a></h5>
                            <div class="product-rating">
                                <span class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                                <span class="rating-number">6,400</span>
                            </div>
                            <div class="product-price-variant">
                                <span class="price old-price">$12.00</span>
                                <span class="price current-price">$5.22</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="axil-product product-style-eight">
                    <div class="thumbnail">
                        <a href="/single-product-8">
                            <img data-sal="zoom-out" data-sal-delay="100" data-sal-duration="800" loading="lazy" class="main-img sal-animate" src="assets/images/product/fashion/product-30.png" alt="Product Images">
                        </a>
                        <div class="product-hover-action">
                            <ul class="cart-action">
                                <li class="select-option">
                                    <a href="/single-product-8">
                                        <i class="far fa-shopping-cart"></i> Add to Cart
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="inner">
                            <div class="color-variant-wrapper">
                                <ul class="color-variant">
                                    <li class="color-extra-01 active"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-02"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-03"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-05"><span><span class="color"></span></span>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="title"><a href="/single-product-8">2.4G Remote Control Rc BB-8 Droid Football Robot</a></h5>
                            <div class="product-rating">
                                <span class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                                <span class="rating-number">1,300</span>
                            </div>
                            <div class="product-price-variant">
                                <span class="price current-price">$100.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="axil-product product-style-eight">
                    <div class="thumbnail">
                        <a href="/single-product-8">
                            <img data-sal="zoom-out" data-sal-delay="150" data-sal-duration="800" loading="lazy" class="main-img sal-animate" src="assets/images/product/fashion/product-31.png" alt="Product Images">
                        </a>
                        <div class="product-hover-action">
                            <ul class="cart-action">
                                <li class="select-option">
                                    <a href="/single-product-8">
                                        <i class="far fa-shopping-cart"></i> Add to Cart
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="inner">
                            <div class="color-variant-wrapper">
                                <ul class="color-variant">
                                    <li class="color-extra-01 active"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-02"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-03"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-05"><span><span class="color"></span></span>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="title"><a href="/single-product-8">Perfume Nat White Chocolate Flavor WONF (BD-10914)</a></h5>
                            <div class="product-rating">
                                <span class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                                <span class="rating-number">2,300</span>
                            </div>
                            <div class="product-price-variant">
                                <span class="price current-price">$14.81</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="axil-product product-style-eight">
                    <div class="thumbnail">
                        <a href="/single-product-8">
                            <img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="800" loading="lazy" class="main-img sal-animate" src="assets/images/product/fashion/product-32.png" alt="Product Images">
                        </a>
                        <div class="product-hover-action">
                            <ul class="cart-action">
                                <li class="select-option">
                                    <a href="/single-product-8">
                                        <i class="far fa-shopping-cart"></i> Add to Cart
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="inner">
                            <div class="color-variant-wrapper">
                                <ul class="color-variant">
                                    <li class="color-extra-01 active"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-02"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-03"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-05"><span><span class="color"></span></span>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="title"><a href="/single-product-8">Women's Winter Mid Length Thick Warm Faux Lamb Wool.</a></h5>
                            <div class="product-rating">
                                <span class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                                <span class="rating-number">50</span>
                            </div>
                            <div class="product-price-variant">
                                <span class="price current-price">$59.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="axil-product product-style-eight">
                    <div class="thumbnail">
                        <a href="/single-product-8">
                            <img data-sal="zoom-out" data-sal-delay="250" data-sal-duration="800" loading="lazy" class="main-img sal-animate" src="assets/images/product/fashion/product-33.png" alt="Product Images">
                        </a>
                        <div class="product-hover-action">
                            <ul class="cart-action">
                                <li class="select-option">
                                    <a href="/single-product-8">
                                        <i class="far fa-shopping-cart"></i> Add to Cart
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="inner">
                            <div class="color-variant-wrapper">
                                <ul class="color-variant">
                                    <li class="color-extra-01 active"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-02"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-03"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-04"><span><span class="color"></span></span>
                                    </li>
                                    <li class="color-extra-05"><span><span class="color"></span></span>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="title"><a href="/single-product-8">Ion8 One Touch Sport / Bike Water Bottle - Leakproof</a></h5>
                            <div class="product-rating">
                                <span class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                                <span class="rating-number">652</span>
                            </div>
                            <div class="product-price-variant">
                                <span class="price current-price">$29.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Expolre Product Area  -->
<div class="axil-testimoial-area-two axil-section-gapBottom">
    <div class="container">
        <div class="testimonial-container-box">
            <div class="row">
                <div class="col-lg-7">
                    <div class="testimonial-video-box">
                        <div class="thumbnail">
                            <img src="assets/images/testimonial/image-4.png" alt="Image">
                        </div>
                        <div class="play-btn">
                            <a class="popup-youtube" href="/https://www.youtube.com/watch?v=1iIZeIy7TqM"><i class="fas fa-play" style="padding-top: 40px;"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="testimonial-style-three-wrapper">
                        <div class="heading-title">
                            <h2 class="title">Our Users <br>Feedback</h2>
                        </div>
                        <div class="testimonial-slick-activation-three slick-initialized slick-slider">
                            <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1725px; transform: translate3d(-345px, 0px, 0px);"><div class="slick-single-layout testimonial-style-three slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 345px;">
                                <p>It`s no secret testimonials are the driving force behind purchasing decisions. They are such a great way to create immediate trust with prospective clients.</p>
                                <div class="author-info">
                                    <h6 class="author-name">Wade Warren</h6>
                                    <span class="author-desg">Head of Marketing</span>
                                </div>
                            </div><div class="slick-single-layout testimonial-style-three slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 345px;">
                                <p>It`s no secret testimonials are the driving force behind purchasing decisions. They are such a great way to create immediate trust with prospective clients.</p>
                                <div class="author-info">
                                    <h6 class="author-name">Wade Warren</h6>
                                    <span class="author-desg">Head of Marketing</span>
                                </div>
                            </div><div class="slick-single-layout testimonial-style-three slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 345px;">
                                <p>It`s no secret testimonials are the driving force behind purchasing decisions. They are such a great way to create immediate trust with prospective clients.</p>
                                <div class="author-info">
                                    <h6 class="author-name">Wade Warren</h6>
                                    <span class="author-desg">Head of Marketing</span>
                                </div>
                            </div><div class="slick-single-layout testimonial-style-three slick-slide slick-cloned" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 345px;">
                                <p>It`s no secret testimonials are the driving force behind purchasing decisions. They are such a great way to create immediate trust with prospective clients.</p>
                                <div class="author-info">
                                    <h6 class="author-name">Wade Warren</h6>
                                    <span class="author-desg">Head of Marketing</span>
                                </div>
                            </div><div class="slick-single-layout testimonial-style-three slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 345px;">
                                <p>It`s no secret testimonials are the driving force behind purchasing decisions. They are such a great way to create immediate trust with prospective clients.</p>
                                <div class="author-info">
                                    <h6 class="author-name">Wade Warren</h6>
                                    <span class="author-desg">Head of Marketing</span>
                                </div>
                            </div></div></div>
                            
                        </div>
                        <div class="testimonial-custom-nav">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <div class="slick-slide-count">1/2</div>
                                </div>
                                <div class="col-6">
                                    <div class="slide-custom-nav">
                                        <button class="prev-custom-nav slick-arrow" style=""><i class="fal fa-angle-left"></i>Prev</button>
                                        <button class="next-custom-nav slick-arrow" style="">Next <i class="fal fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-collection-area bg-lighter axil-section-gapcommon">
    <div class="container">
        <div class="section-title-border">
            <h2 class="title">Our Mega Collections 💥</h2>
        </div>
        <div class="row">
            <div class="col-xl-7">
                <div class="product-collection">
                    <div class="collection-content">
                        <h3 class="title">Explore The <br> Sunglass</h3>
                        <p>The Bouguessa FW21 collection is.</p>
                        <div class="price-warp">
                            <span class="price-text">Starting From</span>
                            <span class="price">$178.00</span>
                        </div>
                        <div class="shop-btn">
                            <a href="/shop" class="axil-btn btn-bg-primary btn-size-md"><i class="far fa-shopping-cart"></i> SHOP BRAND</a>
                        </div>
                        <div class="plus-btn">
                            <a href="/#" class="plus-icon"><i class="far fa-plus" style="padding-top: 12px;"></i></a>
                        </div>
                    </div>
                    <div class="collection-thumbnail">
                        <img src="assets/images/product/collection_1.jpg" alt="Mega Collection">
                        <div class="label-block label-right">
                            <div class="product-badget">Sunglass</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="product-collection">
                    <div class="collection-content">
                        <h3 class="title">Inspire <br> Creativity</h3>
                        <p>The Bouguessa FW21 collection is.</p>
                        <div class="price-warp">
                            <span class="price-text">Starting From</span>
                            <span class="price">$69.00</span>
                        </div>
                        <div class="shop-btn">
                            <a href="/shop" class="axil-btn btn-bg-primary btn-size-md"><i class="far fa-shopping-cart"></i> SHOP BRAND</a>
                        </div>
                    </div>
                    <div class="collection-thumbnail">
                        <img src="assets/images/product/collection_2.jpg" alt="Mega Collection">
                        <div class="label-block label-right">
                            <div class="product-badget">Sale</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="product-collection">
                    <div class="collection-content">
                        <h3 class="title">Trade
                            <br> Benifits
                        </h3>
                        <p>The Bouguessa FW21 collection is.</p>
                        <div class="price-warp">
                            <span class="price-text">Starting From</span>
                            <span class="price">$159.00</span>
                        </div>
                        <div class="shop-btn">
                            <a href="/shop" class="axil-btn btn-bg-primary btn-size-md"><i class="far fa-shopping-cart"></i> SHOP BRAND</a>
                        </div>
                    </div>
                    <div class="collection-thumbnail">
                        <img src="assets/images/product/collection_3.jpg" alt="Mega Collection">
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="product-collection">
                    <div class="collection-content">
                        <h3 class="title">Find A Great
                            <br> Deal
                        </h3>
                        <p>The Bouguessa FW21 collection is.</p>
                        <div class="price-warp">
                            <span class="price-text">Starting From</span>
                            <span class="price">$299.00</span>
                        </div>
                        <div class="shop-btn">
                            <a href="/shop" class="axil-btn btn-bg-primary btn-size-md"><i class="far fa-shopping-cart"></i> SHOP BRAND</a>
                        </div>
                    </div>
                    <div class="collection-thumbnail">
                        <img src="assets/images/product/collection_4.jpg" alt="Mega Collection">
                        <div class="label-block label-right">
                            <div class="product-badget">Jacket</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>