<div class="main-page-wrapper p0">


    <div class="fancy-hero-four bg-doc space-fix">
        <div class="bg-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-11 col-md-10 m-auto">
                        <h6>{{'CONTACT_US' | translate}}</h6>
                        <h2>{{'CONTACT_US_DESCRIPTION' | translate}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="contact-style-two">
        <div class="container">
            <div class="contact-info-wrapper">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6 d-lg-flex">
                        <div class="address-info">
                            <div class="icon d-flex align-items-end"><img src="assets/images/icon/44.svg" alt=""></div>
                            <div class="title">{{'LOCATION' | translate}}</div>
                            <p class="font-rubik">Wagramer Str. 2, <br> 1220 Vienna, Austria</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 d-lg-flex">
                        <div class="address-info">
                            <div class="icon d-flex align-items-end"><img src="assets/images/icon/45.svg" alt=""></div>
                            <div class="title">{{'CONTACT' | translate}}</div>
                            <p class="font-rubik">office@elevok.com <br>(+43) 660-6411819</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 d-lg-flex">
                        <div class="address-info">
                            <div class="icon d-flex align-items-end"><img src="assets/images/icon/46.svg" alt=""></div>
                            <div class="title">{{'SOCIAL_MEDIA' | translate}}</div>
                            <p class="font-rubik">{{'FIND_ON_SOCIAL_MEDIA' | translate}}</p>
                            <ul class="d-flex justify-content-center">
                                <li><a href="https://facebook.com/elevok"><i class="fa fa-facebook"
                                            aria-hidden="true"></i></a></li>
                                <li><a href="https://instagram.com/elevok"><i class="fa fa-instagram"
                                            aria-hidden="true"></i></a></li>
                                <li><a href="https://linkedin.com/elevok"><i class="fa fa-linkedin"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <img src="assets/images/shape/64.svg" alt="" class="shapes shape-one">
            </div>

            <div class="form-style-classic mt-150 md-mt-80">
                <form action="#" id="contact-form" data-toggle="validator" novalidate="true">
                    <div class="messages"></div>
                    <div class="row controls">
                        <div class="col-md-6 aos-init" data-aos="fade-right" data-aos-duration="1200">
                            <div class="input-group-meta form-group mb-60">
                                <label>{{'FIRST_NAME' | translate}}</label>
                                <input type="text" placeholder="Michel" name="Fname" required="required"
                                    data-error="Name is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6 aos-init" data-aos="fade-left" data-aos-duration="1200">
                            <div class="input-group-meta form-group mb-60">
                                <label>{{'LAST_NAME' | translate}}</label>
                                <input type="text" placeholder="Hawkins" name="Lname" required="required"
                                    data-error="Name is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-12 aos-init" data-aos="fade-up" data-aos-duration="1200">
                            <div class="input-group-meta form-group mb-60">
                                <label>{{'EMAIL_ADDRESS' | translate}}</label>
                                <input type="email" placeholder="saeslal@zouj.co.uk" name="email" required="required"
                                    data-error="Valid email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-12 aos-init" data-aos="fade-up" data-aos-duration="1200">
                            <div class="input-group-meta form-group lg mb-40">
                                <label>{{'YOUR_MESSAGE' | translate}}</label>
                                <textarea placeholder="{{'YOUR_MESSAGE_HERE' | translate}}" name="message"
                                    required="required" data-error="Please,leave us a message."></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-12 aos-init" data-aos="fade-up" data-aos-duration="1200"><button
                                class="button-color" class="theme-btn-six lg">{{'SEND_MESSAGE' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="fancy-short-banner-four m0 pt-150 md-pt-100">
        <div class="container">
            <div class="bg-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="title">
                            <h6>{{'SUBSCRIBE_NOW' | translate}}</h6>
                            <h2>{{'SUBSCRIBE_TO_OUR_NEWSLETTER' | translate}}</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-wrapper">
                            <form action="#">
                                <input type="text" placeholder="{{'EMAIL_ADDRESS' | translate}}">
                                <button class="button-color">{{'SUBSCRIBE' | translate}}</button>
                            </form>
                            <p class="font-rubik">{{'ALREADY_A_MEMBER' | translate}} <a
                                    href="https://app.elevok.com/signin">{{'SIGN_IN' | translate}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="button-color" class="scroll-top" style="display: none;">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>
</div>