<app-breadcrumbs title="{{'COMMON.DEPARTMENTS' | translate }}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<ng-container *ngIf="!(navigating$ | async)">

  <div class="row">
    <div class="col-lg-12">
      <div class="card" id="customerList">
        <div class="card-header border-bottom-dashed">

          <div class="row g-4 align-items-center">
            <div class="col-sm">
              <div>
                <h5 class="card-title mb-0">{{'COMMON.DEPARTMENTS' | translate }}</h5>
              </div>
            </div>
            <div class="col-sm-auto">
              <div class="d-flex gap-2">
                <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn"
                  data-bs-target="#showModal" (click)="openDepartmentModal(content, null)"><i
                    class="ri-add-line align-bottom me-1"></i>
                  {{'MODULES.SYSTEM.ADD_DEPARTMENT' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body border-bottom-dashed border-bottom">
          <div class="row g-3">
            <div class="col-xl-6">
              <div class="search-box">
                <form [formGroup]="searchForm">
                  <input type="text" formControlName="searchString" name="searchTerm" class="form-control"
                    placeholder="{{'COMMON.SEARCH_FOR_CUSTOMER_SOMETHING' | translate }}">
                  <i class="ri-search-line search-icon"></i>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="departments.length">
            <div class="table-responsive table-card mb-1">
              <table class="table align-middle table-nowrap">
                <thead class="table-light text-muted">
                  <tr>
                    <!-- <th scope="col" style="width: 50px;">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="checkAll" value="option"
                        (change)="checkUncheckAll($event)">
                    </div>
                  </th> -->
                    <th>{{'MODULES.SYSTEM.DEPARTMENT' | translate }}</th>
                    <th>{{ 'COMMON.EMAIL' | translate }}</th>
                    <th>{{'COMMON.PHONE' | translate }}</th>
                    <th>{{'MODULES.SYSTEM.CREATION_DATE' | translate }}</th>
                    <th>{{'COMMON.LOCATION' | translate }}</th>
                    <th>{{'COMMON.ACTION' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of departments" id="c_{{data.id}}">
                    <!-- <th scope="row">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="checkAll" value="{{data.id}}">
                    </div>
                  </th> -->
                    <td><ngb-highlight [result]="data.name"></ngb-highlight></td>
                    <td><ngb-highlight [result]="data.target.pos.company?.contact?.email"></ngb-highlight></td>
                    <td><ngb-highlight
                        [result]="data.target.pos.company?.contact?.phone?.countryCode + data.target.pos.company?.contact?.phone?.number"></ngb-highlight>
                    </td>
                    <td><ngb-highlight [result]="data.createdAt | date :'longDate'"></ngb-highlight></td>
                    <td><ngb-highlight [result]="data.target.pos.company?.address?.country?.name"></ngb-highlight></td>
                    <td>
                      <ul class="list-inline hstack gap-2 mb-0">
                        <li class="list-inline-item edit" ngbTooltip="Edit" placement="top">
                          <a href="javascript:void(0);" data-bs-toggle="modal"
                            class="text-primary d-inline-block edit-item-btn"
                            (click)="openDepartmentModal(content, data)">
                            <i class="ri-pencil-fill fs-16"></i>
                          </a>
                        </li>
                        <li class="list-inline-item" ngbTooltip="Remove" placement="top">
                          <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal"
                            data-bs-target="#deleteRecordModal" (click)="openDeleteLocation(deleteModel, data)">
                            <i class="ri-delete-bin-5-fill fs-16"></i>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row justify-content-md-between align-items-md-center">
              <div class="col col-sm-6">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                  {{'COMMON.SHOWING' | translate }} {{pagination?.startIndex + 1}}–{{pagination?.endIndex ===
                  pagination?.length ? pagination?.endIndex : pagination?.endIndex + 1}} {{'COMMON.OF' | translate }} {{pagination?.length}}
                  {{'COMMON.ENTRIES' | translate }}
                </div>
              </div>
              <div class="col col-sm-6">
                <div class="text-sm-right float-end listjs-pagination">
                  <ngb-pagination [collectionSize]="pagination?.length" [(page)]="page"
                    (pageChange)="onPageChange($event)" [pageSize]="pagination?.size" [maxSize]="5">
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!departments.length" class="py-4 mt-4 text-center" id="noresult">
            <lord-icon src="https://cdn.lordicon.com/vlycxjwx.json" trigger="loop"
              [colors]="'primary:' + primaryColor + ',secondary:' + secondaryColor" style="width:72px;height:72px"></lord-icon>
            <h5 class="mt-4"> {{'COMMON.NO_RESULT' | translate }}</h5>
          </div>
          <!-- Customer Create Model -->
          <ng-template #content role="document" let-modal>
            <div class="modal-header bg-light p-3">
              <h5 class="modal-title" id="exampleModalLabel">{{'MODULES.SYSTEM.ADD_DEPARTMENT' | translate }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
                (click)="modal.dismiss('Cross click')"></button>
            </div>
            <form (ngSubmit)="saveUser()" [formGroup]="departmentForm">
              <div class="modal-body">
                <div class="mb-3">
                  <label for="customername-field" class="form-label">{{'MODULES.SYSTEM.DEPARTMENT' | translate }} {{'COMMON.NAME' | translate }}</label>
                  <input type="text" id="customername-field" class="form-control" placeholder="{{'PLACEHOLDER.ENTER_NAME' | translate }}" required
                    formControlName="name" />
                  <div class="text-danger"
                    *ngIf="departmentForm.get('name')?.touched && departmentForm.get('name').hasError('required')">
                    {{'COMMON.REQUIRED' | translate }}
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                  <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">{{'COMMON.CLOSE' | translate }}</button>
                  <button type="button" (click)="save()" [disabled]="isButtonDisabled || departmentForm.invalid"
                    class="btn btn-success" id="add-btn">{{(selectedDept ? 'SHARED.EDIT_DEPARTMENT' : 'SHARED.ADD_DEPARTMENT') | translate}}</button>
                </div>
              </div>
            </form>
          </ng-template>
          <!--End Modal -->
          <!--end modal -->
          <div id="elmLoader" *ngIf="isLoading">
            <div class="spinner-border text-primary avatar-sm" role="status">
              <span class="visually-hidden">{{'COMMON.LOADING' | translate }}</span>
            </div>
          </div>
        </div>
      </div>

    </div><!--end col-->
  </div><!--end row-->

  <!-- removeItemModal -->
  <ng-template #deleteModel let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="deleteRecord-close"
          (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="mt-2 text-center">
          <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
            colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
          <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
            <h4>{{'COMMON.ARE_YOU_SURE' | translate }}</h4>
            <p class="text-muted mx-4 mb-0">{{'MODULES.SYSTEM.ARE_YOU_SURE_REMOVE' | translate }}</p>
          </div>
        </div>
        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
          <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal"
            (click)="modal.close('Close click')"> {{'COMMON.CLOSE' | translate }} </button>
          <button type="button" class="btn w-sm btn-danger " id="delete-product" (click)=deleteDepartment()>{{'COMMON.YES_DELETE_IT' | translate }}</button>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
<div *ngIf="navigating$ | async" class="vh-100 py-4 text-center" fxLayout="column" fxLayoutAlign="center center"
  fxLayoutGap="1rem">
  <div>
    <lord-icon trigger="loop" style="width:72px;height:72px" [colors]="'primary:' + primaryColor + ',secondary:' + secondaryColor"
      src="https://cdn.lordicon.com/msoeawqm.json">
    </lord-icon>
  </div>
  <div class="mt-4">
    <h5>{{'COMMON.LOADING' | translate }}</h5>
  </div>
</div>