<div class=" p0 font-gordita overflow-hidden" [class.rtl]="rtl$ | async">

  <div class="hero-banner-thirteen lg-container" id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">

          <h1 class="hero-heading">{{'MAKE_REPLYING_SURVEYS' | translate}}</h1>
          <p class="hero-sub-heading">{{'GATHER_VALUABLE_INSIGHTS' | translate}}
          </p>
          <a class="theme-btn-nine" type="button" style="color:white;" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">{{'GET_STARTED' | translate}}</a>
          <div class="info">{{'NO_CREDIT_CARD_REQUIRED' | translate}}</div>
        </div>
      </div>

      <div class="screen-holder">
        <img src="assets/images/assets/ils_22.svg" alt="" class="img-meta" />
        <img src="assets/images/assets/ils_22.1.svg" alt="" class="shapes shape-one" />
        <img src="assets/images/assets/ils_22.2.svg" alt="" class="shapes shape-two" />
      </div>

    </div>
  </div>
  <div class="fancy-feature-thirtyFour mt-150 md-mt-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 m-auto aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
          data-aos-duration="1200">
          <div class="title-style-eleven text-center mb-70 md-mb-10">
            <div class="upper-title">{{'HOW_IT_WORKS' | translate}}</div>
            <h2>{{'CREATE_FORMS_SURVEYS_QUIZZES' | translate}}
            </h2>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
          data-aos-duration="1200">
          <div class="block-style-thirtyFive text-center mt-30">
            <div class="icon d-flex align-items-center justify-content-center" style="background: #f0f0ff">
              <img src="assets/images/icon/190.svg" alt="" />
            </div>
            <h4>{{'BUILD' | translate}}</h4>
            <p>{{'BUILD_DESCRIPTION' | translate}}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
          data-aos-duration="1200" data-aos-delay="100">
          <div class="block-style-thirtyFive text-center mt-30">
            <div class="icon d-flex align-items-center justify-content-center" style="background: #fcf2da">
              <img src="assets/images/icon/191.svg" alt="" />
            </div>
            <h4>{{'LAUNCH' | translate}}</h4>
            <p>{{'LAUNCH_DESCRIPTION' | translate}}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
          data-aos-duration="1200" data-aos-delay="200">
          <div class="block-style-thirtyFive text-center mt-30">
            <div class="icon d-flex align-items-center justify-content-center" style="background: #ebfbed">
              <img src="assets/images/icon/192.svg" alt="" />
            </div>
            <h4>{{'INCENTIVIZE' | translate}}</h4>
            <p>{{'INCENTIVIZE_DESCRIPTION' | translate}}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
          data-aos-duration="1200" data-aos-delay="300">
          <div class="block-style-thirtyFive text-center mt-30">
            <div class="icon d-flex align-items-center justify-content-center" style="background: #ffeeee">
              <img src="assets/images/icon/193.svg" alt="" />
            </div>
            <h4>{{'ANALYZE' | translate}}</h4>
            <p>{{'ANALYZE_DESCRIPTION' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block-style-thirtySix lg-container mt-225 md-mt-120" id="feature">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-7 order-lg-last aos-init aos-animate" data-aos="fade-left">
          <div class="pl-lg-5">
            <div class="title-style-fourteen">
              <div class="upper-title">{{'FORM_CREATION_TOOL' | translate}}</div>
              <h2>{{'MAKE_SURVEY_COUNT' | translate}}</h2>
            </div>
            <div class="tag-line">{{'RICH_SURVEY_FORM' | translate}}
            </div>
            <ul class="list-item">
              <li>{{'WIDE_RANGE_OF_QUESTION_TYPES' | translate}}</li>
              <li>{{'INTUITIVE_DRAG_AND_DROP_DESIGN' | translate}}</li>
              <li>{{'REAL_TIME_LIVE_ANALYTICS_DASHBOARD' | translate}}</li>
              <li>{{'FULLY_CUSTOMIZABLE_SURVEYS' | translate}}</li>
              <li>{{'SEAMLESS_USER_EXPERIENCE_HIGH_ENGAGEMENT' | translate}}</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5 text-center text-lg-left order-lg-first aos-init aos-animate"
          data-aos="fade-right">
          <div class="illustration-holder d-inline-block md-mt-60">
            <img src="assets/images/assets/ils_23.svg" alt="" class="w-100" />
            <img src="assets/images/assets/ils_23.1.svg" alt="" class="shapes shape-one" />
            <img src="assets/images/assets/ils_23.2.svg" alt="" class="shapes shape-two" />
            <img src="assets/images/assets/ils_23.3.svg" alt="" class="shapes shape-three" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fancy-feature-thirtyFive position-relative lg-container mt-225 md-mt-120" id="product">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="block-style-thirtySix">
            <div class="title-style-fourteen">
              <div class="upper-title">{{'EFFORTLESS_CUSTOMIZATION' | translate}}</div>
              <h2>{{'VAST_LIBRARY' | translate}}</h2>
            </div>
            <div class="tag-line">{{'VAST_LIBRARY_DESCRIPTION' | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-wrapper">
      <div class="portfolio_slider_two slick-initialized slick-slider">
        <div class="slick-list draggable" style="padding: 0px">
          <owl-carousel-o [options]="stylesCarousel" class="slick-track" style="opacity: 1; direction: ltr;">
            <ng-container *ngFor="let image of images">
              <ng-template carouselSlide class="item slick-slide slick-cloned" data-slick-index="-4" id=""
                aria-hidden="true" style="width: 527px" tabindex="-1">
                <div class="card-block">
                  <img [src]="image" alt="" />
                  <div class="hover tran3s d-flex align-items-center justify-content-center flex-column">
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>

  <div class="fancy-feature-eleven mt-130 md-mt-80" id="product">
    <div class="inner-container">
      <div class="container">
        <div class="row " [class.special-direction]="rtl$ | async">
          <div class="col-xl-8 col-lg-10 col-md-9 m-auto">
            <div class="title-style-six text-center">
              <h6>{{'OUR_PRODUCT' | translate}}</h6>
              <h2>{{'HELPING_CUSTOMER_GLOBALY' | translate}}</h2>
            </div> <!-- /.title-style-six -->
          </div>
        </div>
      </div>

      <div class="block-style-sixteen" style="background:#EBF3F1;">
        <div class="container">
          <div class="row" [class.special-direction]="rtl$ | async">
            <div class="col-xl-5 col-lg-6 aos-init" data-aos="fade-right" data-aos-duration="1200">
              <div class="icon d-flex align-items-center justify-content-center" style="background:#DEEAE7;"><img
                  src="assets/images/icon/73.svg" alt=""></div>
              <h3 class="title">{{'MOBILE_APPLICATION_DESIGN' | translate}}</h3>
              <p>{{'COMMONLY_USED_GRAPHIC' | translate}}</p>
              <!-- <a href="#"><img src="assets/images/icon/72.svg" alt="" [class.invert]="rtl$ | async"></a> -->
            </div>
          </div>
        </div>
        <img src="assets/images/assets/3848570.jpg" alt="" class="shapes screen-one">
      </div> <!-- /.block-style-sixteen -->

      <div class="block-style-sixteen" style="background:#EDF3F9;">
        <div class="container">
          <div class="row ">
            <div class="col-xl-5 col-lg-6 ml-auto aos-init" data-aos="fade-left" data-aos-duration="1200">
              <div class="icon d-flex align-items-center justify-content-center" style="background:#E1E7ED;"><img
                  src="assets/images/icon/74.svg" alt=""></div>
              <h3 class="title">{{'BRANDING_DESIGN' | translate}}</h3>
              <p>{{'BRANDING_DESIGN_DESC' | translate}}</p>
              <!-- <a href="#"><img src="assets/images/icon/72.svg" alt="" [class.invert]="rtl$ | async"></a> -->
            </div>
          </div>
        </div>
        <img src="assets/images/assets/6521699.jpg" alt="" class="shapes screen-two">
      </div> <!-- /.block-style-sixteen -->

      <div class="block-style-sixteen" style="background:#F9F1EF;">
        <div class="container">
          <div class="row" [class.special-direction]="rtl$ | async">
            <div class="col-xl-5 col-lg-6 aos-init" data-aos="fade-right" data-aos-duration="1200">
              <div class="icon d-flex align-items-center justify-content-center" style="background:#EDE5E3;"><img
                  src="assets/images/icon/75.svg" alt=""></div>
              <h3 class="title">{{'CUSTOM_PLUGIN' | translate}}</h3>
              <p>{{'CUSTOM_PLUGIN_DESC' | translate}}</p>
              <!-- <a href="#"><img src="assets/images/icon/72.svg" [class.invert]="rtl$ | async" alt=""></a> -->
            </div>
          </div>
        </div>
        <img src="assets/images/assets/3839214.png" alt="" class="shapes screen-three">
      </div> <!-- /.block-style-sixteen -->
    </div> <!-- /.inner-container -->
    <img src="assets/images/shape/139.svg" alt="" class="shapes shape-one">
    <img src="assets/images/shape/140.svg" alt="" class="shapes shape-two">
  </div>

  <div class="fancy-short-banner-fifteen mt-150 md-mt-80">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-11 m-auto aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
          <div class="title-style-seven text-center">
            <h2>{{'TRY_IT_NOW' | translate}}</h2>
            <p>{{'TRY_IT_RISK_FREE' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="text-center mt-50 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
        <a class="theme-btn-nine aos-init" type="button" data-aos="fade-up" data-aos-duration="1200"
          data-aos-delay="100" data-bs-toggle="modal" data-bs-target="#staticBackdrop">{{'GET_STARTED_' |
          translate}}</a>
      </div>
    </div>
  </div>

</div>