<section class="p-0 bg-white">
    <div class="home-slider">
        <div>
            <div class="home bg-size blur-up lazyloaded" id="img-bg" style="background-image: url(&quot;../assets/images/fragrance/1.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                <img src="../assets/images/fragrance/1.jpg" alt="" class="bg-img blur-up lazyloaded" style="display: none;">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain product-detail">
                                <div>
                                    <h1 class="animated font-courgette" data-animation-in="fadeInUp" data-delay-in="0.2">Classic perfume</h1>
                                    <p class="animated d-lg-block d-none" data-animation-in="fadeInUp" data-delay-in="0.3">Lorem
                                        Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s, when an unknown printer</p>
                                    <ul data-animation-in="fadeInUp" data-delay-in="0.4" class="color-variant">
                                        <li class="bg-light0"></li>
                                        <li class="bg-light1"></li>
                                        <li class="bg-light2"></li>
                                    </ul>
                                    <h3 class="animated" data-animation-in="fadeInUp" data-delay-in="0.5">
                                        <span>$32.96</span><del>$459.00</del>
                                    </h3>
                                    <a href="#" class="btn btn-solid animated" data-animation-in="fadeInUp" data-delay-in="0.6">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="home-decor d-lg-block d-none">
                    <div class="decor-3 decor wow fadeInRight" id="img-1" style="visibility: visible; animation-name: fadeInRight; transform: translateX(6.71333%) translateY(1.16667%);">
                        <img style="width: 80px;" src="../assets/images/arrow.png" class="img-fluid" alt="">
                        <span>Long Lasting</span>
                    </div>
                    <div class="decor-4 decor wow fadeInLeft" id="img-2" style="visibility: visible; animation-name: fadeInLeft; transform: translateX(6.71333%) translateY(1.16667%);">
                        <span>Non-Irritant</span>
                        <img style="width: 80px;" src="../assets/images/arrow.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- <owl-carousel-o [options]="MainSlider" class="slick-track">
    <ng-container *ngFor="let slider of mainSlider">
        <ng-template carouselSlide>

            <div class="slick-slide" data-slick-index="0" aria-hidden="true"
                style="width: 1349px; position: relative; left: 0px; top: 0px; z-index: 998;  transition: opacity 800ms ease 0s;"
                tabindex="-1">
                <div>
                    <div style="width: 100%; display: inline-block;">
                        <div class="home bg-size blur-up lazyloaded"
                            style="background-image: url(&quot;{{slider.src}}&quot;); background-size: cover; background-position: center center; display: block;">
                            <img src="../assets/images/marketplace/home-slider/2.jpg" alt=""
                                class="bg-img blur-up lazyloaded" style="display: none;">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="slider-contain">
                                            <div>
                                                <h4>welcome to multikart</h4>
                                                <h1>flat 10% off</h1>
                                                <a href="#" class="btn btn-solid" tabindex="0">shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </ng-template>
    </ng-container>
</owl-carousel-o> -->