:host::ng-deep.owl-theme .owl-nav [class*=owl-] {
    @media(width  >500px){
    color: #000;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;}
    @media(width  <500px){
    display: none;
    }
}
:host::ng-deep.main-screen{
    
        width:100%;

    }
:host::ng-deep.position-relative{
    @media(width > 800px){
        margin-top: 120px;
    }
}
:host::ng-deep.owl-carousel .item {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  :host::ng-deep .owl-carousel .item.active {
    opacity: 1;
    transform: translateY(0);
  }
  .p-0 {
    @media(width>1200px){
        margin-top: 0px;
        z-index: -3;
        position: relative;

    }
  }