:host::ng-deep.header-gym .top-header .header-contact li i {
    color: #000 ;
}
:host::ng-deep.header-gym .top-header .header-contact li {
    color: #040404;
}
:host::ng-deep.header-gym .top-header .header-dropdown li a {
    color: #101010;
}

:host::ng-deep.header-gym .top-header .header-dropdown li a i {
    color: #000000;
    padding-right: 8px;
}
:host::ng-deep.header-gym .top-header .header-dropdown li {
    color: #000000;
}
