.theme-tab .tab-title li, .theme-tab .tab-title2 li {
   padding-left: 25px;
   padding-right: 25px;
}
.game-product .theme-tab .tab-title .current a, .game-product .theme-tab .tab-title2 .current a {
   border-bottom: 2px solid var(--theme-color);
   padding-bottom: 5px;
}
.theme-tab .tab-title .current a, .theme-tab .tab-title2 .current a {
   color: var(--theme-color);
}

.theme-tab .tab-title a, .theme-tab .tab-title2 a {
   color: #2d2a25;
   text-transform: uppercase;
}
.game-product .product-box .add-button {
   background-color: var(--theme-color);
   color: white;
   text-align: center;
   font-size: 18px;
   text-transform: capitalize;
   position: absolute;
   width: 100%;
   bottom: -40px;
   padding: 5px 0;
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;
   cursor: pointer;
}