.wh {
  width: 3rem;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-picture {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.container:hover .overlay,
.container:hover .overlay-picture {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.br {
  border: solid 1px black;
}
agm-map {
  height: 300px;
  display: block;
}
.h-300 {
  height: 300px;
}
.h-10 {
  height: 10rem;
}

.df-flex {
  display: flex;
  flex-wrap: wrap;
}
