<div class="theme-color-1" style="overflow: auto;">





    <app-header [themeLogo]="themeLogo"></app-header>

    <app-main-slider></app-main-slider>

    <section class="banner-goggles banner-padding ratio2_1">
        <div class="container">
            <div class="row partition3">
                <div class="col-md-4">
                    <a href="#">
                        <div class="collection-banner">
                            <div class="img-part bg-size blur-up lazyloaded" style="background-image: url(&quot;../assets/images/marketplace/banner/16.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                <img src="../assets/images/marketplace/banner/16.jpg" class="img-fluid blur-up lazyload bg-img" alt="" >
                            </div>
                            <div class="contain-banner banner-3">
                                <div>
                                    <h4>10% off</h4>
                                    <h2>speaker</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <div class="collection-banner">
                            <div class="img-part bg-size blur-up lazyloaded" style="background-image: url(&quot;../assets/images/marketplace/banner/17.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                <img src="../assets/images/marketplace/banner/17.jpg" class="img-fluid blur-up lazyload bg-img" alt="" >
                            </div>
                            <div class="contain-banner banner-3">
                                <div>
                                    <h4>10% off</h4>
                                    <h2>earplug</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <div class="collection-banner">
                            <div class="img-part bg-size blur-up lazyloaded" style="background-image: url(&quot;../assets/images/marketplace/banner/18.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                <img src="../assets/images/marketplace/banner/18.jpg" class="img-fluid blur-up lazyload bg-img" alt="" >
                            </div>
                            <div class="contain-banner banner-3">
                                <div>
                                    <h4>50% off</h4>
                                    <h2>best deal</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

<app-new-products></app-new-products>

<app-blog-slider></app-blog-slider>


    <app-footer></app-footer>


</div>