.h-x {
  height: 37px;
  width: 37px;
}
.avatar-title {
  align-items: center !important;
  background-color: #299cdb;
  display: flex !important;
  font-weight: 500 !important;
  height: 100% !important;
  justify-content: center !important;
  width: 100% !important;
}
.h-90px {
  height: 90px;
}
.w-90px {
  width: 90px;
}
.max-h-105px {
  max-height: 105px;
}
.w-600 {
  width: 600px;
}

