<app-header [themeLogo]="themeLogo"></app-header>

<app-main-slider></app-main-slider>

<section class="pb-0 ratio_45">
    <div class="container">
        <div class="row partition2">
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner christmas-banner p-left text-start">
                        <div class="img-part bg-size blur-up lazyloaded"
                            style="background-image: url(&quot;../assets/images/christmas/sub-banner1.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                            <img src="../assets/images/christmas/sub-banner1.jpg"
                                class="img-fluid bg-img blur-up lazyload" alt="" >
                        </div>
                        <div class="contain-banner">
                            <div>
                                <h4>Christmas</h4>
                                <h2>gift box</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner christmas-banner p-right text-end">
                        <div class="img-part bg-size blur-up lazyloaded"
                            style="background-image: url(&quot;../assets/images/christmas/sub-banner2.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                            <img src="../assets/images/christmas/sub-banner2.jpg"
                                class="img-fluid bg-img blur-up lazyload" alt="" >
                        </div>
                        <div class="contain-banner">
                            <div>
                                <h4>go christmas</h4>
                                <h2>chocolate</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<div class="title1  section-t-space">
    <h4>special offer</h4>
    <h2 class="title-inner1">top collection</h2>
</div>

<app-special-offer></app-special-offer>


<section class="p-0 overflow-cls">
    <div class="full-banner text-center p-center bg-size blur-up lazyloaded"
        style="background-image: url(&quot;../assets/images/christmas/parallax/1.jpg&quot;); background-size: cover; background-position: center center; display: block;">
        <img src="../assets/images/christmas/parallax/1.jpg" alt="" class="bg-img blur-up lazyload"
            style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="banner-contain christmas-contain">
                        <h3>New Collection Of Awesome Gift</h3>
                        <h2>End Of The Year <span>SALE</span></h2>
                        <h4>Get <span>50%</span> Extra Off</h4>
                        <a href="#" class="btn btn-solid" tabindex="0">shop now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="santa-img">
            <img src="../assets/images/christmas/santa.png" class="img-fluid" alt="">
        </div>
        <div class="decor">
            <img src="../assets/images/christmas/parall.png" class="img-fluid" alt="">
        </div>
    </div>
</section>


<div class="title1 section-t-space">
    <h4>exclusive products</h4>
    <h2 class="title-inner1">special products</h2>
</div>


<app-special-offer></app-special-offer>

<section class="p-0 overflow-cls">
    <div class="full-banner feature-banner bg-size blur-up lazyloaded"
        style="background-image: url(&quot;../assets/images/christmas/parallax/2.jpg&quot;); background-size: cover; background-position: center center; display: block;">
        <img src="../assets/images/christmas/parallax/2.jpg" alt="" class="bg-img blur-up lazyload"
            style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="feature-text">
                        <h2>SEND GIFT YOUR LOVED ONE</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <ul class="feature-object">
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <h4>Flower</h4>
                                        <p>Fashion Has Been Creating Well-Designed</p>
                                    </div>
                                </div>
                                <img class="img-fluid" src="../assets/images/christmas/f-p/1.png"
                                    alt="Generic placeholder image">
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <h4>chocolate</h4>
                                        <p>Fashion Has Been Creating Well-Designed</p>
                                    </div>
                                </div>
                                <img class="img-fluid" src="../assets/images/christmas/f-p/2.png"
                                    alt="Generic placeholder image">
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <h4>gift cards</h4>
                                        <p>Fashion Has Been Creating Well-Designed</p>
                                    </div>
                                </div>
                                <img class="img-fluid" src="../assets/images/christmas/f-p/3.png"
                                    alt="Generic placeholder image">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-6 offset-lg-4">
                    <ul class="feature-object-right">
                        <li>
                            <div class="media">
                                <img class="img-fluid" src="../assets/images/christmas/f-p/4.png"
                                    alt="Generic placeholder image">
                                <div class="media-body">
                                    <div>
                                        <h4>photo frame</h4>
                                        <p>Fashion Has Been Creating Well-Designed</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <img class="img-fluid" src="../assets/images/christmas/f-p/5.png"
                                    alt="Generic placeholder image">
                                <div class="media-body">
                                    <div>
                                        <h4>watches</h4>
                                        <p>Fashion Has Been Creating Well-Designed</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <img class="img-fluid" src="../assets/images/christmas/f-p/6.png"
                                    alt="Generic placeholder image">
                                <div class="media-body">
                                    <div>
                                        <h4>plants</h4>
                                        <p>Fashion Has Been Creating Well-Designed</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="center-img">
            <img src=" ../assets/images/christmas/bg1.png" alt="" class="img-fluid">
        </div>
        <div class="banner-decor">
            <div class="left-img">
                <img src="../assets/images/christmas/decor.png" class="img-fluid" alt="">
            </div>
            <div class="right-img">
                <img src="../assets/images/christmas/decor.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>


<div class="title1 section-t-space  margin-add">
    <h2 class="title-inner1">top category</h2>
</div>


<app-special-offer></app-special-offer>


<app-blog-slider></app-blog-slider>


<app-instagram></app-instagram>

<app-footer></app-footer>