<div class="dashboard-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-4 order-lg-0 order-2">
                <div class="db-breadcrumb">
                    <h2 class="page-name">
                        withdraw funds
                    </h2>
                    <ul class="page-dir">
                        <li>
                            <span class="icon"><i class="fa-light fa-house"></i></span>
                            Home
                        </li>
                        <li>
                            <span class="icon"><i class="fa-light fa-caret-right fa-xl"></i></span>
                            withdraw funds
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6 col-lg-8">
                <div class="part-user">
                    <div class="user-info">
                        <span class="user-name">mr. Haden Rees</span>
                        <div class="user-bet-id">
                            <span class="text">Bet ID :</span>
                            <span class="descr"> bet_peredion125c66n40p01</span>
                        </div>
                        <ul class="user-stats">
                            <li>
                                <span class="text">loosing bet :</span>
                                <span class="percentage"> 34%</span>
                            </li>
                            <li>
                                <span class="text">winning bet :</span>
                                <span class="percentage"> 66%</span>
                            </li>
                        </ul>
                    </div>
                    <div class="user-pic">
                        <img src="assets/img/dashboard-header/user-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="d-xl-block d-none">
        <div class="db-menu">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" routerLink="/dashboard">
                        <i class="fa-duotone fa-gauge fa-lg"></i>overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bet-history">
                        <i class="fa-duotone fa-dice fa-lg"></i>bet history</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/transaction">
                        <i class="fa-duotone fa-arrow-right-arrow-left fa-lg" style="font-size: 20px;"></i>
                        transaction <span class="d-xxl-inline d-xl-none">history</span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/deposit">
                        <i class="fa-duotone fa-sack-dollar fa-lg"></i>
                        deposit</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/withdraw">
                        <i class="fa-duotone fa-upload fa-lg"></i>withdraw <span class="d-xxl-inline d-xl-none">funds</span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/referral">
                        <i class="fa-duotone fa-users fa-lg" style="font-size: 18px;"></i>referral</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/setting"><i class="fa-duotone fa-gear fa-lg" style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1;"></i>
                        settings</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-xl-none d-block">
        <div class="db-offset-menu-control">
            <span class="text">dashboard menu</span>
            <button class="btn-for-bs-offset" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" id="offcanvasExampleLabel">
                <i class="fa-regular fa-bars"></i>
            </button>
        </div>
    </div>
</div>

<div class="dashboard-statics">
    <div class="container">
        <div class="row g-lg-4 g-2">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-statics">
                    <div class="part-icon">
                        <img src="assets/img/db-statics/image-1.png" alt="">
                    </div>
                    <div class="part-text">
                        <span class="text">Main balance</span>
                        <span class="descr">$121.20 </span>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-statics">
                    <div class="part-icon">
                        <img src="assets/img/db-statics/image-2.png" alt="">
                    </div>
                    <div class="part-text">
                        <span class="text">total earning</span>
                        <span class="descr">$362.28 </span>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-statics">
                    <div class="part-icon">
                        <img src="assets/img/db-statics/image-3.png" alt="">
                    </div>
                    <div class="part-text">
                        <span class="text">deposit total</span>
                        <span class="descr">$178.65 </span>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-statics">
                    <div class="part-icon">
                        <img src="assets/img/db-statics/image-4.png" alt="">
                    </div>
                    <div class="part-text">
                        <span class="text">total payout</span>
                        <span class="descr">$658.14 </span>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-statics">
                    <div class="part-icon">
                        <img src="assets/img/db-statics/image-5.png" alt="">
                    </div>
                    <div class="part-text">
                        <span class="text">pending amount</span>
                        <span class="descr">$571.35  </span>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-statics">
                    <div class="part-icon">
                        <img src="assets/img/db-statics/image-6.png" alt="">
                    </div>
                    <div class="part-text">
                        <span class="text">referral earning</span>
                        <span class="descr">$75.20 </span>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-statics">
                    <div class="part-icon">
                        <img src="assets/img/db-statics/image-7.png" alt="">
                    </div>
                    <div class="part-text">
                        <span class="text">avr. odds</span>
                        <span class="descr">322.02</span>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-statics">
                    <div class="part-icon">
                        <img src="assets/img/db-statics/image-8.png" alt="">
                    </div>
                    <div class="part-text">
                        <span class="text">bet winning %</span>
                        <span class="descr">65.51%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="db-elements">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="single-db-element">
                    <h4 class="title">
                        <span class="icon wallet">
                            <img src="assets/img/icon/wallet-deposit.png" alt="">
                        </span>
                        <span class="text">withdraw your money</span>
                    </h4>
                    <div class="withdraw-money">
                        <div class="row g-0">
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                                <div class="part-form">
                                    <form>
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12">
                                                <label for="first_name" class="form-label"><span>Enter amount</span></label>
                                                <input type="text" id="first_name" placeholder="ex: 5042.00">
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12">
                                                <label class="form-label"><span>select your payment wallet</span></label>
                                                <div class="dropdown select-list wallet-select">
                                                    <button class="dropdown-toggle" type="button" id="wallet-select" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Bitcoin (BTC)
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="wallet-select">
                                                        <li><a class="dropdown-item active" href="#">Bitcoin (BTC)</a></li>
                                                        <li><a class="dropdown-item" href="#">Ethereum (ETH) </a></li>
                                                        <li><a class="dropdown-item" href="#">Litecoin (LTC)</a></li>
                                                        <li><a class="dropdown-item" href="#">Local (USD)</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="prd-btn-1">
                                            withdraw <i class="fa-duotone fa-arrow-right"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                                <div class="all-balance">
                                    <div class="single-balance">
                                        <div class="part-currency">
                                            <div class="icon">
                                                <img src="assets/img/currency/cur-1.png" alt="">
                                            </div>
                                            <div class="info">
                                                <span class="descr">currency name:</span>
                                                <span class="name">Bitcoin </span>
                                            </div>
                                        </div>
                                        <div class="part-balance">
                                            <div class="single-info">
                                                <span class="descr">net balance :</span>
                                                <span class="name">1,025.20 BTC</span>
                                            </div>
                                            <div class="single-info">
                                                <span class="descr">of withdrawable :</span>
                                                <span class="name">920.00 BTC</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="single-db-element">
                    <h4 class="title">
                        <span class="icon wallet">
                            <img src="assets/img/icon/wallet-insert.png" alt="">
                        </span>
                        <span class="text">insert a new  wallet</span>
                    </h4>
                    <div class="part-form">
                        <form>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-6">
                                    <label for="holder_first_name" class="form-label"><span>account holder name</span></label>
                                    <input type="text" id="holder_first_name" placeholder="ex: Haden Rees">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-6">
                                    <label for="last_name" class="form-label"><span>Card number</span></label>
                                    <input type="text" id="last_name" placeholder="ex: 0000 0000 0000 0000">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-6">
                                    <label for="expiry_date" class="form-label"><span>expiry date</span></label>
                                    <input type="text" id="expiry_date" placeholder="ex: 02/26">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-6">
                                    <label for="phone_number" class="form-label"><span>CVV</span></label>
                                    <input type="text" id="phone_number" placeholder="ex: 210">
                                </div>
                            </div>
                            <button class="prd-btn-1">
                                Add wallet <i class="fa-duotone fa-arrow-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>