<section class="vector-category">
    <div class="container">
        <div class="vector-slide-8 category-slide margin-default ratio_square slick-initialized slick-slider">
            <div class="slick-list draggable">
                <owl-carousel-o [options]="CategoriesCarousel" class="slick-track" style="opacity: 1; width: 5504px; ">
                    <ng-container *ngFor="let category of CategoriesData" >
                        <ng-template carouselSlide>


                    <div class="slick-slide slick-cloned" data-slick-index="-8" aria-hidden="true" tabindex="-1"
                        >
                        <div>
                            <div class="" style="width: 100%; display: inline-block;">
                                <a href="#" tabindex="-1">
                                    <div class="img-category">
                                        <div class="img-sec">
                                            <img src="{{category.src}}" class="img-fluid" alt="">
                                        </div>
                                        <h4>{{category.name}}</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>