<section class="section-b-space pt-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-5 product-christmas product-m no-arrow slick-initialized slick-slider">
                    <div class="slick-list draggable">
                        <owl-carousel-o [options]="SpecialOfferCarousel" class="slick-track" style="opacity: 1; width: 6080px; ">
                            <ng-container *ngFor="let slider of SpecialOfferData">
                                <ng-template carouselSlide>


                            <div class="slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" tabindex="-1"
                                >
                                <div>
                                    <div class="product-box" style="width: 100%; display: inline-block;">
                                        <div class="img-wrapper">
                                            <div class="lable-block">
                                        
                                            </div>
                                            <div class="front">
                                                <a href="product-page(no-sidebar).html" tabindex="-1"><img
                                                        src="{{slider.src}}" class="img-fluid"
                                                        alt=""></a>
                                            </div>
                                            <div class="back">
                                                <a href="product-page(no-sidebar).html" tabindex="-1"><img
                                                        src="{{slider.src}}" class="img-fluid"
                                                        alt=""></a>
                                            </div>
                                            <div class="cart-info cart-wrap">
                                                <button title="Add to cart" tabindex="-1"><i
                                                        class="ti-shopping-cart"></i></button>
                                                <a href="javascript:void(0)" title="Add to Wishlist" tabindex="-1"><i
                                                        class="ti-heart" aria-hidden="true"></i></a>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"
                                                    title="Quick View" tabindex="-1"><i class="ti-search"
                                                        aria-hidden="true"></i></a>
                                                <a href="compare.html" title="Compare" tabindex="-1"><i
                                                        class="ti-reload" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <a href="product-page(no-sidebar).html" tabindex="-1">
                                                <h6>{{slider.name}}</h6>
                                            </a>
                                            <h4>${{slider.price}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>