.elevok-animate {
  animation-direction: alternate !important;
  animation: buzz-out-on-hover 1s infinite !important;
  &:hover {
    animation: none !important;
  }
}
@keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
  100% {
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}

.elevok-animate-login {
  animation: bouncePulse 2s infinite;
  transition: background-color 0.3s ease;
}

.elevok-animate-login:hover {
  animation: none;
}

@keyframes bouncePulse {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  30% {
    transform: translateY(-15px) scale(1.1);
  }
  50% {
    transform: translateY(0) scale(1);
  }
  70% {
    transform: translateY(-7px) scale(1.05);
  }
}
