<div class="main-page-wrapper font-gordita" [class.rtl]="rtl$ | async">
  <div class="hero-banner-sixteen lg-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 aos-init aos-animate" data-aos="fade-right">
          <h1 class="hero-heading">{{'CONVERT' | translate}} <span>{{'ONE_TIME' | translate}} </span> {{'VISITORS' |
            translate}}.</h1>
          <p class="hero-sub-heading">{{'GUIDE_FIRST_TIME_VISITORS' | translate}} </p>
          <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            class="theme-btn-fourteen button-color">{{'GET_STARTED' | translate}}</a>
        </div>
      </div>

      <div class="screen-holder aos-init aos-animate" data-aos="fade-left">
        <img src="assets/images/assets/ils_24.svg" alt="" class="w-100">
        <img src="assets/images/assets/ils_24.1.svg" alt="" class="shapes shape-one">
        <img src="assets/images/assets/ils_24.2.svg" alt="" class="shapes shape-two">
      </div>
    </div>

  </div>


  <div class="fancy-feature-fortyFive lg-container mt-100 pt-100 pb-110 md-pt-80 md-pb-60" id="feature">
    <div class="container position-relative">
      <div class="row">
        <div class="col-xl-8 col-lg-9 m-auto aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
          data-aos-duration="1200">
          <div class="title-style-eleven text-center mb-50 md-mb-10">
            <div class="upper-title">{{'PROBLEM' | translate}}</div>
            <h2>{{'EMPOWER_YOUR_CUSTOMER' | translate}} <span> {{'ENGAGEMENT' | translate}} </span> {{'AND' |
              translate}} <span> {{'RETENTION' | translate}}</span></h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
          data-aos-duration="1200">
          <div class="block-style-forty text-center mt-30">
            <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img
                src="assets/images/icon/209.svg" alt=""></div>
            <h4>{{'WHERE_TO_START' | translate}}</h4>
            <p class="pl-xl-5 pr-xl-5">{{'DIRECTION_KICKSTART' | translate}}</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
          data-aos-duration="1200" data-aos-delay="100">
          <div class="block-style-forty text-center mt-30">
            <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img
                src="assets/images/icon/210.svg" alt=""></div>
            <h4>{{'BUDGET' | translate}}</h4>
            <p class="pl-xl-5 pr-xl-5">{{'BUDGET_FRIENDLY_SOLUTIONS' | translate}}</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
          data-aos-duration="1200" data-aos-delay="200">
          <div class="block-style-forty text-center mt-30">
            <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img
                src="assets/images/icon/211.svg" alt=""></div>
            <h4>{{'EXPERTISE' | translate}}</h4>
            <p class="pl-xl-5 pr-xl-5">{{'EXPERTISE_COVERED' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
    <img src="assets/images/shape/246.svg" alt="" class="shapes shape-one">
    <img src="assets/images/shape/247.svg" alt="" class="shapes shape-two">
    <img src="assets/images/shape/248.svg" alt="" class="shapes shape-three">
    <img src="assets/images/shape/249.svg" alt="" class="shapes shape-four">
  </div>

  <div class="fancy-feature-twentySeven lg-container mt-100 pt-20 md-mt-60" id="product">
    <div class="container">
      <div class="title-style-twelve text-center mb-70 md-mb-20">
        <div class="row">
          <div class="col-xl-10 col-lg-11 m-auto">
            <div class="upper-title">{{'CURRENT_LIMITATIONS' | translate}}</div>
            <h2>
              <span>{{'BRIDGING_LOYALTY_GAPS' | translate}} <img src="assets/images/shape/line-shape-13.svg"
                  alt=""></span>
            </h2>
            <p class="mt-40 md-mt-30">{{'CHALLENGES_TRADITIONAL_SYSTEMS' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-sm-6" data-aos="fade-up">
          <div class="block-style-twentySeven">
            <div class="icon d-flex align-items-end justify-content-center"><img src="assets/images/icon/144.svg"
                alt=""></div>
            <h4 class="font-gordita">{{'AGGREGATION' | translate}}</h4>
            <p>{{'FRAGMENTED_LOYALTY_MANAGEMENT' | translate}}</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="100">
          <div class="block-style-twentySeven">
            <div class="icon d-flex align-items-end justify-content-center"><img src="assets/images/icon/145.svg"
                alt=""></div>
            <h4 class="font-gordita">{{'ENGAGEMENT' | translate}}</h4>
            <p>{{'LIMITED_ENGAGEMENT_AVENUES' | translate}}</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="200">
          <div class="block-style-twentySeven">
            <div class="icon d-flex align-items-end justify-content-center"><img src="assets/images/icon/146.svg"
                alt=""></div>
            <h4 class="font-gordita">{{'TARGETING' | translate}}</h4>
            <p>{{'INEFFECTIVE_TARGETING' | translate}}</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="300">
          <div class="block-style-twentySeven">
            <div class="icon d-flex align-items-end justify-content-center"><img src="assets/images/icon/147.svg"
                alt=""></div>
            <h4 class="font-gordita">{{'PARTNERSHIP' | translate}}</h4>
            <p>{{'COMPLICATED_PARTNERSHIP_DYNAMICS' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fancy-feature-thirty mt-180 md-mt-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 col-lg-9 m-auto">
          <div class="title-style-thirteen text-center mb-80 md-mb-60">
            <div class="upper-title">{{'SOLUTION' | translate}}</div>
            <h2>{{'UNIFIED' | translate}}
              <span>{{'CUSTOMER_ENGAGEMENT' | translate}} <img src="assets/images/shape/line-shape-14.svg"
                  alt=""></span>
              {{'SOLUTION_' | translate}}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6 aos-init" data-aos="fade-up" data-aos-duration="1200">
            <div class="block-style-thirtyTwo d-flex">
              <div class="icon d-flex align-items-center justify-content-center" style="background:#E6FBFF;"><img
                  src="assets/images/icon/168.svg" alt=""></div>
              <div class="text">
                <h4>{{'BRAND_AMBASSADOR_CULTIVATION' | translate}}</h4>
                <p>{{'FOSTER_BRAND_AMBASSADORS' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 aos-init" data-aos="fade-up" data-aos-duration="1200">
            <div class="block-style-thirtyTwo d-flex">
              <div class="icon d-flex align-items-center justify-content-center" style="background:#F7EDFF;"><img
                  src="assets/images/icon/166.svg" alt=""></div>
              <div class="text">
                <h4>{{'UNIFIED_DATA_INTEGRATION' | translate}}</h4>
                <p>{{'SEAMLESS_DATA_INTEGRATION' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 aos-init" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="100">
            <div class="block-style-thirtyTwo d-flex">
              <div class="icon d-flex align-items-center justify-content-center" style="background:#D8FFF1;"><img
                  src="assets/images/icon/167.svg" alt=""></div>
              <div class="text">
                <h4>{{'ONLINE_IN_STORE_CONNECTIVITY' | translate}}</h4>
                <p>{{'BRIDGE_ONLINE_IN_STORE' | translate}}</p>
                <!-- <a href="#" class="theme-btn-ten">{{'LEARN_MORE' | translate}}<i class="fa fa-chevron-right" aria-hidden="true"></i></a> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 aos-init" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="100">
            <div class="block-style-thirtyTwo d-flex">
              <div class="icon d-flex align-items-center justify-content-center" style="background:#FFEBDB;"><img
                  src="assets/images/icon/188.svg" alt=""></div>
              <div class="text">
                <h4>{{'AUDIENCE_SEGMENTATION' | translate}}</h4>
                <p>{{'EFFORTLESS_AUDIENCE_SEGMENTATION' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 aos-init" data-aos="fade-up" data-aos-duration="1200">
            <div class="block-style-thirtyTwo d-flex">
              <div class="icon d-flex align-items-center justify-content-center" style="background:#E6FBFF;"><img
                  src="assets/images/icon/183.svg" alt=""></div>
              <div class="text">
                <h4>{{'CAMPAIGN_LAUNCH_MINUTES' | translate}}</h4>
                <p>{{'STREAMLINE_CAMPAIGN_LAUNCH' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 aos-init" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="100">
            <div class="block-style-thirtyTwo d-flex">
              <div class="icon d-flex align-items-center justify-content-center" style="background:#FFEBDB;"><img
                  src="assets/images/icon/178.svg" alt=""></div>
              <div class="text">
                <h4>{{'AUTOMATED_LOYALTY_WORKFLOWS' | translate}}</h4>
                <p>{{'IMPLEMENT_AUTOMATED_WORKFLOWS' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="assets/images/shape/237.svg" alt="" class="shapes shape-one">
      <img src="assets/images/shape/238.svg" alt="" class="shapes shape-two">
    </div>
  </div>

  <div class="fancy-feature-thirtySeven lg-container pt-120 lg-pt-100" id="stories">
    <div class="block-style-fortyOne">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 aos-init" data-aos="fade-right">
            <div class="title-style-eleven">
              <div class="upper-title">{{'USER_TO_LEAD' | translate}}</div>
              <h2><span>{{'CONVERT' | translate}}</span> {{'YOUR_USER_TO_LEAD' | translate}}</h2>
            </div>
            <p>{{'CUSTOMER_FOCUSED_APPROACH' | translate}}</p>
            <a routerLink="/engage" class="d-flex align-items-center learn-more">
              <span>{{'LEARN_MORE' | translate}}</span>
              <img src="assets/images/icon/93.svg" [class.invert]="rtl$ | async" alt="">
            </a>
          </div>
          <div class="col-xl-7 col-lg-6 ml-auto text-center text-lg-right aos-init aos-animate" data-aos="fade-left"
            [class.rtl]="rtl$ | async">
            <div class="img-holder md-mt-50 d-inline-block"><img src="assets/images/assets/screen_39.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-style-fortyOne mt-90">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 aos-init" data-aos="fade-right">
            <div class="title-style-eleven">
              <div class="upper-title">{{'GROW_REVENUE' | translate}}</div>
              <h2><span>{{'MAXIMIZE' | translate}}</span> {{'REVENUE_GROWTH' | translate}}</h2>
            </div>
            <p>{{'ACHIEVE_HIGHER_SALES' | translate}}</p>
            <a routerLink="/grow" class="d-flex align-items-center learn-more">
              <span>{{'LEARN_MORE' | translate}}</span>
              <img src="assets/images/icon/93.svg" [class.invert]="rtl$ | async" alt="">
            </a>
          </div>
          <div class="col-xl-7 col-lg-6 ml-auto text-center text-lg-right aos-init" data-aos="fade-left">
            <div class="img-holder md-mt-50 d-inline-block"><img src="assets/images/assets/screen_40.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-style-fortyOne mt-90">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 aos-init" data-aos="fade-right">
            <div class="title-style-eleven">
              <div class="upper-title">{{'GAMIFICATION' | translate}}</div>
              <h2><span>{{'ELEVATE' | translate}}</span> {{'CUSTOMER_ENGAGEMENT_ELEV' | translate}}</h2>
            </div>
            <p>{{'CRAFT_UNIQUE_EXPERIENCES' | translate}}</p>
            <a routerLink="/collect" class="d-flex align-items-center learn-more">
              <span>{{'LEARN_MORE' | translate}}</span>
              <img src="assets/images/icon/93.svg" [class.invert]="rtl$ | async" alt="">
            </a>
          </div>
          <div class="col-xl-7 col-lg-6 ml-auto text-center text-lg-right aos-init" data-aos="fade-left">
            <div class="img-holder md-mt-50 d-inline-block"><img src="assets/images/assets/screen_41.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="counter-style-two mt-150 md-mt-60">
    <div class="border-bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
            data-aos-duration="1200">
            <div class="counter-box-four">
              <h2 class="number"><span class="timer" data-from="0" data-to="3" data-speed="1500"
                  data-refresh-interval="5" [countUp]="670" [options]="{ enableScrollSpy: true }"></span>m€</h2>
              <p>{{'MANAGED_POINTS' | translate}}</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
            data-aos-delay="100" data-aos-duration="1200">
            <div class="counter-box-four">
              <h2 class="number"><span class="timer" data-from="0" data-to="20" data-speed="1200"
                  data-refresh-interval="5" [countUp]="120" [options]="{ enableScrollSpy: true }"></span> {{'MILLION' |
                translate}}</h2>
              <p>{{'LOYAL_CUSTOMERS' | translate}}</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
            data-aos-delay="200" data-aos-duration="1200">
            <div class="counter-box-four">
              <h2 class="number"><span class="timer" data-from="0" data-to="3000" data-speed="1200"
                  data-refresh-interval="5" [countUp]="20" [options]="{ enableScrollSpy: true }"></span>+ {{'MILLION' |
                translate}}</h2>
              <p>{{'MONTHLY_TRANSACTIONS' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fancy-feature-fortySix lg-container mt-150 lg-mt-100 pt-100 pb-150 md-pt-80 lg-pb-80" id="product">
    <div class="container position-relative">
      <div class="row">
        <div class="col-xl-8 col-lg-10 m-auto aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
          data-aos-duration="1200">
          <div class="title-style-seven text-center mb-50 md-mb-10">
            <h2><span>{{'TODAY' | translate}}</span> {{'SAY_GOODBYE_TO_LOSING_CUSTOMERS' | translate}}</h2>
            <p>{{'ADOPT_STRATEGIES' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
          data-aos-duration="1200">
          <div class="block-style-fortyTwo text-center mt-30">
            <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img
                src="assets/images/icon/212.svg" alt=""></div>
            <h5>{{'BOOST_ENGAGEMENT' | translate}}</h5>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
          data-aos-duration="1200" data-aos-delay="100">
          <div class="block-style-fortyTwo text-center mt-30">
            <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img
                src="assets/images/icon/213.svg" alt=""></div>
            <h5>{{'SOCIAL_INTERACTIONS' | translate}}</h5>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
          data-aos-duration="1200" data-aos-delay="200">
          <div class="block-style-fortyTwo text-center mt-30">
            <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img
                src="assets/images/icon/214.svg" alt=""></div>
            <h5>{{'KNOW_YOUR_CUSTOMER' | translate}}</h5>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
          data-aos-duration="1200" data-aos-delay="250">
          <div class="block-style-fortyTwo text-center mt-30">
            <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img
                src="assets/images/icon/215.svg" alt=""></div>
            <h5>{{'REVENUE_GROWTH_' | translate}}</h5>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 aos-init" data-aos="fade-up" data-aos-duration="1200" data-aos-duration="1200">
          <div class="block-style-fortyTwo text-center mt-30">
            <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img
                src="assets/images/icon/216.svg" alt=""></div>
            <h5>{{'INSIGHTFUL_SURVEYS' | translate}}</h5>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 aos-init" data-aos="fade-up" data-aos-duration="1200" data-aos-duration="1200"
          data-aos-delay="100">
          <div class="block-style-fortyTwo text-center mt-30">
            <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img
                src="assets/images/icon/217.svg" alt=""></div>
            <h5>{{'LEAD_GENERATION' | translate}}</h5>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 aos-init" data-aos="fade-up" data-aos-duration="1200" data-aos-duration="1200"
          data-aos-delay="200">
          <div class="block-style-fortyTwo text-center mt-30">
            <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img
                src="assets/images/icon/218.svg" alt=""></div>
            <h5>{{'DATA_SECURITY' | translate}}</h5>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 aos-init" data-aos="fade-up" data-aos-duration="1200" data-aos-duration="1200"
          data-aos-delay="250">
          <div class="block-style-fortyTwo text-center mt-30">
            <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img
                src="assets/images/icon/219.svg" alt=""></div>
            <h5>{{'TAILORED_SOLUTION' | translate}}</h5>
          </div>
        </div>
      </div>
    </div>
    <img src="assets/images/shape/246.svg" alt="" class="shapes shape-one">
    <img src="assets/images/shape/247.svg" alt="" class="shapes shape-two">
    <img src="assets/images/shape/248.svg" alt="" class="shapes shape-three">
    <img src="assets/images/shape/249.svg" alt="" class="shapes shape-four">
  </div>
  <div class="faq-classic with-bg">
    <img src="assets/images/shape/86.svg" alt="" class="shapes shape-one" />
    <img src="assets/images/shape/87.svg" alt="" class="shapes shape-two" />
    <img src="assets/images/shape/88.svg" alt="" class="shapes shape-three" />
    <img src="assets/images/shape/89.svg" alt="" class="shapes shape-four" />
    <img src="assets/images/shape/90.svg" alt="" class="shapes shape-five" />
    <img src="assets/images/shape/91.svg" alt="" class="shapes shape-six" />
    <div class="container">
      <div class="title-style-four text-center mb-100 md-mb-70">
        <div class="row">
          <div class="col-lg-7 m-auto">
            <h6>{{'FAQS' | translate}}</h6>
            <h2>
              <span>{{'FAQS' | translate}}<img src="assets/images/shape/line-shape-2.svg" alt="" /></span>
            </h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div id="accordion" *ngFor="
              let faq of faqAccordions.slice(0, faqAccordions.length / 2);
              let i = index
            ">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="button-color" class="btn btn-link" (click)="toggleAccordion(i)">
                    {{ faq.question | translate }}
                  </button>
                </h5>
              </div>
              <div id="collapseOne custom-collapse" class="custom-collapse"
                [@fadeDownCustomAnimation]="isAccordionOpen(i) ? '*' : 'void'"
                [style.display]="isAccordionOpen(i) ? 'block' : 'none'">
                <div class="card-body">
                  <p>{{ faq.answer | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">

          <div id="accordion" *ngFor="
              let faq of faqAccordions.slice(faqAccordions.length/2,faqAccordions.length );
              let i =  index ;
            ">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="button-color" class="btn btn-link"
                    (click)="toggleAccordion(i + faqAccordions.length/2)">
                    {{ faq.question | translate }}
                  </button>
                </h5>
              </div>
              <div id="collapseOne"
                [@fadeDownCustomAnimation]="isAccordionOpen(i + faqAccordions.length/2) ? '*' : 'void'">
                <div class="card-body" [style.display]="isAccordionOpen(i + faqAccordions.length/2) ? 'block' : 'none'">
                  <p>{{ faq.answer | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-blog-index></app-blog-index>

  <div class="fancy-short-banner-eight mt-150 md-mt-130" style="background: #eef6fa">
    <div class="bg-wrapper text-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 m-auto">
            <div class="title-style-twelve">
              <h2>
                <span>{{'TRY_ELEVOK_FREE_' | translate}}
                  <img src="assets/images/shape/line-shape-13.svg" alt="" /></span>
              </h2>
              <p class="pt-45 pb-50 text-dark">{{'TRY_ELEVOK_FREE_DESCRIPTION' | translate}}
              </p>
            </div>
            <a class="theme-btn-nine" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
              type="button">{{'START_FOR_FREE' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>