<div class="match-details">
    <div class="global-shape style-3">
        <img src="assets/img/shapes/shape-1.png" alt="" data-aos="fade-left" data-aos-duration="500" data-aos-offset="200" data-aos-easing="ease-in" data-aos-delay="400" class="aos-init aos-animate">
    </div>
    <div class="container">
        <div class="match-details-view aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
            <div class="part-top">
                <span class="time"><span class="icon"><i class="fa-regular fa-clock"></i></span>09:00 AM</span>
                <span class="date">24 Nov SAT, 2022</span>
            </div>
            <div class="part-middle">
                <div class="single-team">
                    <span class="team-name first">Dinamo Zagreb</span>
                    <span class="team-logo">
                        <img src="assets/img/match-details/team-1.png" alt="">
                    </span>
                </div>
                <span class="vs">
                    <img src="assets/img/match-details/vs.png" alt="">
                </span>
                <div class="single-team">
                    <span class="team-logo">
                        <img src="assets/img/match-details/team-2.png" alt="">
                    </span>
                    <span class="team-name">Bodo Glimt FC</span>
                </div>
            </div>
            <div class="part-bottom">
                <div class="league-name">
                    <span class="title">League : </span>
                    <span class="descr">UEFA Champions League - 2023</span>
                </div>
                <div class="venue-name">
                    <span class="title">Venue : </span>
                    <span class="descr">Tottenham Hotspur Stadium, london</span>
                </div>
            </div>
        </div>
        <div class="match-results aos-init aos-animate" data-aos="fade-up" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in">
            <h4 class="result-title">
                <span>Full time results</span>
            </h4>
            <div class="result-line">
                <div class="row g-sm-4 g-3">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-result">
                            <span class="number">1.10</span>
                            <span class="text">Dinamo Zagreb</span>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-result">
                            <span class="number">5.30</span>
                            <span class="text">draw</span>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-result">
                            <span class="number">3.20</span>
                            <span class="text">Bodo Glimt FC</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="match-results aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
            <h4 class="result-title">
                <span>Double Chance</span>
            </h4>
            <div class="result-line">
                <div class="row g-sm-4 g-3">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-result">
                            <span class="number">7.20</span>
                            <span class="text">Dinamo Zagreb or draw</span>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-result">
                            <span class="number">7.20</span>
                            <span class="text">Bodo Glimt FC or draw</span>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-result">
                            <span class="number">7.20</span>
                            <span class="text">Dinamo Zagreb or  Bodo Glimt FC</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="match-results aos-init aos-animate" data-aos="fade-up" data-aos-delay="250" data-aos-duration="500" data-aos-easing="ease-in">
            <h4 class="result-title">
                <span>Half time result</span>
            </h4>
            <div class="result-line">
                <div class="row g-sm-4 g-3">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-result">
                            <span class="number">1.10</span>
                            <span class="text">Dinamo Zagreb</span>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-result">
                            <span class="number">5.30</span>
                            <span class="text">draw</span>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-result">
                            <span class="number">3.20</span>
                            <span class="text">Bodo Glimt FC</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="match-results aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-easing="ease-in">
            <h4 class="result-title">
                <span>match goals</span>
            </h4>
            <div class="result-line">
                <div class="row g-sm-4 g-3">
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="single-result gap">
                            <span class="number">1.10</span>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-result">
                            <span class="number">5.30</span>
                            <span class="text">draw</span>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-result">
                            <span class="number">3.20</span>
                            <span class="text">Bodo Glimt FC</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="match-results aos-init aos-animate" data-aos="fade-up" data-aos-delay="350" data-aos-duration="500" data-aos-easing="ease-in">
            <h4 class="result-title">
                <span>Asian handicap</span>
            </h4>
            <div class="result-line">
                <div class="row g-sm-4 g-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="single-result">
                            <span class="number">7.20</span>
                            <span class="text">Partizan Belgrade</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="single-result">
                            <span class="number">3.20</span>
                            <span class="text">Bodo Glimt FC</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="match-results aos-init aos-animate" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500" data-aos-easing="ease-in">
            <h4 class="result-title">
                <span>first half goal</span>
            </h4>
            <div class="result-line">
                <div class="row g-sm-4 g-3">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-result gap">
                            <span class="number">1.10</span>
                            <span class="text">Dinamo Zagreb</span>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-result over">
                            <span class="number">5.30</span>
                            <span class="text">draw</span>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-result under">
                            <span class="number">3.20</span>
                            <span class="text">Bodo Glimt FC</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>