<section class="p-0">
    <div class="slider-animate home-slider slick-initialized slick-slider">
        <div class="slick-list draggable">
            <owl-carousel-o [options]="MainSlider" class="slick-track" style="opacity: 1; width: 2752px;">

                <ng-container *ngFor="let slider of mainSlider">
                    <ng-template carouselSlide>
                        <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"
                            style="width: 1349px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                            <div>
                                <div style="width: 100%; display: inline-block;">
                                    <div class="home height-apply p-bottom bg-size blur-up lazyloaded"
                                        style="background-image: url(&quot;{{slider.src}}&quot;); background-size: cover; background-position: center center; display: block;">
                                        <img src="../assets/images/gradient/slider/1.jpg" alt=""
                                            class="bg-img blur-up lazyloaded" style="display: none;">
                                        <div class="container-lg">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="slider-contain height-apply">
                                                        <div>
                                                            <h4>save 30%</h4>
                                                            <h1>special products</h1><a href="#"
                                                                class="btn btn-solid btn-gradient animated"
                                                                tabindex="0">shop
                                                                now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>