<app-breadcrumbs title="NEWSLETTERS" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<ng-container *ngIf="!(navigating$ | async)">
<div class="row">
  <div class="col-lg-12">
    <div class="card" id="ticketsList">
      <div class="card-header border-0">
        <div class="d-flex align-items-center justify-content-between align-items-center">
          <h5 class="card-title mb-0 flex-grow-1">Newsletters
          </h5>
        </div>
      </div>
      <div class="card-body border border-dashed border-end-0 border-start-0">
        <div class="d-flex col-lg-12 align-items-center justify-content-between align-items-center">
          <div class="search-box col-lg-6">
            <form [formGroup]="searchForm">
              <input type="text" formControlName="searchString" name="searchTerm"
                class="form-control search bg-light border-light" placeholder="Search for newsletters or something...">
              <i class="ri-search-line search-icon"></i>
            </form>
          </div>
          <div class="flex-shrink-0 d-flex gap-1">
            <button (click)="openEmailModal(emailModal)" type="button" class="btn btn-primary"><i
                class="ri-send-plane-fill align-bottom me-1"></i> Send</button>
            <button (click)="downloadDocument()" type="button" class="btn btn-secondary"><i
                class="ri-file-download-line align-bottom me-1"></i>
              Export</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-card gridjs-border-none">
          <div class="table-responsive">
            <table class="table align-middle custom-datatable" id="datatableexample">
              <thead>
                <tr class="bg-light text-uppercase text-muted">
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Title</th>
                </tr>
              </thead>
              <tbody
                *ngIf="((loadingNewsLetter$ | async) === false || null || undefined) && (subscribers$ | async).length">
                <tr *ngFor="let subscriber of subscribers$ | async;let i = index;" id="p_{{subscriber?.id}}">
                  <td>
                    <span>
                      <div class="d-flex cursor-pointer align-items-center">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar-sm bg-light p-1 rounded-circle h-x"
                            *ngIf="subscriber?.user?.pictures?.length">
                            <img
                              [src]="subscriber?.user.pictures[0]?.baseUrl + '/' + subscriber?.user?.pictures[0]?.path"
                              class="img-fluid h-100 rounded-circle">
                          </div>
                          <div class="avatar-sm bg-light rounded-circle p-1 h-x"
                            *ngIf="!subscriber?.user?.pictures?.length">
                            <div class="avatar-title bg-soft-success text-success rounded-circle fs-13">
                              {{subscriber?.user?.firstName?.charAt(0)}}</div>
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h5 class="fs-14 mb-1">
                            <a class="text-dark">
                              {{subscriber?.user?.firstName}} {{subscriber?.user?.lastName}}
                            </a>
                          </h5>
                        </div>
                      </div>
                    </span>
                  </td>
                  <td>{{subscriber?.email?.length > 15 ? subscriber?.email?.substr(0, 15) + '...' : subscriber?.email }}
                  </td>
                  <td>{{subscriber?.user?.phone?.number}}</td>
                  <td>{{subscriber?.user?.residentialAddress[0]?.addressLine}}</td>
                  <td>{{subscriber?.user?.title}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="((loadingNewsLetter$ | async) === false || null || undefined) && (subscribers$ | async).length"
          class="px-3">
          <div class="row justify-content-md-between align-items-md-center gy-2">
            <div class="col col-sm-6">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                Showing {{pagination?.startIndex + 1}}–{{pagination?.endIndex ===
                pagination?.length ? pagination?.endIndex : pagination?.endIndex + 1}} of
                {{pagination?.length}} entries
              </div>
            </div>
            <div class="col col-sm-6">
              <div class="text-sm-right float-end listjs-pagination">
                <ngb-pagination [maxSize]="5" [collectionSize]="pagination?.length" [(page)]="page"
                  (pageChange)="onPageChange($event)" [pageSize]="pagination?.size">
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
        <div id="noresult" class="py-4 mt-4 text-center"
          *ngIf="(loadingNewsLetter$ | async) || (!(loadingNewsLetter$ | async) && !(subscribers$ | async).length)">
          <lord-icon trigger="loop" style="width:72px;height:72px" colors="primary:#405189,secondary:#0ab39c"
            src="https://cdn.lordicon.com/msoeawqm.json">
          </lord-icon>
          <h5 class="mt-4" *ngIf="loadingNewsLetter$ | async">Loading ...</h5>
          <h5 class="mt-4" *ngIf="!(loadingNewsLetter$ | async) && !(subscribers$ | async).length">Sorry! No
            Result Found</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emailModal role="document" let-modal>
  <div class="modal-header p-3 bg-soft-info">
    <h5 class="modal-title" id="exampleModalLabel">Send Email</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="emailForm">
    <div class="modal-body">
      <div class="row g-3">
        <div class="col-lg-12 mb-3">
          <label class="form-label" for="product-tags-input">Emails (Press enter to add item)</label>
          <ng-select [items]="[]" [addTag]="true" [isOpen]="false" [multiple]="true" [selectOnTab]="true"
            formControlName="emails">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"
          (click)="modal.close('Close click')">Close</button>
        <button type="button" [disabled]="isEmailButtonDisabled || emailForm.invalid" (click)="send()"
          class="btn btn-success" id="add-btn">Send</button>
      </div>
    </div>
  </form>
</ng-template>
</ng-container>
<div *ngIf="navigating$ | async" class="vh-100 py-4 text-center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
  <div>
    <lord-icon
      trigger="loop"
      style="width:72px;height:72px"
      colors="primary:#405189,secondary:#0ab39c"
      src="https://cdn.lordicon.com/msoeawqm.json"
    >
    </lord-icon>
  </div>
  <div class="mt-4">
    <h5>Loading...</h5>
  </div>
</div>
