/* .dark-layout{
    background-color: #171622;
} */
.custom-footer{
    background-image: url('/assets/images/parallax/27.jpg');
}
.footer-theme .sub-title li a {
    
    color: #ffffff;
}
.footer-theme .sub-title h4 {
    color: var(--theme-color);

}


p {
    
    color: #ffffff;}
    .subscribe h4 {
        color: #ffffff;

    }