<section class="section-b-space ratio_asos metro-section portfolio-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title2 text-start">
                    <h2 class="title-inner2 p-0">Recently viewed</h2>
                </div>
            </div>
            <div class="col">
                <div class="product-4 product-m no-arrow slick-initialized slick-slider">
                    <div class="slick-list draggable">
                        <owl-carousel-o [options]="ProductsCarousel" class="slick-track"
                            style="opacity: 1; width: 1140px;">
                            <ng-template carouselSlide class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"
                                style="width: 285px;">
                                <div>
                                    <div class="product-box" style="width: 100%; display: inline-block;">
                                        <div class="img-wrapper">
                                            <div class="front">
                                                <a href="product-page(no-sidebar).html"
                                                    class="bg-size blur-up lazyloaded"
                                                    style="background-image: url(&quot;../assets/images/fashion/pro/20.jpg&quot;); background-size: cover; background-position: center center; display: block;"
                                                    tabindex="0"><img src="../assets/images/fashion/pro/20.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt=""
                                                        ></a>
                                            </div>
                                            <div class="cart-info cart-wrap">
                                                <button title="Add to cart" tabindex="0"><i
                                                        class="ti-shopping-cart"></i></button>
                                                <a href="javascript:void(0)" title="Add to Wishlist" tabindex="0"><i
                                                        class="ti-heart" aria-hidden="true"></i></a>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"
                                                    title="Quick View" tabindex="0"><i class="ti-search"
                                                        aria-hidden="true"></i></a>
                                                <a href="compare.html" title="Compare" tabindex="0"><i class="ti-reload"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-detail default-view">
                                            <a href="product-page(no-sidebar).html" tabindex="0">
                                                <h6>Blue Distressed Jeans</h6>
                                            </a>
                                            <h4>$15.00</h4>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide class="slick-slide slick-active" data-slick-index="1" aria-hidden="false"
                                style="width: 285px;">
                                <div>
                                    <div class="product-box" style="width: 100%; display: inline-block;">
                                        <div class="img-wrapper">
                                            <div class="front">
                                                <a href="product-page(no-sidebar).html"
                                                    class="bg-size blur-up lazyloaded"
                                                    style="background-image: url(&quot;../assets/images/fashion/pro/21.jpg&quot;); background-size: cover; background-position: center center; display: block;"
                                                    tabindex="0"><img src="../assets/images/fashion/pro/21.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt=""
                                                        ></a>
                                            </div>
                                            <div class="cart-info cart-wrap">
                                                <button title="Add to cart" tabindex="0"><i
                                                        class="ti-shopping-cart"></i></button>
                                                <a href="javascript:void(0)" title="Add to Wishlist" tabindex="0"><i
                                                        class="ti-heart" aria-hidden="true"></i></a>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"
                                                    title="Quick View" tabindex="0"><i class="ti-search"
                                                        aria-hidden="true"></i></a>
                                                <a href="compare.html" title="Compare" tabindex="0"><i class="ti-reload"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-detail default-view">
                                            <a href="product-page(no-sidebar).html" tabindex="0">
                                                <h6> V-Neck Dresses </h6>
                                            </a>
                                            <h4>$35.80</h4>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide class="slick-slide slick-active" data-slick-index="2" aria-hidden="false"
                                style="width: 285px;">
                                <div>
                                    <div class="product-box" style="width: 100%; display: inline-block;">
                                        <div class="img-wrapper">
                                            <div class="front">
                                                <a href="product-page(no-sidebar).html"
                                                    class="bg-size blur-up lazyloaded"
                                                    style="background-image: url(&quot;../assets/images/fashion/pro/22.jpg&quot;); background-size: cover; background-position: center center; display: block;"
                                                    tabindex="0"><img src="../assets/images/fashion/pro/22.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt=""
                                                        ></a>
                                            </div>
                                            <div class="cart-info cart-wrap">
                                                <button title="Add to cart" tabindex="0"><i
                                                        class="ti-shopping-cart"></i></button>
                                                <a href="javascript:void(0)" title="Add to Wishlist" tabindex="0"><i
                                                        class="ti-heart" aria-hidden="true"></i></a>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"
                                                    title="Quick View" tabindex="0"><i class="ti-search"
                                                        aria-hidden="true"></i></a>
                                                <a href="compare.html" title="Compare" tabindex="0"><i class="ti-reload"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-detail default-view">
                                            <a href="product-page(no-sidebar).html" tabindex="0">
                                                <h6>White Top</h6>
                                            </a>
                                            <h4>$25.00</h4>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide class="slick-slide slick-active" data-slick-index="3" aria-hidden="false"
                                style="width: 285px;">
                                <div>
                                    <div class="product-box" style="width: 100%; display: inline-block;">
                                        <div class="img-wrapper">
                                            <div class="front">
                                                <a href="product-page(no-sidebar).html"
                                                    class="bg-size blur-up lazyloaded"
                                                    style="background-image: url(&quot;../assets/images/fashion/pro/23.jpg&quot;); background-size: cover; background-position: center center; display: block;"
                                                    tabindex="0"><img src="../assets/images/fashion/pro/23.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt=""
                                                        ></a>
                                            </div>
                                            <div class="cart-info cart-wrap">
                                                <button title="Add to cart" tabindex="0"><i
                                                        class="ti-shopping-cart"></i></button>
                                                <a href="javascript:void(0)" title="Add to Wishlist" tabindex="0"><i
                                                        class="ti-heart" aria-hidden="true"></i></a>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"
                                                    title="Quick View" tabindex="0"><i class="ti-search"
                                                        aria-hidden="true"></i></a>
                                                <a href="compare.html" title="Compare" tabindex="0"><i class="ti-reload"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-detail default-view">
                                            <a href="product-page(no-sidebar).html" tabindex="0">
                                                <h6>V-Neck High Waist Mini-Dresses</h6>
                                            </a>
                                            <h4>$24.20</h4>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>