<div class="theme-color-1" style="overflow: auto;">





    <app-header [themeLogo]="themeLogo"></app-header>

    <div class="shop-sidebar-demo"> 
 
<div class="shop-main">

    <div class="pb-0 small-section small-slider">
        <div class="home bg-size blur-up lazyloaded" style="background-image: url(&quot;../assets/images/bgg.jpg&quot;); background-size: cover; background-position: center center; display: block;">
            <img src="../assets/images/bgg.jpg" alt="" class="bg-img blur-up lazyloaded" style="display: none;">
            <div class="container-lg">
                <div class="row">
                    <div class="col">
                        <div class="slider-contain product-detail">
                            <div>
                                <h4>50% off on your first order</h4>
                                <h2 class="my-3">
                                    Welcome to Multikart</h2>
                                <a href="#" class="btn btn-solid rounded-3">shop
                                    now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <app-products [Title]="'Vagetables & Seasonal Fruits'" [subTitle]="'Winter Seasonal Fruits'"></app-products>
    <app-products [Title]="'Vagetables & Seasonal Fruits'" [subTitle]="'Summer & Monsoon Seasonal Fruits'"></app-products>
    <app-products [Title]="'grocery & staples'" [subTitle]="'All Seasonal Vegetables & Fruits'"></app-products>
    <app-products [Title]="'Vagetables & Seasonal Fruits'" [subTitle]="'Winter Seasonal Fruits'"></app-products>
    <app-products [Title]="'Vagetables & Seasonal Fruits'" [subTitle]="'Winter Seasonal Fruits'"></app-products>



    <app-blog-slider></app-blog-slider>
    <app-footer></app-footer>
</div>

</div>
  

</div>


