.h-7 {
  max-height: 10rem;
  overflow-y: auto;
}
.ml-2 {
  margin-left: 0.5rem;
 }
 @media (min-width: 576px) {
  .my-element {
    margin-right: 0.5rem;
  }
}
.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.ellipsis {
  font-size: 12px;
  line-height: 1;
}
.h-28 {
  height: 24px;
}

.w-28 {
  width: 24px;
}
