<div class="main-page-wrapper font-gordita" [class.rtl]="rtl$ | async">

  <div class="hero-banner-eleven lg-container pt-120 md-pt-80">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-lg-6">
          <div class="hero-text-wrapper">
            <h1>{{'TURN_VISITORS' | translate}} <br>{{'INTO' | translate}}
              <span>{{'REVENUE' | translate}}
                <img src="assets/images/shape/line-shape-12.svg" alt="" class="cs-screen">
              </span>
            </h1>
            <p class="hero-sub-heading">{{'SELL_AUDIENCE_GUARANTEED_ACTIONS' | translate}}</p>
            <a type="button" class="theme-btn-nine button-color" data-bs-toggle="modal"
              data-bs-target="#staticBackdrop">{{'GET_STARTED' | translate}}</a>
            <p class="term-text">{{'NO_CREDIT_CARD_REQUIRED' | translate}}</p>
          </div>
        </div>
        <div class="illustration-container">
          <img src="assets/images/assets/ils-02.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="fancy-feature-eight mt-110 md-mt-80">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 m-auto">
          <div class="title-style-four text-center mb-80 md-mb-30">
            <h2>{{'CREATE_DOCS' | translate}}
              <span> {{'AND' | translate}} {{'EFORTLESS' | translate}} <img src="assets/images/shape/line-shape-3.svg"
                  alt=""></span>
              {{'HOSTING' | translate}}
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-11 m-auto">
          <div class="row">
            <div class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
              <div class="block-style-ten">
                <div class="icon"><img src="assets/images/icon/55.svg" alt=""></div>
                <h6 class="title">{{'PERSONAL' | translate}}</h6>
                <p>{{'ELEVOK_DOCS_WRITING' | translate}}</p>
                <!-- <a href="#"><img src="assets/images/icon/56.svg" [class.invert]="rtl$ | async" alt=""></a> -->
              </div> <!-- /.block-style-ten -->
            </div>
            <div class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="100">
              <div class="block-style-ten">
                <div class="icon"><img src="assets/images/icon/57.svg" alt=""></div>
                <h6 class="title">{{'BUSINESS' | translate}}</h6>
                <p>{{'ELEVOK_DOCS' | translate}}</p>
                <!-- <a href="#"><img src="assets/images/icon/56.svg" [class.invert]="rtl$ | async" alt=""></a> -->
              </div> <!-- /.block-style-ten -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fancy-text-block-sixteen mt-200 md-mt-80">
    <div class="container">
      <div class="img-slick-slider slick-initialized slick-slider slick-dotted">
        <div>
          <!--           <owl-carousel-o class="slick-track" [options]="docsCarousel">
            <ng-template carouselSlide class="item slick-slide slick-cloned"><img src="assets/images/assets/20945364.png" alt=""></ng-template>
            <ng-template carouselSlide class="item slick-slide"><img src="assets/images/assets/3725427.png" alt=""></ng-template>
            <ng-template carouselSlide class="item slick-slide"><img src="assets/images/assets/19197954.png" alt=""></ng-template>
            <div class="owl-dots" [class.invert]="rtl$ | async"></div>
          </owl-carousel-o> -->
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators slick-dots">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="7000">
                <img src="assets/images/assets/20945364.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="7000">
                <img src="assets/images/assets/3725427.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="7000">
                <img src="assets/images/assets/19197954.png" class="d-block w-100" alt="...">
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-lg-3 col-md-4">
          <div class="block-style-eleven mt-40">
            <div class="num font-rubik">01</div>
            <div class="title">{{'PERSONAL_NOTES' | translate}}</div>
            <p class="font-rubik">{{'PLACE_TO_THINK' | translate}}</p>
          </div> <!-- /.block-style-eleven -->
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="block-style-eleven mt-40">
            <div class="num font-rubik">02</div>
            <div class="title">{{'KNOWLEDGE_BASE' | translate}}</div>
            <p class="font-rubik">{{'HOME_FOR_TEAM' | translate}}</p>
          </div> <!-- /.block-style-eleven -->
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="block-style-eleven mt-40">
            <div class="num font-rubik">03</div>
            <div class="title">{{'PRODUCTS_DOC' | translate}}</div>
            <p class="font-rubik">{{'BEAUTIFUL_DOCS' | translate}}</p>
          </div> <!-- /.block-style-eleven -->
        </div>
      </div>
    </div>
  </div>

  <div class="fancy-feature-nine pt-50 md-pt-80">
    <img src="assets/images/shape/107.svg" alt="" class="shapes shape-one">
    <img src="assets/images/shape/108.svg" alt="" class="shapes shape-two">
    <img src="assets/images/shape/109.svg" alt="" class="shapes shape-three">
    <div class="container">
      <div class="title-style-five text-center mb-60 md-mb-30">
        <h6>{{'GET_STARTED_IN_MINUTES' | translate}}</h6>
        <h2><span>{{'THREE_SIMPLE_STEPS_TO_LAUNCH' | translate}}</span></h2>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
          <div class="block-style-fourteen">
            <div class="illustration"><img src="assets/images/assets/ils_15.svg" alt=""></div>
            <div class="title">{{'JOIN_OUR_PLATFORM' | translate}}</div>
            <p class="font-rubik">{{'JOIN_OUR_PLATFORM_DESCRIPTION' | translate}}</p>
          </div> <!-- /.block-style-fourteen -->
        </div>
        <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-left" data-aos-duration="1200"
          data-aos-delay="100">
          <div class="block-style-fourteen arrow-shape">
            <div class="illustration"><img src="assets/images/assets/ils_16.svg" alt=""></div>
            <div class="title">{{'INTEGRATE_SEAMLESSLY' | translate}}</div>
            <p class="font-rubik">{{'INTEGRATE_SEAMLESSLY_DESCRIPTION' | translate}}</p>
          </div> <!-- /.block-style-fourteen -->
        </div>
        <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-left" data-aos-duration="1200"
          data-aos-delay="200">
          <div class="block-style-fourteen">
            <div class="illustration"><img src="assets/images/assets/ils_17.svg" alt=""></div>
            <div class="title">{{'KICKSTART_CAMPAIGNS' | translate}}</div>
            <p class="font-rubik">{{'KICKSTART_CAMPAIGNS_DESCRIPTION' | translate}}</p>
          </div> <!-- /.block-style-fourteen -->
        </div>
      </div> <!-- /.row -->
    </div>
  </div>

  <div class="fancy-feature-two pt-200 md-pt-80">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-9 m-auto">
          <div class="title-style-one text-center mb-190 md-mb-100">
            <h2>{{'TRANSFORM_YOUR_TRAFFIC' | translate}}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center block-style-two pb-250 md-pb-90">
        <div class="col-lg-7 col-md-8 m-auto">
          <div data-aos="fade-right" data-aos-duration="1200">
            <div class="img-holder img-holder-one">
              <div class="cs-screen progress-line-one" data-aos="fade-right" data-aos-duration="1200"></div>
              <div class="cs-screen progress-line-two" data-aos="fade-right" data-aos-duration="1200"></div>
              <img src="assets/images/assets/ils_12.svg" alt="">
              <img src="assets/images/shape/1.svg" alt="" class="cs-screen screen-one">
              <img src="assets/images/shape/2.svg" alt="" class="cs-screen dot-shape">
              <div class="bubble-one"></div>
              <div class="bubble-two"></div>
              <div class="bubble-three"></div>
              <div class="bubble-four"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="text-wrapper" data-aos="fade-left" data-aos-duration="1200">
            <h6 class="font-rubik" style="color: #FF5291;">{{'UNLIMITED_ACTIONS' | translate}}</h6>
            <h3 class="font-gilroy-bold">{{'DIVERSIFIED_USER_ACTIONS' | translate}}</h3>
            <p>{{'DIVERSIFIED_USER_ACTIONS_DESCRIPTION' | translate}}</p>
            <!-- <a href="#">Learn about flexibility</a> -->
          </div>
        </div>
      </div>

      <div class="row align-items-center block-style-two pb-250 md-pb-90">
        <div class="col-lg-6 col-md-8 m-auto order-lg-last">
          <div data-aos="fade-left" data-aos-duration="1200">
            <div class="img-holder img-holder-two">
              <img src="assets/images/assets/ils_11.svg" alt="">
              <img src="assets/images/shape/3.svg" alt="" class="cs-screen screen-two">
              <img src="assets/images/shape/4.svg" alt="" class="cs-screen dot-shape">
              <div class="bubble-one"></div>
              <div class="bubble-two"></div>
              <div class="bubble-three"></div>
              <div class="bubble-four"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="text-wrapper pl-5 pr-5" data-aos="fade-right" data-aos-duration="1200"
            style="position: relative; z-index: 50;">
            <h6 class="font-rubik" style="color: #AA4CFF;">{{'QUICK_AND_FAST' | translate}}</h6>
            <h3 class="font-gilroy-bold">{{'EFFORTLESS_SCALABILITY' | translate}}</h3>
            <p>{{'EFFORTLESS_SCALABILITY_DESCRIPTION' | translate}}</p>
            <div class="quote">
              <blockquote>{{'QUOTE_FROM_MICLE_DUKE' | translate}}</blockquote>
              <div class="d-flex align-items-center">
                <img src="assets/images/media/img_01.png" alt="">
                <div class="info-meta">
                  <h5>Micle Duke, {{'PRODUCT_MANAGER' | translate}}</h5>
                  <span class="font-rubik">Jamuna Group.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row align-items-center block-style-two pb-170 md-pb-50">
        <div class="col-lg-7 col-md-7 m-auto">
          <div data-aos="fade-right" data-aos-duration="1200">
            <div class="img-holder img-holder-three">
              <img src="assets/images/assets/ils_10.svg" alt="">
              <img src="assets/images/shape/5.svg" alt="" class="cs-screen screen-two">
              <img src="assets/images/shape/6.svg" alt="" class="cs-screen dot-shape">
              <div class="bubble-one"></div>
              <div class="bubble-two"></div>
              <div class="bubble-three"></div>
              <div class="bubble-four"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="text-wrapper" data-aos="fade-left" data-aos-duration="1200">
            <h6 class="font-rubik" style="color: #03DDD5;">{{'MAXIMIZE_ROI' | translate}}</h6>
            <h3 class="font-gilroy-bold">{{'TARGETED_GUARANTEED_ACTIONS' | translate}}</h3>
            <p>{{'TARGETED_GUARANTEED_ACTIONS_DESCRIPTION' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="useable-tools-section bg-color mt-140 mb-50 md-mt-80">
    <div class="bubble-one"></div>
    <div class="bubble-two"></div>
    <div class="bubble-three"></div>
    <div class="bubble-four"></div>
    <div class="bubble-five"></div>
    <div class="container">
      <h6 class="font-rubik">{{'INTEGRATES_WITH_ANY_PLATFORM' | translate}}</h6>
      <h2>{{'INTEGRATES_WITH_ANY_PLATFORM_DESCRIPTION' | translate}}</h2>

      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up" data-aos-duration="1200">
          <div class="img-box bx-a">
            <a href="#"><img src="assets/images/logo/p-1.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="50">
          <div class="img-box bx-b">
            <a href="#"><img src="assets/images/logo/p-2.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="150">
          <div class="img-box bx-c">
            <a href="#"><img src="assets/images/logo/p-3.png" alt=""></a>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
          <div class="img-box bx-d">
            <a href="#"><img src="assets/images/logo/p-4.png" alt=""></a>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="250">
          <div class="img-box bx-e">
            <a href="#"><img src="assets/images/logo/p-5.png" alt=""></a>
          </div>
        </div>
        <div class="col-xl-4 col-lg-2 col-md-4 col-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="50">
          <div class="img-box bx-f">
            <a href="#"><img src="assets/images/logo/p-6.png" alt=""></a>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="100">
          <div class="img-box bx-g">
            <a href="#"><img src="assets/images/logo/p-7.png" alt=""></a>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="150">
          <div class="img-box bx-h">
            <a href="#"><img src="assets/images/logo/p-8.png" alt=""></a>
          </div>
        </div>
        <div class="col-xl-3 col-lg-11 col-md-4 col-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
          <div class="img-box bx-i">
            <a href="#"><img src="assets/images/logo/p-9.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fancy-feature-three pt-200 md-pt-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title-style-one">
            <h6 class="font-rubik">{{'ENRICH_YOUR_COMMUNITY' | translate}}</h6>
            <h2>{{'ENRICH_YOUR_COMMUNITY_DESCRIPTION' | translate}}</h2>
          </div> <!-- /.title-style-one -->

          <div class="counter-info-classic">
            <div class="counter-box-one color-one">
              <h2 class="number font-rubik"><span class="timer" data-from="0" data-to="15" data-speed="1200"
                  data-refresh-interval="5">15</span>m</h2>
              <p class="font-rubik">{{'CAMPAIGNS' | translate}}</p>
            </div> <!-- /.counter-box-one -->
            <div class="counter-box-one color-two">
              <h2 class="number font-rubik"><span class="timer" data-from="0" data-to="3" data-speed="1200"
                  data-refresh-interval="5">28</span>m</h2>
              <p class="font-rubik">{{'ACTIONS' | translate}}</p>
            </div> <!-- /.counter-box-one -->
            <div class="counter-box-one color-three">
              <h2 class="number font-rubik"><span class="timer" data-from="0" data-to="123" data-speed="1200"
                  data-refresh-interval="5">300</span>k</h2>
              <p class="font-rubik">{{'CHALLENGES' | translate}}</p>
            </div> <!-- /.counter-box-one -->
            <div class="bubble-one"></div>
            <div class="bubble-two"></div>
            <div class="bubble-three"></div>
            <div class="bubble-four"></div>
            <div class="bubble-five"></div>
            <div class="bubble-six"></div>
            <div class="bubble-seven"></div>
            <img src="assets/images/shape/8.svg" alt="" class="cs-screen dot-shape">
          </div> <!-- /.counter-info-classic -->
        </div>

        <div class="col-lg-6">
          <div class="clients-feedback-classic md-mt-80">
            <div class="feedback-wrapper aos-init aos-animate" data-aos="fade-left" data-aos-duration="1200">
              <img src="assets/images/media/img_02.png" alt="" class="media-meta">
              <p>{{'QUOTE_FROM_RENA_SINGLETON' | translate}}</p>
              <h6 class="name">Rena Singleton</h6>
              <span class="font-rubik disg-info">{{'FORMER_ASSISTANT' | translate}} Jamuna Group.</span>
            </div> <!-- /.feedback-wrapper -->
            <div class="feedback-wrapper aos-init" data-aos="fade-left" data-aos-duration="1200">
              <img src="assets/images/media/img_03.png" alt="" class="media-meta">
              <p>{{'QUOTE_FROM_RASHED_KA' | translate}}</p>
              <h6 class="name">Rashed Ka.</h6>
              <span class="font-rubik disg-info">{{'UI_DESIGNER' | translate}} Baper Inc.</span>
            </div> <!-- /.feedback-wrapper -->
            <div class="feedback-wrapper aos-init" data-aos="fade-left" data-aos-duration="1200">
              <img src="assets/images/media/img_04.png" alt="" class="media-meta">
              <p>{{'QUOTE_FROM_ZUBAYER_HASAN' | translate}}</p>
              <h6 class="name">Zubayer Hasan</h6>
              <span class="font-rubik disg-info">{{'FRONT_END_CODER' | translate}} HeloShape.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="faq-classic pt-225 md-pt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title-style-one">
            <h6 class="font-rubik">{{'FIND_YOUR_ANSWERS' | translate}}</h6>
            <h2>{{'HAVE_ANY_THOUGHT' | translate}}</h2>
          </div> <!-- /.title-style-one -->
          <!-- <a href="faqs.html" class="theme-btn-one mt-50 md-mt-30">Go to Faq</a> -->
        </div>
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div id="accordion" class="md-mt-60" *ngFor="let faq of faqAccordions; let i = index">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="button-color" class="btn btn-link" (click)="toggleAccordion(i)">
                    {{faq.question | translate}}
                  </button>
                </h5>
              </div>
              <div [style.display]="isAccordionOpen(i) ? 'block' : 'none'" class="collapse"
                [@fadeDownCustomAnimation]="isAccordionOpen(i) ? '*' : 'void'">
                <div class="card-body">
                  <p>{{faq.answer | translate}}</p>
                </div>
              </div>
            </div>

          </div>
        </div> <!-- /.col- -->
      </div>
    </div>
  </div>
  <div class="fancy-short-banner-eight mt-150 md-mt-130" style="background: #eef6fa">
    <div class="bg-wrapper text-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 m-auto">
            <div class="title-style-twelve">
              <h2>
                <span>{{'TRY_ELEVOK_FREE_' | translate}}
                  <img src="assets/images/shape/line-shape-13.svg" alt="" /></span>
              </h2>
              <p class="pt-45 pb-50 text-dark">{{'TRY_ELEVOK_FREE_DESCRIPTION' | translate}}
              </p>
            </div>
            <a class="theme-btn-nine" type="button" data-bs-toggle="modal"
              data-bs-target="#staticBackdrop">{{'START_FOR_FREE' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>