::ng-deep .cdk-drag-preview {
  display: table;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}

.mx-h {
  max-height: 18px;
}
.item {
  cursor: move;
}
.rounded-x {
  border-radius: 20px;
}
.w-65 {
  width: 65px;
}
.custom-hover:hover {
  background-color: #2d3748;
  color: #f7fafc;
}
