/* .dark-layout{
    background-color: #171622;
} */
.custom-footer{
    background-image: url('/assets/images/parallax/27.jpg');
}
.footer-theme .sub-title li a {
    
    color: #000;
}
.footer-theme .sub-title h4 {
    color: #000;

}


p {
    
    color: #000;}
    .subscribe h4 {
        color: #000;

    }
footer{

    background-color: #f9f9f9;
}
.dark footer{
    background-color: #222;
}
